.fancybox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:after {
        position:absolute;
        top:0;
        right:0;
        content:'';
        width: 20px;
        height: 20px;
        background: url("http://downloadicons.net/sites/default/files/full-screen-icon-32241.png");
        /* background: url("/vytrishky/assets/images/icons/full-screen-icon-32241.png"); */
        background: {
            repeat: no-repeat;
            position: center center;
            color: transparent;
            size: 20px 20px;
        }
    }
}

.fancybox-close {
    top: 0;
    right: 0;
}

.fancybox-skin {
    border-radius: 2px;
}

.fancybox-image {
    background-size: contain;
    background-position:50% 50%;
    background-repeat:no-repeat;
    height:100%;
    width:100%;
}