@import "fonts.css.scss";
@import "filters.css.scss";


// ------------------------------------------------------------------
.intro-header {
    position: relative;
    font-family: $caviar;
    z-index: 1;
    &.snap {
        margin-top: 5ex;
    }
    h2 {
        i.disabled {
            color: #666;
        }
        a {
            color: white;
            &:hover {
                color: #337ab7;
            }
        }
    }
    padding: {
        top: 5em;
        bottom: 5em;
    }
    color: white;
    a {
        color: white;
    }
    h2, span {
        text-align: justify;
    }
    position: relative;

    &.chapter-divider-light {
        color: black;
        font-weight: bold;
        a, p, h1, h2, h3, h4, h5, h6 {
            color: black !important;
            font-weight: bold;
        }
    }
    &.chapter-divider-tall {
        min-height: 100vh;
    }
    video.bgvid {
        clear: both;
        top: 50%;
        left: 50%;
        width: auto;
        height: 100%;;
        overflow: hidden;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        position: absolute;
        z-index: -100;
        background-repeat: no-repeat;
        background-size: cover;
        @media screen and (max-width: 799px) {
            display: none;
        }
    }
}

blockquote {
    /* @media screen and (min-width: 800px) { */
    /*     /\* margin-left: 15%; *\/ */
    /*     /\* margin-right: 15%; *\/ */
    /*     text-align: center; */
    /* } */
    font-family: Lora,'Times New Roman',serif;
    font-style: italic;
    text-align: justify;
    text-indent: 3ex;
}

.photo-wrapper {
    padding-bottom: 75%;
    position: relative;
    margin-bottom: 1ex;
    &.photo-portrait {
        padding-bottom: 150%;
        > .card {
            .card-image {
                height: 85%;
            }
        }
    }
    > .card {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        height: 100%;
        background-size: contain;
        margin-bottom: 20px;
        background-position: center center;
        background-repeat: no-repeat;
        padding-bottom: 75%;
        .card-image {
            @include vignette(0,0.6);

            height: 70%;
            position: absolute;
            top: 0; bottom: 20%; left: 0; right: 0;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        .card-text {
            position: absolute;
            bottom: 0; left: 0; right: 0;
            background-color: #fff;
            padding: {
                left: 1.5ex;
                right: 1.5ex;
                top: .5ex;
                bottom: 0;
            }
            font-size: 85%;
            overflow: auto;
            height: 30%;
            overflow: auto;
            p {
                margin: 0;
            }
        }
    }
}

.gallery-text-box {
            position: absolute;
            bottom: 0; left: 0; right: 0;
            background-color: #fff;
            padding: {
                left: 1.5ex;
                right: 1.5ex;
                top: .5ex;
                bottom: 0;
            }
            font-size: 85%;
            height: 20%;
            overflow: auto;
            .container {
                p {
                    margin: 0;
                }
                padding: 0;
                width: 100%;
            }
}

.card {
    &.google-map {
        padding: 7px;
        position: relative;
        > a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &.card-light-shadow {
        box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.33), 8px 8px 15px rgba(255, 255, 255, 0.15), ;
    }
    .gallery-text {
        height: 15%;
    }
    table {
        border-collapse: collapse;
        td {
            border: 1px solid white;
        }
        tr:first-child td {
            border-top: 0;
        }
        tr td:first-child {
            border-left: 0;
        }

        tr td:last-child {
            border-right: 0;
        }
        &.gallery {
            width: 100%;
            height: 80%;
            margin-bottom: 10%;
            tr.gallery-row {
                /* &:first-child td{ */
                /*     border-top: 0; */
                /* } */
                td.gallery-cell {
                    /* border-left: 1px solid white ; */
                    height: 100%;
                    background-size: cover;
                    background-position: center top;
                    background-repeat: no-repeat;

                }
            }

        }
    }
}



// Series navigation
//
#series-nav {
    small {
        color: white;
    }
    .series-link h3 {
        display: inline-block;
        line-height: 2em;
        width: 2em;
        border: 1px solid white;
        margin-left: 1ex;
        border-radius: 50%;
        vertical-align:middle;
        background: transparent;
        text-align: center;
        text-shadow: none;
        color: white;
        &.active {
            background-color: white;
            color: black;
        }
    }
    &.series-nav-light-bg {
        small { color: #666; };
        h2 {
            color: #666;
        }
        .series-link h3 {
            color: #666;
            border-color: #666;
            &.active {
                background-color: #666;
                color: white;
        }
        }
    }
}

#year-nav {
    a {
        display: inline-block;
        line-height: 3.9em;
        width: 4em;
        border: 3px solid white;
        margin-left: 1ex;
        border-radius: 50%;
        vertical-align:middle;
        background: transparent;
        text-align: center;
        color: white;
    }
    &.year-nav-index {
        a {
            color: #666;
            border-color: #666;
        }
    }
}

.current-page-tags {
    i {
        padding: 2ex;
    }
    position: absolute;
    right: 20px;
    bottom: 20px;
    a {
        color: white;
        font-size: 80%;
        &:not(:last-child) {
            &:after {
                content: "|";
                padding: 1ex;
            }
        }
    }

}
.footer-links  {
    i.fa.fa-2x {
        color: rgb(64,64,64);
    }
    li {
        list-style: none;
        .meta {
            font-size: 70%;
            text-indent: 3ex;
        }
    }
    i.fa.fa-small {
        line-height: inherit;
        vertical-align: middle;
        color: #ddd;
        margin-right: 10px;
        font-size: 80%;
    }
    a {
        margin-right: 1ex;
        font-size: 85%;
        display: inline-block;
        color: #666;
        text-decoration: none;
        a:hover {
        color: #666;
        text-decoration: none;
        }
    }
}

.social-buttons {
    line-height: 1em;
    position: fixed;
    top: 30%;
    left: 20px;
    > div {
        margin-top: 10px;
    }
    @media screen and (max-width: 1199px) {
        position: absolute;
        margin-top: 5ex;
        top: 0;
        z-index: 2;
    }
}

#footer-well{
    position: relative;
    /* Above social links */
    .row {
        z-index: 1;
    }
}


.footnotes {
    border-top: 1px solid #ccc;
    p {
        font-style: italic;
        font-size: 90%;
        padding-left: 5ex;
    }
}

.tooltip {
    font-size: 1em;
    font-family: $caviar;
}
.tooltip-inner {
   border: 2px solid #fff;
   border-radius: 7px;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #fff;
}
