video#bgvid[autoplay muted="muted" loop="loop"  class="#{Array(filters).join(" ")}" ]
  source src="#{post_image_path video}.webm" type="video/webm"
  source src="#{post_image_path video}.mp4" type="video/mp4"
