.iframe-wrapper
  iframe src="https://player.vimeo.com/video/#{vimeo_bg}?title=0&byline=0&portrait=0&color=000000&autoplay=1&loop=1&background=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen
