---
layout: post
title: |
  Парад тайку в Ісе Джінґу
series: Прикладна шінтоїстика

summary: |
  26 липня відвідували внутрішній храм ― Ісе джінґу.

intro:
  image: taiku17.jpg
images:
  basepath: 2002/taiku_matsuri
description: |
    Біля внутрішнього храму Ісе джінґу в прихрамовому містечку саме в цей час відбувався фестиваль ( мацурі ) тайку «Тон-токо-тон Доко-дон-доко» (とんーとこーとんーどこーどんーどこ祭り). «Тон-тон» японською теж саме, що у нас виражається звуками «бум-бум». Тому і назву свята можна, мабуть, перекласти українською приблизно як; «Бум-бум-трах-тарабах парад».
tags:
  - Ise
  - shinto
  - Mie
  - travel

---

= chapter do
  markdown:

    Тайку ― це такі великі барабани, часто зроблені з видовбаної колоди дерева, обтягнуті шкірою. Практично жодне храмове свято чи літній фестиваль не обходяться без концерту місцевого ансамблю тайку. Якщо Вам пощастило і Ви живете десь на відстані сорока хвилин електричкою від Токіо, та ще й біля місцевої школи, то за кілька місяців до літа (більшість літніх фестивалів відбуваються на початку чи в середині липня) кожного дня будете щасливим слухачем такого собі «тон-доко-дон» лунаючого вечорами з спортзалу школи ― місцева група тайкістів має репетицію.


    Чим далі від центру, від цивілізації (від Токіо, наприклад), тим „серйозніше“ люди віддаються справі „мацурення“. Щоб відчути, що це таке, треба хоча б раз в житті побувати в гущі розгулу.

    Наприклад, спробувати пронести „мікоші“ разом з сусідами. Зміна відношення відчувається тут же, за кілька хвилин. Японці, з якими до цього пів-року чи рік, кожного дня, регулярно їздив в електричці, і які старанно робили вигляд, що тебе не помічають, після кількох десятків метрів пістрибування підтюпцем під вагою колоди з мікоші на ній, та після двох-трьох склянок саке або пива для всієї „толоки“, перетворюються на найсердечніших друзів на весь залишок життя.

    Кожен мацурі включає програму тайку --- велику чи малу ― залежить від розмаху свята. Від одного-єдиного барабана, до цілих оркестрів барабанів, бубнів та дзвіночків різних форм і розмірів, часто в супроводі флейти.

    В музиці «тайку» відчувається справжня „первісна“, дика енергія. Тайку чи не найвиразніша проява суті шінтоїзму і релігійних обрядів шінто. Тихі, стримані, з вічно опущеними додолу очима японці (в повсякденному житті), починаючи „мацурити“ перетворюються на свою протилежність.

    Можливо, десь в глибині віків японський селюк, якого вже „дістали“
    або самураї з своїми війнами, або войовничі сусіди, біг на гору до лісу, знаходив десь пеньок від щойно спиляної криптомерії чи кипариса, і кілька годин підряд з усієї дурі гамселив об пеньок двома дубцями. На душі у нього ставало легше, і селюк ішов додому переконаний, що це саме Камі-Сама допомогли йому подолати депресію.

    Той же азарт, того ж самого селюка, відчувається досі в усіх мацурі і концертах тайку.  Найнижчі частоти ударних проникають ніби-то через шкіру до кісток. Від барабанів (чи, скоріше, навіть литавр або козацьких казанів) діаметром у півтора-два метри, здається утворюється інфразвук і разом з атмосферою свята цей звук „проймає“. Жоден звукозапис не здібен відтворити справжній звук тайку, не кажучи вже про відтворення атмосфери.

  = gallery %w{taiku1.jpg taiku10.jpg taiku11.jpg taiku12.jpg taiku14.jpg taiku15.jpg taiku16.jpg taiku18.jpg taiku19.jpg taiku2.jpg taiku20.jpg taiku3.jpg taiku4.jpg taiku5.jpg taiku6.jpg taiku7.jpg taiku8.jpg taiku9.jpg}

  markdown:
    Кілька оркестрів тайку з різних районів префектури Міе марширували вуличками прихрамового містечка і по черзі (відпочиваючи від марширування) грали на кількох імпровізованих сценах. Центральна група складалась з барабана діаметром понад два метри і підводи, на якій сиділи ще чоловік 10 з барабанами меншого розміру, з цілими наборами дзвіночків і ще чогось ударно-мелодичного. А також в оточенні цілого натовпу підстрибуючих і приплясуючих барабанщиків з барабанами великими і маленькими, товстенькиим і тоненькими.

    Час від часу процесія зупиняється, і тоді кожному учаснику оточуючого натовпу гаволовів (про гав, це, можливо, трохи занадто ― під такий шум гав ловити абсолютно неможливо, бо вони вже всі розлетілись куди подалі) і слухачів надається можливість зацідити з усієї дурі кілька десятків разів величезною палицею (ґіґантоманський варіант барабанної палички) в не менш грандіозний барабан. Наші діти також приймали участь в параді з «тайку» і гамселили в величезний барабан. Дали погамселити також і дорослим ― ображених не було.

    Помстившись за крихти поганого настрою (в кого вони були) на барабанах, пополудні ми виїхали в напрямку Матцу-Зака (松坂).
