---
layout: post
title: |
  Великий храм Ісе Джінґу
series: Прикладна шінтоїстика

summary: |
  26 липня відвідували внутрішній храм ― Ісе джінґу.

description: |
  Храм в Ісе ( 伊勢神宮, Ісе-джінґу, храм Ісе) вже існує біля двох тисяч років і з давніх часів вважався найголовнішим шінтоїстським храмом Японії, „шінтоїстською Меккою”, належить до найбільш важливіших в усій Японії шінтоїстських святинь. Тому він також відомий як Великий храм, а японською мовою ще як просто Храм (джінґу ― 神宮 ). Що напевне свідчить про його значимість. Кожен мріяв про те щоб хоча б раз за життя відвідати Ісе-джінґу. Не в усіх на це ставало грошей чи часу, і в таких випадках сім'я відряджала одного з домочадців на прощу в Ісе.

intro:
  image: "title.jpg"
images:
  basepath: 2002/ise_jingu
tags:
  - Ise
  - shinto
  - "Ise jingu"
  - Mie
  - travel
  - culture

---

= chapter do
  markdown:
    Територія навколо храму ― національний парк, вздовж мальовничих берегів річки Ісудзу з лісами з кедрів і вічнозелених кущів «сасакі». Обидві рослини за віруваннями шінто вважаються священними, оскільки в них живе «ке» ― містична, невидима природня сила, яка населяє об'єкти типу каміння і дерев. Назва цієї сили «мононоке», або «дух неживої природи».

  = pull_right gallery(%w{voda1.jpg voda2.jpg voda3.jpg}), 6 do
    markdown:
      Перед кожним храмом в Японії ви обов'язково побачите кам'яний або мідний басейн з протічною водою і великою кількістю черпачків на довгих дерев'яних ручках. Для того, щоб сполоснути руки перед входом до храму: до храму треба завжди заходити попередньо очистившися.

  = pull_left gallery(%w{river1.jpg river2.jpg river3.jpg river4.jpg river5.jpg river6.jpg}), 6 do
    p Такі ж «умивальники» є і на вході в Ісе Джінґу, а в давніші часи річка, яка протікає і обтікає навколо Ісе Джінґу слугувала для очищення: для очищення прочани перетинали річку вбрід.

  = pull_right gallery(%w{naiku1.jpg naiku2.jpg naiku3.jpg naiku4.jpg naiku5.jpg naiku6.jpg naiku7.jpg naiku8.jpg naiku9.jpg naikuA.jpg naikuB.jpg naikuC.jpg}), 6 do
    markdown:
      Власне, весь храм Ісе джінґу складається з двох частин: внутрішнього храму, або Найку (内宮) та зовнішнього Ґеку (外宮). Кожна з двох частин займає величезну територію і знаходяться вони одна від одної на відстані кількох кілометрів.

= divider "naiku.jpg", filters_plus: %w{text-on-dark text-shadow} do
  h1 Внутрішній храм Найку, 内宮.
  p Внутрішній «храм» складається з кількох сотень «храмів», від маленьких до великих, кожен присвячений своєму божеству. Основне святилище внутрішнього храму присвячене Великій Богині Аматерасу ( Аматерасу-но-Окамі ). Аматерасу ― Богиня сонця і верховна богиня імператорської сім'ї, оскільки вважається, що вся імператорська генеалогія походить від Аматерасу і, що вона є праматір'ю всіх японських імператорів.

= chapter do
  markdown:

    Сам цей факт пояснює причину такої важливості храму ― сюди в моменти прийняття важливих рішень приходить поклонитись самій Великій Аматерасу імператор. До центральної частини храму може допускатись тільки сам імператор і у особливо виключних випадках сюди можуть допускатись його домочадці.

    За легендою у внутрішньому храмі, в основному святилищі Аматерасу знаходиться одна з трьох найважливіших реґалій і реліквій імператорської сім'ї. А саме: дзеркало Аматерасу. Це є за легендою саме те люстерко, в яке дивилась Аматерасу, коли вилізла з печери на заклик півня. Дзеркало зберігається у храмі ще з третього сторіччя, і з того часу його не бачила жодна жива душа.

    Тільки імператорська сім'я має право дивитись на це люстро, а для захисту воно загорнене в полотняну торбу. Коли торба приходить в негідність, тоді шиється ще одна торба, і разом з рештками попередньої люстро вкладається в нову. На одному з англомовних сайтів стверджуться, що за слухами на задній стороні дзеркала написи зроблено давньою єврейською.

    Будівля храму Аматерасу обнесена чотирма рядами парканів. До першого, зовнішнього ведуть кілька десятків сходинок. Від входу --- вже за першими воротами --- забороняється фотографувати, а побачити саму будівлю храму не так вже й легко ― паркани закривають від зору майже всю будівлю крім солом'яного даху і кедрових балок покрівлі.

  = gallery %w{hram1.jpg hram2.jpg hram3.jpg hram4.jpg hram5.jpg hram6.jpg}

  markdown:


  = pull_left(gallery(%w{architecture.jpg architecture2.jpg}), 6) do
    markdown:
      Якщо Ви розраховуєте на щось надзвичайне ― захоплений подих від красот найдавнішого японського храму ―, забудьте про це. Будівля являє собою класичний зразок японського шінтоїстського храмобудівництва. Якщо Ви ще такого не бачили, то згадайте клуню Вашої бабці, і це буде найточнішим наближенням до архітектурного стилю Храму Верховної Богині.


  markdown:
      А вміння побудовати храм з найбільшою простотою якраз і вважається найвищим. Всі путівники пишуть теж саме: саме в будівлі Великого Храму нарешті ось вдалось втілити ідеал побудови і створити храм, який нічим не відрізняється від зерносховища (у цьому випадку ― рисосховища, або «кура» --- японською, 倉)

  = pull_left photo(%w{priests.jpg}, layout: :portrait) do
    markdown:

      Прохід далі ― за другі ворота ― закритий і кого попало сюди не пускають. Але все-таки, заплативши 5 тис. йен, можна пройти за другий паркан, щоб помолитись Аматерасу перед воротами між другою і третьою загорожею. Якщо захочеться самому, або якщо пощастить і під час візиту хтось з відвідувачів прийде помолитись, можете стати свідком процедури підготовки до входу за другий ряд загороджень. Ліворуч від входу між першим і другим парканом відгороджена невелика територія з дерев'яним дашком. Тут священники готують прощан до входу у «святішу» зону. Підготовка полягає в очищенні. В якості очисної субстанції використовується сіль, а процес очищення полягає в щедрому посипанні сіллю в супроводі молитов.

  markdown:
    Але навіть пройшовши через це, Вам не вдасться пройти за другу загорожу через центральні ворота. Сюди входять тільки через бічний вхід, з лівого боку, обійшовши навколо по периметру коридором між першим і другим парканом: через невеличку хвірточку, якої навіть і непомітно спочатку.

    А вже за другий паркан пройти навіть і не думайте ― туди можливо зайти тільки ставши імператором Японії (що, можливо, не так просто для уроженця України). Навіть сам імператор поклоняється Богині між третім і четвертим парканом, і тільки у визначних випадках імператор може пройти за четвертий паркан до храму.

    Саме під час нашого візиту сюди ми були свідками процедури підготовки. Якась жінка приходила помолитись Верховній Богині, а ми в цей час слухали розповіді про храмові традиції і бувальщини від одного дідка з охорони храму.


  markdown:

    Треба було бачити захоплені очі оповідача, коли він розказував про візити імператора до храму! і про те, як найперший раз за всю історію за третій паркан було пропущено не члена імператорської сім'ї ― наречена принця Нарухіто (зараз ― принцеса Масако) отримала дозвіл помолитися тут кілька років тому!

= divider "vik_title.jpg", filters: %w{text-shadow-2} do
  h1 Непросте питання про вік храмів

  p Будь-який путівник розповідаючи про храм буде посилатись на його надзвичайну старовизну. Ви прочитаєте про кілька тисяч років, які минули від заснування храму. Але просто глянувши на новенькі колоди з гладенько обструганого дерева, починають виникати деякі сумніви: чому це в Японії деревина може залишатись в такому чудовому стані на протязі стількох сотень чи навіть тисяч років, а паркан на дачі в Україні перетворюється в непотріб через пару десятків років (якщо не буде розтягнутий доброзичливцями раніше)?

  p Але розгадка виявляється дуже простою. Храми перебудовуються. Часто.

= chapter do
  markdown:


    Кожна з будівель храмів поновлюється через кожні 20 років. І ці 2000 років існування храму не відносяться, власне, до самої будівлі храму, а тільки до того місця, на якому він збудований. Дуже часто саме місце є святим і в поняттях шінтоїзму, мабуть, можна вважати, що саме саме це святе місце і є тим храмом, а не будівля.


    Перебудова відбувається наступним чином: храми мають по два майданчики. Майданчики абсолютно однакові і обидва розташовані поруч. Але один майданчик несе на собі будову храму, в той час як інший практично пустує; на ньому стоїть тільки мініатюрна модель храму, розташованого поруч. Через 20 років все міняється. На порожньому майданчику будується новий повнорозмірний храм, а після його відкриття стара будівля розвалюється і на її місці споруджується міні-модель.

  = gallery %w{vik1.jpg vik2.jpg vik3.jpg vik4.jpg vik5.jpg vik6.jpg  }

  markdown:

    Особливо ця традиція витримується в старих храмах в Ісе. Майже всі храми ― великі і маленькі, займають подвійну площу. В Токіо ― чи то з економії простору, чи через те, що ця традиція не дуже чітко дотримується в індустріалізованих районах ― ми такого не помічали. Тому, хоча ми про це і чули раніше, але побачити на власні очі було вновину.

    Все це стосується також і головного храму Найку. Розташовані поруч два ідентичних кам'яних майданчики розміром біля 100 на 100 метрів несуть на собі: грандіозні будівлі головного храму оточеного чотирма рядами парканів і величною чередою паломників та ловців гав перед центральними воротами святилища (правий майданчик останні 20 років, починаючи з 1993) і абсолютно порожній кам'яний квадрат такого ж розміру, який від чорного квадрату Малєвича відрізняється хіба що кольором, розміром і невеличною будочкою заввишки біля метра в самому центрі квадрату (ліва на сьогоднішній день половина храму Аматерасу).

    Будівлі храму Аматерасу були побудовані в 692 році і з того часу перебудовуються кожні 20 років. Таким чином в 1991 році відбулась їхня 61-а перебудова.

    Як і всі шінтоїстські храми, ця будова зроблена з дерева без єдиного цвяха. Натомість кедрові стовбури обробляються таким чином, що зчеплюються в «замки» один з одним. Столяри, які спеціалізуються на побудові шінтоїстських храмів, чітко слідкують за дотриманням технолоґії побудови. Це мистецтво передається від батька до сина із століття в століття. І існують династії столярів, в яких це мистецтво утримується вже на протязі кількох сотень років.

    В багатьох випадках планів храмів не існує, а будівельники роблять все з пам'яті. Тому то і процес навчання підмайстрів триває від 10 до 12 років. Але мине ще двадцять, або й більше років, поки підлеглий зможе застосувати набуті знання на практиці. До того ж часу він буде виконувати роботу підручного. Побудова храму займає біля 8 років і вінчає її спеціальна церемонія відкриття.

    # Зовнішній храм Ісе джінґу, Ґеку (外宮).

    Через брак часу ми вирішили не відвідувати його (після відвідин більш „важливого” внутнішнього храму☺).

    Тому просто коротенькі дані про нього.

    Головним святим Зовнішнього храму є Тойоуке-но-Окамі: Велика Богиня ситної їжі та одягу. І це не дарма. Основна „бізнес-функція” зовнішнього храму, це служіння Верховній Богині Аматерасу. Головною „справою” Тойоуке (豊受) є забезпечення головної Богині Аматерасу їжею і одягом. Томі і сьогодні головною справою священникі Ґекку є приготування священої їжі і питва для Аматерасу.
