---
language: ukrainian
layout: post
title: "День перший: Фукушіма, рухаємося на північ."
series: Літо на півночі Японії
top_image: "vidpustka_13/fukushima_day1/IMG_1465.jpg"
# series:
# github_project:
# gh_pages:
#
include_toc: false
#
# Make TOC floating or plain: left or right
# float_toc: right
#
# What headers to include in TOC: not they must be double and single quoted
# toc_headers: "'h1,h2,h3'"
tags:
  - Japan
  - Ukrainian
  - travel
published: true
summary: |
  Перший день відпустки. Вирушили на північ у напрямку Аоморі.
description: |
  Поночі з тридцятиградусного Токіо вирушили, як завжди, навмання, маючи приблизний напрямок подорожі. Цього разу - „північ, десь у напрямку Аоморі“. І через кілька годин драйву знайшли себе одягненими цілком по-сезону — у майці, шортах і гумових в’єтнамках, але не по-місцю: у вісімнадцяти-градусному лісі, в горах Фукушіми

---

= partial "post/chapter" do

  markdown:

    > В попередні відпустки ми кожного разу забували щось взяти з собою з дому. Доводилося докуповувати в дорозі, чи обходитися так. Цього разу все відбувалося інакше. Ми ретельно підготувалися і взяли все. Що вважали за потрібне: плавки-купальники, ласти-маски, гарпун і сітку для риби. Захисні креми від сонця, і навіть сіль-цукор-каву. Ну і всякі дрібнички - спальники, стільчики, похідну газову плитку. Всьо чьотко.

    Поночі з тридцятиградусного Токіо вирушили, як завжди, навмання, маючи приблизний напрямок подорожі. Цього разу &mdash; „північ, десь у напрямку Аоморі“.

= partial "post/divider", locals: {image:  "vidpustka_13/fukushima_day1/IMG_1481.jpg"}

    p І через кілька годин драйву знайшли себе одягненими цілком по-сезону &mdash; у майці, шортах і гумових в’єтнамках, але не по-місцю: у вісімнадцяти-градусному лісі, в горах Фукушіми, <a  href='https://www.google.com/search?q=%E3%81%82%E3%81%9F%E3%81%A0%E3%82%89%E3%81%93%E3%81%86%E3%81%92%E3%82%93'>Атадара коуґен</a>). Під дощем, на гірському туристичному маршруті, серед річок і водоспадів. Повітря &mdash; добре піддобрене запахом варених яєць від онсенних джерел навколо.


= partial "post/chapter" do

  p Речей для таких походів у нас на цей раз виявилося, м’яко кажучи небагато. І не можна сказати, що ми їх забули. Просто вирушаючи до моря, якось не думалося, що потрапимо до гір і про довгі штани і взуття з шкарпетками якось не подумалося. Тож ми місили чавкаючи багнюку своїми в’єтнамками під прозорими поліетиленовими парасольками. Більш невідповідний вигляд для гірських маршрутів уявити важко.

  /  vidpustka_13/fukushima_day1/IMG_1463.jpg
  /  vidpustka_13/fukushima_day1/IMG_1482.jpg :: Тут зупинилася риба...
  /  vidpustka_13/fukushima_day1/IMG_1483.jpg :: В річці повалені дощами дерева.
  /  vidpustka_13/fukushima_day1/IMG_1479.jpg
  /  vidpustka_13/fukushima_day1/IMG_1554.jpg
  /  vidpustka_13/fukushima_day1/IMG_1556.jpg
  /  vidpustka_13/fukushima_day1/IMG_1465.jpg
  /  vidpustka_13/fukushima_day1/IMG_1466.jpg
  /  vidpustka_13/fukushima_day1/IMG_1468.jpg
  /  vidpustka_13/fukushima_day1/IMG_1473.jpg
  /  vidpustka_13/fukushima_day1/IMG_1547.jpg
  /  vidpustka_13/fukushima_day1/IMG_1469.jpg
  /  vidpustka_13/fukushima_day1/IMG_1470.jpg :: Тут живуть лисички Інарі, під захистом Шіси.
  /  vidpustka_13/fukushima_day1/IMG_1471.jpg
  /  vidpustka_13/fukushima_day1/IMG_1474.jpg :: Дуже веселі і мальовничі сім Богів щастя.
  /  vidpustka_13/fukushima_day1/IMG_1476.jpg
  /  vidpustka_13/fukushima_day1/IMG_1545.jpg
  /  vidpustka_13/fukushima_day1/IMG_1546.jpg
  /  vidpustka_13/fukushima_day1/IMG_1553.jpg

  = partial "post/gallery", locals: {images: [ \
    "vidpustka_13/fukushima_day1/IMG_1481.jpg", \
    "vidpustka_13/fukushima_day1/IMG_1482.jpg", \
    "vidpustka_13/fukushima_day1/IMG_1483.jpg", \
    "vidpustka_13/fukushima_day1/IMG_1479.jpg", \
    "vidpustka_13/fukushima_day1/IMG_1554.jpg", \
    "vidpustka_13/fukushima_day1/IMG_1556.jpg", \
    "vidpustka_13/fukushima_day1/IMG_1465.jpg", \
    "vidpustka_13/fukushima_day1/IMG_1466.jpg", \
    "vidpustka_13/fukushima_day1/IMG_1468.jpg", \
    "vidpustka_13/fukushima_day1/IMG_1473.jpg", \
    "vidpustka_13/fukushima_day1/IMG_1547.jpg", \
    "vidpustka_13/fukushima_day1/IMG_1469.jpg", \
    "vidpustka_13/fukushima_day1/IMG_1470.jpg", \
    "vidpustka_13/fukushima_day1/IMG_1471.jpg", \
    "vidpustka_13/fukushima_day1/IMG_1474.jpg", \
    "vidpustka_13/fukushima_day1/IMG_1476.jpg", \
    "vidpustka_13/fukushima_day1/IMG_1545.jpg", \
    "vidpustka_13/fukushima_day1/IMG_1546.jpg", \
    "vidpustka_13/fukushima_day1/IMG_1553.jpg"]}


  p Цілий день лив дощ, інколи змінюючись або на туман, або на зливу. Чудовий контрастний день після спекотного міста.


= partial "post/chapter" do
  = partial "post/photos3", locals: {images: ["vidpustka_13/fukushima_day1/IMG_1485.jpg", "vidpustka_13/fukushima_day1/IMG_1486.jpg"], layout: :portrait }

    p Все закінчилося добре: молочно білою сірчаною водою у #{link_to "Такаю-онсен", "http://goo.gl/kBebXu"} у ротенбуро з виглядом на молочно-білий туман і кількома гілками сосон, що проглядали крізь нього.

    p Заночували на #{link_to "いいで道の駅", "https://www.google.com/search?q=%E3%81%84%E3%81%84%E3%81%A7%E9%81%93%E3%81%AE%E9%A7%85"}. Ближче до ночі злива перетворилася на справжню грозу з блискавками і громом, і заливало так, що машина була схожа на катер. Але до пів-ночі дощ ущух і навіть виглядав місяць і заглядав у очі, заважав спати. Під ранок - тихий, молочний туман.

= partial "post/chapter" do
  = partial "post/photos3", locals: {images: ["vidpustka_13/fukushima_day1/IMG_1487.jpg", "vidpustka_13/fukushima_day1/IMG_1488.jpg", "vidpustka_13/fukushima_day1/IMG_1489.jpg"], layout: :portrait } do


    p Рухаємося далі на північ.
