---
language: ukrainian
layout: post
title: "День восьмий: Найглибше озеро Японії"
series: Літо на півночі Японії
intro:
  image: "IMG_2239.jpg"
images:
  basepath: vidpustka_13/day8
tags:
  - travel
  - lake Tazawa
  - Tohoku
  - Akita
  - samurai
  - Kakunodate
published: true
summary: |
  Озеро Тазава знаходиться на півночі префектури Акіта, найглибше озеро Японії.
description: |
  Озеро Тазава знаходиться на півночі префектури Акіта, найглибше озеро Японії. Глибина оз. Тазава — 423 метри, що при досить невеликому розмірі самого озера, відчутна величина.

---

=chapter do
  .col-sm-6
    markdown:

      # День восьмий.

      ## Префектура Акіта.

      Восьмий день подорожі, понеділок другого тижня.

      За тиждень ми встигли подивитися те, що не сподівалися побачити, або про існування чого зовсім собі не уявляли. Але встигли і скорегувати свої плани, оскільки цікавинок на дорозі виявилося значно більше, ніж ми собі чекали. І всі ці цікавинки гальмують наше просування до тої мети, яку ми собі намітили.

  .col-sm-6
    markdown:

      Загалом ці наші мандрівки ми плануємо приблизно вибравши напрямок руху: Хокуріку, чи Міе. Чи як цього разу — північ і Аоморі. Але все-таки деякі орієнтири встановлюються.

      Так, цього разу уявлялося, що вдасться  відвідати [Небута мацурі](http://en.wikipedia.org/wiki/Aomori_Nebuta_Matsuri), в Аоморі. Але з огляду на те, де ми зараз і скільки часу залишилося, мабуть цього разу Небута пролітає. <em>(Пост-фактум: Небута таки пролетіла).</em>

= divider "IMG_2225.jpg" do
  markdown:
    # Самурайське селище

    В Какунодате (角館) знаходиться невеличке самурайське поселення. Кілька вуличок, що місцевими називаються „Маленьким Кіото“ — є далеко не першим „Маленьким Кіото“, що ми зустрічали мандруючи по Японії. Садиби заселені стародавніми самурайськими родинами. Деякі з садиб діють, як невеличкі музеї. Екскурсії по таких садибах проводять самі, власне, нащадки самураїв.


=chapter do
  = gallery imgs(%w{1772 1774 1775 1776 1777 1778 2200 2201 2202 2203 2205 2207 2209 2210 2211 2213 2214 2215 2216 2218 2219 2220 2221 2222 2224 2225 2227 2228}) do
    p Садиба Ішіґуро — найдавніша з садиб у цьому селі. Тут — кілька фото з садиби та вуличок самурайського села.



= divider "IMG_2230.jpg", filters:[] do
  markdown:
    # Озеро Тазава (田沢湖) (Тазава ко)

    Озеро Тазава знаходиться на півночі префектури Акіта, це - найглибше озеро Японії. Глибина оз. Тазава — 423 метри, що при досить невеликому розмірі самого озера, досить відчутна.

    Озеро — вулканічного походження, утворене в кратері вулкану. Також до недавнього часу залишалося одним з найчистіших озер Японії. Вода в озері все ще кришталево чиста і можна в деталях розглядати пісчане дно на кілька метровій глибині, але через спорудження греблі для гідро електро станції в 1940х роках і через кислотні витоки від сірчаних ванн Тазава онсену, деякі місцеві сорти риб зникли з озера.


= chapter do

  = pull_right  partial(:google_map, locals: { url: "https://www.google.com/maps?t=m&amp;q=Lake+Tazawa&amp;dg=opt&amp;ie=UTF8&amp;hq=&amp;hnear=Lake+Tazawa&amp;z=12&amp;ll=39.729519,140.654379&amp;output=embed" }) do
    p Позитивна відмінність озера від багатьох інших гірських озер в Японії — це кілька пісчаних пляжів, де можна купатися. Пляжі не надто великі, і не дотягують до Вайкікі, але відсутнсть розмаху компенсується відсутністю людей. В найсезонніший час — літніх канікул — тут, м'яко кажучи було не велелюдно. Хоча зі слів робітника пляжу під час обону на цьому невеликому клаптику піску збирається понад п'ять сотень пляжників.

  p Зупинятися з машиною чи наметом можна в кількох авто-кемпінгах навколо озера, але якщо мета — просто переночувати до ранку (як було з нами), то цілком можливо зупинитися на одній з невеличких стоянок, обладнаних водою і туалетами, яких тут доволі.

  markdown:
    З берегів озера відкриваються мальовничі краєвиди. Оскільки озеро загалом невелике, то чудово видно гірські кряжі на протилежному боці озера. Також, судячи з нічного пейзажу, місця навколо озера не густо заселені, оскільки вогні поселень можна перелічити по пальцях однієї руки. І це дійсно виявилося так, коли ми наступного дня об'їхали озеро по колу — всього в кількох місцях є сякі-такі туристські принади, а міст і сіл практично немає.

  = gallery imgs(%w{2230 2231 2233 2235 2237 2239 2240 2241})


= divider "IMG_2257.jpg" do
  markdown:
    # Навколо озера

    На наступний день погода не вдалася, і замість купання в озері ми вирішили об'їхати його машикою і подивитися місцеві принади. Їх тут є кілька, але досить цікавих.


=chapter do
  = gallery(imgs(%w{2247 2248 2255 2257 2260 2268 2267 2287 2296 2297 2300})) do
    p До речі, вода на фото не "фотошоплена", вона справді має таке інтенсивне блакитне забарвлення.

= divider "IMG_2288.jpg", filters: ["sepia", "vignette-90"] do
  markdown:
    # Шінтоїстський храм і міст бажань

    За кілька кілометрів від того місця, де ми стояли, є невеличкий храмчик. Нічого особливого — таких сотні. Але привабило не це, а кілька місць навколо храму.

=chapter do
  markdown:
    На схемі біля храму позначені: міст бажань і камінь бажань.

    З пояснень випливає, що потрібно спочатку піднятся в гору до містка. Тут записати своє побажання і потім прямувати до каменя побажань. Тому, хто виконав процедуру, подарується виконання цього бажання.

  = gallery imgs(%w{2288 2277 2275 2278 2284  2282}) do

    p Звичайно-ж ми більше звикли вірити в силу грошей, тож ті, хто звертаються до сил вищих,  і тут намагаються „підмазати“. В усіх щілинах дерев'яного містка і помосту біля фінального каменя „виконавця“ — затикані одно чи десяти-єнові монетки.

  p Але все-таки, як показує похід до каменя бажань, гроші не всесильні і одними хабарями всі бажання не здійсниш.

  p Треба ще прикласти свої власні фізичні зусилля. Дорога до містка хоч і недалека — якихось сотня метрів — але здирається вгору доволі крутими сходами і піт починає не те, щоб заливати очі, але відчутно проступає. І такі ж сотня метрів ще далі від містка до каменя.

  p Бажання зароблене своїми власними ногами і вланим потом.

  h1 Тацуко хіме сама

  p たつこ姫様 (Принцеса Тацуко) — популярна особа на берегах озера Тазава. Вона зустрічається на плакатах і листівках, і, здається, є чимось типу талісмана озера. Біля шінтоїстського храму з мостком бажань вона втілена у статуї русалоньки з хвостом. А от ще через кілька кілометрів, стоїть інший храм, біля якого вона ж, але вже без хвоста, з ногами і пофарбована золотою фарбою. Власне, ця статуя — вона стоїть в воді за кілька метрів від берега — і зображена на численних піар-матеріалах.


  = photos3 imgs(%w{2266 2270 2265})

  p &nbsp;

  = pull_left photo("IMG_2292.jpg"), 6 do
    markdown:
      Сюди, до цієї статуї, привозять цілими автобусами екскурсантів, щоб сфоткатися з самою „принцесою“ а заодно і погодувати рибок. Їх (рибок) тут — прорва, як і екскурсантів. Риба просто кишить біля берега. А якщо просто всунути в воду руку, просто б'ється спинами і плавниками.


  = gallery imgs(%w{2294 2298 2296 2299}), layout: :portrait do

    markdown:
      Через це і храм, який стоїть тут же на березі, трохи перепрофілювався. Основний бізнес храму на сьогоднішній день, це не продажі свічок чи папірців із долею „мікуджі“, а корму для риби —   „さかなのえさ“ вивіски висять на кожній стіні і кожному розі храмчика.

  p.text-center Далі буде.

    　
