---
layout: post
title: Другий день
series: Літо на півночі Японії
language: ukrainian
images:
  basepath: vidpustka_13/day2

intro:
    image: IMG_1514.jpg

tags:
  - Japan
  - Ukrainian
  - travel
  - Tohoku
  - route 13
  - Fukushima
  - Zao-onsen
  - ski-resort
  - mt. Okama
published: true
summary: |
  Другий день нам трохи попсував той дощ, що йшов днем раніше...
description: |
  На другий день погода була значно краще, ніж до того, але про минулий дощ нам нагадувало як не одне, так інше.

---

= chapter do
  markdown:

    # Другий день. Вівторок.

    >Шоста ранку третього дня. Стоянка біля Окама - озера у кратері вулкану. Це наступна наша мета. І тому час починати записувати події попереднього дня — дня другого.


    >Далеко на північ ми не просунулись. Цей другий день подорожі можна б назвати "днем розворотів і повертань". До того ж, день нам трохи попсував той дощ, що йшов днем раніше. І хоч погода була значно краще, ніж до того, але про минулий дощ нам нагадувало як не одне, так інше. Але все по порядку...

    Дощ весь вилив за ніч. Зранку на автостоянці Ііде (いいで道の駅)  нас зустрів густий туман. Але поки ми прокинулися, поки закип'ятили і випили своє відерце кави, поки я зафейсбучив вчорашні враження, сонечко почало проглядати і врешті-решт розігнало усі хмари, так ніби-то вчора нічого й не було.

= divider "IMG_1493.jpg", filters: %w{vignette} do
  markdown:

    # Парк обсмиканих лілій

    ## Першим нашим об'єктом виявився парк лілій за кілька кілометрів від стоянки.

    Під'їхавши туди, виявили досить сумне явище "лілії після дощу"… Ті лілії, що ще залишалися з пелюстками виглядали досить таки пообсмикуваними, але не дивлячись ні на що - пахли.



= chapter do

  p Це був наслідок страшенної зливи вночі, і перше нагадування про неї у нашій подорожі. Ми ж були далеко від телевізора і від новин і не знали ще того, що той дощ поробив. Ми його просто проспали.

  = gallery  [ "IMG_1490.jpg", "IMG_1491.jpg","IMG_1492.jpg", "IMG_1493.jpg", "IMG_1494.jpg"] do

    p Тож, ми швиденько прогулявшись поміж залишків лілій, вирішили повернутися трохи назад і подивитися храм, який напередодні нам не дали подивитися дощ і темрява.

    p І не пошкодували.


= divider "IMG_1518.jpg", filters: ['vignette', 'sepia-80']   do
  markdown:

    # Храм Накано-Фудосон

    Накано-Фудосон (中野不動尊) або просто Накано-сан — храм в печерах, заснований 800 років тому, довгий час існував у вигляді печер і років із 150 тому отримав своє наземне доповнення.

= chapter do

  markdown:

    [Захований у розщелині](https://goo.gl/hlkX4w) поміж скелями і грубезними кедрами, і доповнений мальовничим водоспадом. Справді, засновники будистстьких монастирів і храмів на таких справах, як вибір місця, зналися.

     Храм досить невеличкий: від входу попадаєш на горішній поверх невисокої паґоди, спускаєшся сходами вздовж водоспаду вниз до входу в печери. Тут же великі червоні ворота - вихід із печер. Оце власне і все.

    Але все це з такою майстерністю „вбудовано“ у ландшафт, що перехоплює подих від кожного ракурсу. А ракурсів тут стільки ж скільки кроків. Два кроки вбік, і маєш абсолютно інший вигляд.

    Сполоснувши руки водою з джерела, що витікає з печери, проходимо через червону центральну будівлю храму до печер. Біля підніжжя водоспаду — вхід у печери. Тут можна кинути свою копієчку і поставити свічечку.

  = gallery imgs(%w{ 1501 1505 1506 1507 1511 1514 1516 1518 1520 1525 1529 1530 1533 1535 1536 1540 1574 1575 1577})

  markdown:

    ## Печери

    Печери самі по-собі невеликі, може з сотню метрів туди-сюди. Від входу розгалужується на два боки: ліворуч-праворуч. В них - 36 фудоо: 16 в один бік, 20 - в інший. Для кожного фудоо в печері видовбана невеличка капличка, тож кожному з них можна помолитися чи загадати бажання. Кожен з них чимось допомагає, або від чогось рятує: допомагає благополуччю у сімейному житті, позбавляє від хвороб очі, "бокетенай йооні" (від голови, як то кажуть), тощо. А самий останній так той, взагалі, забирає усю погань.

    На центральному вході у печери — великий підсвічник, і коробочка з свічками. Купуємо свічечки, запалюємо, ставимо і просуваємося далі.

    Входиш в печеру по центру - ідеш ліворуч і виходиш через малюсіньку дірку, на яку не звернув увагу бо дуже маленька, підеш праворуч - і виходиш на поверхню через грандіозні червоні ворота. І всі ці походу супроводжуються зойками бабуль: "Ковай!", "Курай!" (страшно, темно) …

    Деякі фудоо, дійсно, не справляють враження милих добродіїв: насуплені брови, в піднятій руці щось на зразок булави, чи шаблі… Це ті, що позбавляють від погані. Воно й зрозуміло.

    Фото з храму і печер можуть сказати краще за будь-які розповіді.

= divider "IMG_1944.jpg", filters: ["vignette-80", "grayscale-30"] do
  markdown:
    # Дорога

    Поки їхали вчора до ночівлі і поверталися, щоб подивитися храм, ми вже двічі проїхалися по 13й дорозі туди-сюди. Третій раз не хочеться. Починаємо торгуватися з нашим навігатором — балакуча тітонька вмонтована в нашу машину) — щоб вона нас провезла не по 13й, а по 399й. Вона не хоче. Ми їдемо. Вона нас умовляє повернутися і поїхати по 13й. Ми їдемо по 399й.

= chapter do

  p І, до речі, отримуємо від того задоволення.

  = photo "IMG_1583.jpg" do
    p #{link_to "В одному місці надибуємо на дорозі", "http://goo.gl/maps/M1I1I"} ось на таку чи то автобусну зупинку, чи то придорожний храм. Судячи з написів, це присвячене безпеці подорожніх. Подивившись на це, я тепер вже не й знаю, що ж таке японці бажають вирушаючим у путь.

  markdown:
    [Трохи далі, десь так посеред нічого](http://goo.gl/maps/nlIHe) (дорога, ліс, річка - більше нічого) стоїть вивіска "Музей мандали". І дійсно — музей. І дійсно — мандали.

  = gallery imgs(%w{1593 1990 1944 1946 1993 1996 }) do
    p Потім їдемо вздовж мальовничого водосховища, по прекрасній дорозі. Безлюдній і безмашинній. Зупиняємося пару разів, щоб сфоткатися. Чудові гори, вода...

  p Тут же, на дорозі, надибуємо мавпу, що вискочила з кущів. Ганяємося за цією мавпою на машині, намагаючись сфотографувати, як Шарік із Матроскіна --- за зайцем. Правда недовго, бо мавпа благополучно зникає у кущах без нашої фотки.

  p Навігатор вмовляє повернутися, ми їдемо прямо. Бо ми ж краще знаємо!


  p Потім вона на довгий час замовкає. І ми під'їзжаємо до шлагбауму. Питаємо у поліцейскього поруч. Виявляється, що вчорашньою зливою розмило гірську частину дороги попереду (а залишалося вже зовсім нічого!), і ніякого іншого об'їзду просто не існує.

  p Тож ми повертаємося назад по 399й до знайомої 13ї і їдемо по ній. Поки доїзжаємо до нашої наступного пункту подорожі - храму Ямадера, вже починає вечоріти. Розпитуємо у продавщиць магазину біля підніжжя (сам храм - на горі, і піднятися до нього до зачинення вже не встигаємо).

  p І добре, що розпитуємо. Виявляється, що сильний дощ позносив з гір глину і всі водогони не працюють. Тому навколо - ні води в кранах, ні працюючих туалетів, ні працюючих онсенів.

  p Доводиться змінити плани і замість їхати до запланованого Тендо-онсен 天童温泉, повертатися (знову-ж таки по 13й) до Зао-онсен. Обіцяємо добрим тітонькам з магазину запаркуватися завтра у них і вирушаємо до Зао.

= divider "16788865181_5f0236b5ba_o.jpg", filters: ['vignette-60'] do
  markdown:

    ## Зао Онсен

    Зао — досить відоме місце серед лижників. Навколо — багато лижних курортів і підйомників, а посеред цього — невеличке містечко з онсенами. Що ще треба в холодний зимній вечір після лиж: добра вечеря і сірчана ванна.

    Саме містечко нагадує Кусатцу в мініатюрі, не тільки покрученими вуличками з паруючими водостоками і сірчаною річкою посередині, а навіть і самою водою. Вода в Зао того ж приблизно "сорту", що і в Кусацу. Якщо не за хімічними аналізами, то хоча б на мій нюх і смак.

    Але… ідилічна картина зимового Зао трохи інакше виглядає влітку, в робочий день.

= chapter do
  markdown:

    В інформаційному центрі ми дізналися де є онсени.

    Інколи це може бути проблемою — знайти онсен в містечку, що процвітає завдяки онсенному бізнесу! В таких, як Зао, місцях дуже часто готелі пускають до своїх онсенів тільки своїх ок'яксан (відвідувачів), а інші можуть скористатися ваннами тільки тоді, коли там нікого не буває. Часто — другої чи до максимум до четвертої години дня.

    Так само і в Зао. На весь Зао на той час було 2 чи 3 онсени, куди ми мали шанс попасти. Відкинули Велике Ротембуро (大露天風呂). Велике Ротембуро фактично — це просто невисока гребля поперек гарячої сірчаної річки, яка створює гарячий сірчаний "ставок". Відкинули ми його, бо хотіли все-таки помитися в душі (особливо після сірчаної води), а в Великому Ротембуро цього блага цивілізації немає. Ну які ж душі на ставках?!

    З їжею у Зао теж виявилось не все гаразд. В тому ж інфо-центрі розпитали про їдальні та ресторани. Бо ж голодні, а готувати щось на похідній газовій плиті посеред міста якось не випадало.

    Виявилось — асортимент ресторанів теж не дуже великий. Але перебирати не станемо, підем туди де приймають. Виявляється, що там, де б мали приймати, не працюють, бо кухар "ось-ось" поїхав по справах в Ямаґата… Нічого, знайдемо щось…

    Приблизно та ж сама відповідь чекала в кількох інших місцях, які мали б приймати. В результаті досить довгих походів по місту з'ясувалося, що працює одна-єдина їдальня. Але й на тому — дякуємо.

    Після вечері і онсену вирішуємо, що робити. Розпитуємо місцевих дядьків в онсені, що вони думають про погоду на завтра і чи побачимо ми що-небудь, як поїдемо на Окама. Думки розділяються. Одні кажуть — дощ, інші з ними не згодні. Розпитуємо і про місце для ночівлі — а чи буде десь переночувати, якщо ми туди все-таки поїдемо?

= divider "16788879362_47d8ce6ed7_o.jpg", filters: ['vignette', 'grayscale-30'] do
  markdown:
    Вирішуємо чимчикувати далі в напрямку Окама (вгору, в гори). Десь там знайдемо ночівлю.

    Вирушаємо вже поночі, піднімаємося в гори. Разом з нами піднімається туман. Вже під самий кінець їдемо мало не навпомацки — попереду видно на кілька метрів в кращому випадку. Виручає тільки розмітка на дорозі.

    Але врешті-решт натрапляємо на знак, що каже "Це автостоянка біля підйомника на Окама". Хмм… Самого підйомника, а тим паче Оками в темряві і тумані не видно. Але ж і сумніватися в правдивості написаного причин на маємо. Вирішуємо: «Годиться!» і ночуємо.

    Єдина проблема — довго не можемо заснути від неймовірної тиші. Але ми звикли боротися і не з такими складнощами. Тож — засинаємо.

= chapter do
  = gallery %w{16603865659_392833a0ca_b.jpg 16602421928_9039c3b2e8_b.jpg} do
    p Тільки зранку, коли прокинулися, ми нарешті змогли побачити місце нашої ночівлі ...
