---
language: ukrainian
layout: post
series: Літо на півночі Японії
title: "Токотон-яма (III). Каньйон з гейзерами."
intro:
  image: "rika/IMG_2052.jpg"
  filters:
    - vignette
    - sepia
    - grayscale-60
images:
  basepath: vidpustka_13/tokoton

tags:
  - travel
  - geiser
  - volcano
  - Tohoku
  - Akita
  - Tokoton-yama
published: true
summary: |
  Вукланічні прояви: гейзери, грязеві вуклани, сірчані річки та озера.
description: |
  Так сталося, що якщо перший тиждень поїздки був в основному присвячений історичним та релігійним святиням (на цей раз — буддистським), то друга частина подорожі в основному складалася з відвідин і споглядання різних геологічних казусів і чудернацькостей.
---
= chapter do
  .col-sm-6
    markdown:
      # Частина третя

      Префектура Акіта, Юзава.
  .col-sm-6
    markdown:
      Дні з п'ятого по сьомий — розслабон. Авто кемпінґ Токотон яма і подорожі навколо нього.

      [Попередній день у кемпінгу Токотон-яма](/2013/07/25/day_5to7_tokoton_yama_II.html)

  markdown:

    >Всілякі вукланічні прояви: гейзери, грязеві вуклани, сірчані річки та озера. Природні дива –  карстові печери і кришталево чисті джерела та підземні ріки, високогірні плато та болота.


    # Каньйон з гарячими джерелами


  = gallery %w{rika/IMG_2033.jpg rika/IMG_2045.jpg rika/IMG_2046.jpg } do
    markdown:
      [Зовсім недалеко від кемпінгу](https://goo.gl/1WoYjY) — по дорозі, до нього — „відшукався“ каньйон Коясу Кьоодай Фунто (小安峡大噴湯), з мальовничим червоним мостом, перекинутим над ним. Не гірший, ніж в кіні.

  markdown:

    Цікаво, що коли в журналі-путівнику — з цікавостями Акіти, що ми підібрали десь по дорозі — тицяєш пальцем працівникам кемпінґу у фото червоного мосту над каньйоном з запитаннями „коре-ва-доко?“ (де це), часто отримуєш стандартний „вакаранай“, хоча він знаходиться за якихось пів-кіло від місця їхньої роботи. Але то таке…

    Каньйон не занадто широкий — десь із сотню метрів угорі; звужується до пари десятків метрів на рівні русла ріки. Глибина — щось біля шестидесяти метрів; така вказана висота червоного мосту в путівнику. Але довгий. Ми їхали повз нього багато кілометрів, до того, як попали в кемпінг і після. Вкритий зеленню по всіх берегах і схилах: папороть, невеликі кедри; майже вертикальні скелясті береги.

    По дну каньйону, понаду руслом ріки прокладена вимощена доріжка для туристів.

  = gallery %w{rika/IMG_2036.jpg rika/IMG_2037.jpg rika/IMG_2038.jpg    }

  markdown:

    Через величезні зливи попередніх днів, рівень ріки піднявся на багато метрів. Судячи з усього, під тією доріжкою, де ми були, знаходилася ще одна (мотузяна загородка цієї нижчої доріжки повністю затоплена бурхливим потоком) — вода на час нашого візиту була вище свого звичайного рівня на метрів п'ять-шість. А з того, як „зализана“ водою трава і папороть вище рівня — схоже, що трохи перед цим річка вирувала ще на п'ять-шість метрів вище.

    Доріжка перекрита від надто цікавих туристів — на самій горі мотузками, загородками і плакатами. Законослухняні туристи, звичайно ж не можуть побачити, того, що вдалося побачити — не питайте як…

    Понад верхніми краями каньйону також встановлені кілька стендів з інформацією. Яку ми, звичайно ж, прочитали після того, як піднялися назад. Інформація, насправді виявилася цікавою і корисною, але по факту для нас була як «ти такой умний, как моя Сара потом…»

    Нечитання цієї інформації навчило кільком простим правилам, одне з яких: „Ніколи не пхай ногу в незнайоме сірчане джерело!“  Все обійшлось без жертв, вже потім прочитали, що вода в цих джерелах по низу кар'єру, має не мало, не багато — 98&deg; Цельсія.

  = gallery %w{rika/IMG_2040.jpg rika/IMG_2047.jpg rika/IMG_2048.jpg } do
    p На стенді (третє фото) при вході йдеться про 98&deg;С


  markdown:

    Японський дядько на мосту — видно, з місцевих працівників, що підтримують порядок в долині — розказав пізніше, що на цей момент більшість джерел вкрита річковою водою, а в звичайний час пара пухкає з них з страшеними вибухами. Скоріше, мабуть для них підійшла б назва „гейзер“, а не „джерело“…

  = gallery %w{rika/IMG_2034.jpg rika/IMG_2041.jpg rika/IMG_2028.jpg rika/IMG_2033.jpg rika/IMG_2029.jpg    rika/IMG_2043.jpg    rika/IMG_2032.jpg}

  p.text-center　
    ( ... Далі буде ... )
    Наступна розповідь &mdash; про подорож до пекла.

  = photo "rika/IMG_2052.jpg" do
    p  Мапа місцевості навколо кемпінгу
