---
language: ukrainian
layout: post
title: "День четвертий: багато буддистських святинь"
series: Літо на півночі Японії
images:
  basepath: vidpustka_13/day4
intro:
  image: IMG_1893.jpg
tags:
  - Japan
  - travel
  - history
  - culture
  - Tohoku
  - Iwate
  - michino-eki
  - kokeshi
  - buddist temple
  - Hiraidzumi
  - Moo Tsuji
  - Chuson ji
  - Takkokuno iwaya
  - Ennin


published: true
summary: |
  Префектура Міяґі багата на святині історії, багато яких занесені в реєстри світової спадщини Юнеско.
description: |
  День видався багатим на храми і буддистські святилища: Моо тцуджі, Чюсон джі, Таккокуно Івая.

---

= chapter do
  markdown:

    Четвертий день подорожі, четвер 25го.  Префектура Івате.


    ## [Стоянка А-Ра-Дате — あ。ら。伊達道の駅](http://www.ala-date.com/)

    Звечора прибули на станцію あ。ら。だて, вже поночі. Нічого особливого, але пристойна автостоянка, з вкрапленнями зелені і, як практично всі станції - все чистенько. Недолік те, що в дощ поночі крім, як у власній машині, сховатися нема де. Немає критих павільйонів і інформаційної кімнати, як на інших станціях.


    # Ніхон Кокеші кан

    Зранку проїзжаючи по дорозі побачили велику об'яву 日本こけし館 (щось приблизно, як всеяпонський Будинок Кокеші). Кокеші — це виточені з дерев'яного кругляка ляльки, поширені саме в Тохоку.

  = gallery imgs(%w{1735 1736 1737 1738 1739 1743 1744 1745 1746 1747 1748 1749})

  markdown:

    Ми сподівалися побачити якийсь більш-менш пристойний музей, можливо почути якусь історію кокеші, щось подібне. Замість цього - не дуже такий вже й великий магазин кокеші. Правда з деяким "музейним нальотом": виставлені інструменти для різьблення по дереву, видно, що проводяться невеликі зайняття, можна самому виточити чи розфарбувати ляльку; різні фото пов'язані з кокеші.

    Тут ми довго не затримувалися, трохи спробували розпитати у продавщиці про кокеші і якісь значення цієї ляльки. Або таких інших сенсів кокеші немає, або продавщиця про них не знає…


= divider "IMG_1756.jpg" do
  markdown:

    # Моо тцуджі — もうつじ — 毛越寺

    Про [Моо-тсу джі](http://www.motsuji.or.jp/) і про те, як читаються ці каньджі ми не мали уяви, поки сюди не попали. Про Чюю-сон джі нам розказала працівниця інформаційого центру на швидкісній дорозі, і ми вже знали, що там має бути щось цікаве, що це „секаї-сан“ (скарбниця Юнеско).

    Потім вже пізніше, в Ямадера побачили плакат з чотирма місцями - Ямадера, Дзуїґан-джі в Матцушіма, Чюсон-джі в Хіраїдзумі і ось ці канджі, теж в Хіраїдзумі. Сфотографували плакат на всяк випадок і поїхали.

  = pull_right  photo("2013-07-27_map.png")

= chapter do
  = gallery imgs(%w{1753 1754 1756 1759 1761 1769 1776 1771 1785 1786 1795 1796 1800 1802 1804  1812})

= chapter do
  markdown:

    Тож попали ми до Моо-тцу-джі, можна сказати випадково. Як, власне і у більшість місць, відвіданих цього разу.  По дорозі просто побачили дорожній вказівник з канджі, які ми вже десь бачили, і до того ж знизу була англійська транскрипція. Як зручно! Завернули.

    В Хіраїдзумі ([平泉](http://goo.gl/fFgqFt)) знаходиться два храми, присвячених [Джіккаку Даіші Еннін](http://en.wikipedia.org/wiki/Ennin).  Відоміший — Чю-сон джі, другий — це Моо-тцу джі. Про Чюсон джі — трохи далі.

= divider "IMG_1772.jpg", panorama: true

= chapter do
  markdown:

    Моо тцуджі занесений в скарбницю світової спадщини Юнеско зовсім недавно. І це відчувається відразу на під'їзді до Моо-тцу джі. Новенькі, ще здається з запахом гудрону, як ніби вчора заасфальтовані дороги — з тротуарами! — тільки що викладеними плиткою і як ніби годину тому нанесеною розміткою. Чистенькі, новенькі будиночки навколо з якимось таким нальотом європейськості. Все вказує на те, що ці підходи до світової святині вилизувалися зовсім недавно. Ось-ось.

    Сам по собі Моо-тцу джі являє переважно великий парк із залишками фундаментів від колишніх будов храму. Будівлі храму були виконані у японському стилі (на противагу китайському стилю побудови, коли кінці несучих колод, закопувалися в землю), тож фундаменти являють собою просто квадратну сітку із пласких великих каменів. На це каміння встановлювали колоди і на них будувалася будівля.

  = gallery imgs(%w{1781 1792 1794  1807 1808 1811})

= chapter do
  markdown:
    Загалом, як все це виглядало раніше, можна тільки уявляти, читаючи таблички: про те, що „центральний павільйон — кам'яний фундамент, якого я тільки що бачив — з'єднувався дерев'яним коридором з тим, що стояло ось тут, на цих каменях…“  Якщо самі павільйони, ще мають якийсь зв'язок з реальністю завдяки фундаментам, то коридорчики виходять зовсім віртуальними. Уявити як воно все те було, легше тому, хто, скажімо побував у Кіото і бачив як то виглядає живцем …

    Але парк навколо змушує забути про всі ці негаразди. Парк — реальний, сьогоднішній. Без усякої віртуальності.

    Ставок. В ставку — нагромадження каменів великих і маленьких, типу Саду каменів Рьоанджі але на воді. Навколо ставка грубі кедри і сосни. Решту доповнять фото.


= divider "IMG_1930.jpg" do
  markdown:

    # Чюсон джі — 中尊寺

    Зовсім недалеко — на відстані пішої прогулянки від Моо-тцу джі — знаходиться інша святиня: Чю-сон джі.

    Поміж соснами і кедрами — лісові лілії. Червоним доповнюють картину павільйони і храми. Біле і червоне на зелено-блакитному тлі. Раніше не уявлялося, що кедри і лілії — доволі фотогенічна пара.

= chapter do
  = gallery imgs(%w{1813 1814 1815 1817 1821 1819 1824 1825 1827 1829 1832 1835 1837 1840 1843 1844 1868  1931 1933 1845 1848 1859 1861 1864 1866 1871 1873 1874})
  markdown:

    Головний павільйон Чусонжі — це сховище головного скарбу: іншого павільйону. Цей інший (менший) весь покритий позолотою Конджікі-доо (金色堂) або „Золотий павільйон“. Золотий павільйон — це одна з двох будівель, що збереглися з часу початкової побудови храму, з дванадцятого сторіччя. Конджікі-до — це мавзолей, де поховані чотири головних лідери самурайського клану Оошю-Фуджівара (奥州藤原氏), який панував тут на той час. Весь Конджікі-до зроблений з дерева і покритий листами золота та перламутровою інкрустацією.

    В головному павільйоні фотографувати заборонено, тож читачу залишається або поїхати і подивитися все на свої очі, або ж покладатися на Гугл і шукати фото в мережі.

    Ще одна будівля, яка збереглася з часу побудови храму — це бібліотека (сховище) сутр. Всі інші — новішої побудови. В тому числі зберігається також попередній „головний павільйон“. Сучасна будівля була споруджена в середині двадцятого сторіччя, а та, яка була до цього сховищем для Конджікі-до, сама стала музейним експонатом.


= divider "IMG_1898.jpg" do
  markdown:

    # Таккокуно Івая, Бішямондо.

    ## Храм в скелі

    День видався багатим на храми і буддистські святилища. Після Чюсон-джі вирішили, що на сьогодні вже досить, будемо прямувати далі на північ до мети наступного дня і до місця сьогоднішньої ночівлі. Та не тут було.

= chapter do
  markdown:
    Їдучи по одній з невеличких, нікому не відомих доріг і не передбачаючи жодних несподіванок, ми … проскочили щось таке, що без жодних вагань розвернули машину і повернулися дивитися, що ж то було?!  Прямо по дорозі — дорога №31 „кендо“ — під скелею — кедровий ліс, і в скелі — червоні стіни, сходи, колони, дахи…

    Це був храм. Ще один. Буддистський. Ще один стародавній із історією понад тисячу років.

    [Таккокуно Івая (達谷の窟毘沙門堂) і землі навколо нього](http://goo.gl/ovpgJy) Саканоуе-но-Тамарумано визначив, як релігійну територію, де заборонено вбивати будь-яких тварин чи збирати будь-які рослини. Це було у 20-й рік Енряку — за європейским календарем у 801 році. Історія храму приблизно така:

    * у десятому сторіччі у цій місцевості панував військовий клан Акуро Такамаро, сумно відомий знущаннями над людьми цих місць, викраденнями жінок та дітей;
    * його логовище знаходилося в печерах Таккоку;
    * імператор Камму вирядив війська під проводом Саканоуе-но-Тамураматаро, якому він надав титул „шьоґун, який підкорить варвара“, щоб привести ці райони до порядку;
    * Акуро був переможений в 801 році і задля подяки Богові війни Бішямону, був побудований  храм у стилі Кіотівського Кьомізудера;
    * в храмі було встановлено 108 статуй Бішямона і храм отримав назву Івая Бішямондо — став храмом для молитв за мир.

  = gallery imgs(%w{1892 1893 1894 1895 1898 1900 1901 1904 1906 1907 1909 1912 1914 1916 1920 1921 1922 1923 1924 1926 1927 1928 1930 1931 1932 1933 1934})

  markdown:

    За роки свого існування храм горів кілька разів — в 1490-му, в 1615-му, в 1946 роках — кожного разу відбудовуючися. Після останньої пожежі 1946 го року храм був відбудований у 1961-му, і теперішня будівля храму є п'ятою за всю його історію. Деякі будівлі відновлені зовсім недавно - як наприклад, „Золотий Павільйон“ почав відновлюватися у 1987-му і закінчений у 1989-му. Відновлення велося за всіма традиційними технологіями.

  = pull_right photo("IMG_1918.jpg", layout: :portrait) do
    p Головна будівля храму „вбудована“ чи врізана у майже вертикальну скелю висотою у кілька десятків метрів. З одного боку храму у скелі можна помітити (правда, тільки прочитавши путівник) залишки голови великого Будди. Вся статуя Будди була розрушена під час одного з землетрусів (в 1896му році), залишивши тільки голову в скелі. Голова висотою у шість метрів висить у  повітрі на висоті біля шістнадцяти з половиною метрів, як посмішка Чеширського кота. Є легенда, що цього Будду вирізьбив у скелі Мінамото-но-Йошіе, стріляючи з лука в скелю, і використовуючи наконечники стріл замість долота.
