---
layout: post
language: ukrainian
title: "День третій: Окама і Ямадера"
series: Літо на півночі Японії
images:
  basepath: vidpustka_13/day3
intro:
  image: 16603865659_392833a0ca_b.jpg
  text: |
     Ранок почався ось тут, із занотовування вражень дня минулого під спів пташок. Крім пташок нічого не порушує ідельної тиші ранку. Після кави вирушаємо до вулканічного озера Окама.

tags:
  - Japan
  - Ukrainian
  - travel
  - history
  - culture
  - Yamadera
  - mt. Okama
  - Yamagata
  - Ennin
  - michinoeki
published: true
summary: |
  Подорож до вулканічного озера Окама (お釜) та буддистської святині Ямадера, Рішшяку-джі (山寺立石時).
description: |
  Окама (お釜) це - озеро, утворене в кратері вулкана. Знаходиться недалеко від містечка з сірчаними гарячими джерелами Зао, на висоті 1080 м. над рівнем моря. Ямадера або Рішшяку-джі (山寺立石時) один із чотирьох найвідоміших буддистських храмів Тохоку, зв'язаних з іменем Джіккаку Даіші Еннін.
---

= chapter do
  p День три. Середа. Префектура Ямаґата.

= divider "IMG_1631.jpg", panorama: true do
  markdown:
    # Окама - вулканічне озеро

    Окама (お釜) це - озеро, утворене в кратері вулкана. Знаходиться недалеко від містечка з сірчаними гарячими джерелами Зао, на висоті 1080 м. над рівнем моря.

= chapter do
  markdown:

    Ніч ми провели на стоянці біля підніжжя підйомника дла лижників. Величенька така парковка, з туалетом і водою. Неймовірно тиха вночі і зі співучими пташками з рана-рана.

    Вирушаємо до власне самої Окама. Для цього треба ще піднятися на пару десятків метрів по вертикалі, чи на пару кілометрів по спідометру. До тур-центру в самій Окама. Звідти вирушаємо пішки до озера.


    Поки йдемо продовжується ще той, вчорашній, туман. Дорогу видно, але це, власне й усе. Катма сподівань на те, щоб розгледіти якесь там озеро, якщо до нього не можна навіть підійти. Але… підходимо до оглядового майданчика, і поки стоїмо туман починає сам по собі так магічно зникати, зникати… , зникати…. І … зникає!

  = gallery imgs(%w{ 1613 1627  1597 1595}) do
    p  Ми бачимо озеро! Чи багато треба людині для щастя?

= chapter do
  p Потім піднімаємося вище дохраму на вершині гори поруч. Тут — справжні марсіанські пейзажі, про що свідчать фото. Як на мене NASA могло б не посилати свого ровера аж до Марсу, могли б арендувати Окама на день-два, пофотографували б. Вийшли б ті самі знімки, що й з Діскавері, а обійшлося б дешевше…

= divider "IMG_1638.jpg", panorama: true

= chapter do
  p Поки туман ще так-собі, не повернувся, нам вдається загубити один одного на цій горі. Потім туман починає збиратися знову і ми проводиму чудову годину в пошуках кожний своєї іншої половинки. Набігалися донесхочу, від душі накричалися «Діма!», і «Наталя!», і «Де ти!?» Коротше: здоровий, активний відпочинок на свіжому повітрі пішов обом на користь!

  .col-md-4
    = photo "IMG_1610.jpg", layout: :portrait

  .col-md-8
    = gallery imgs(%w{ 1601 1604 1621  1622  1628 1634 1635 1637 1641 1643 }) do
      p     Під кінець нашого бігання озеро знов затягнулося хмарами і зовсім не видне.

  p Серед численних відвідувачів Окама — в основному пенсійного віку японці, багато таких кому так і не вдалося сьогодні побачити озера. Хоча багато хто приїхав сюди здалека: з Хірошіми чи Осаки. З розмов з'ясовується, що деякі з них вже приїздять третій раз, а побачити води так ще й не вдалося.

  P Тримаючи у душі почуття, що ми таки невимовні пестунчики долі, рушаємо донизу. До Ямадери.


= divider "IMG_1713.jpg" do

  markdown:

    # Ямадера - храм у горах

  .col-md-4.col-md-offset-8.col-sm-4.col-sm-offset-8
    = partial :google_map,  locals: {css_class: "card-light-shadow", url: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d50089.66452254694!2d140.434853!3d38.311841!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8e7b44c325b8afc0!2sH%C5%8Djusan+Risshaku-ji+Temple!5e0!3m2!1suk!2sus!4v1431826237660"}

= chapter do
  markdown:
    Прибуваємо до Ямадера. Зупиняємося, як і обіцяли, у знайомих з учора тітоньок біля їх магазину оміяґе. Поруч, метрів за сто —також і станція електрички Ямадера, тож сюди можна запросто добратися і без машини. Розпитуємо і дізнаємося, що і як. Набираємося памфлетів і порад, і вирушаємо вгору.

    Ямадера або Рішшяку-джі (山寺立石時) один із чотирьох найвідоміших буддистських храмів Тохоку, зв'язаних з іменем [Джіккаку Даіші Еннін](http://en.wikipedia.org/wiki/Ennin). Інші три — це Чюсон-джі і Моотсуу-джі в Хіраїдзумі, і Дзуїґан-джі в Матцушіма. Заснований в епоху Хейан у дванадцятому сторіччі.

    Храм розташований на скелі, чи скоріше сказати в ущелині між скелями. Не знаю, чи воювали перші буддистські монахи, чи захищалися вони від когось, але, якби була така потреба, то Ямадера могла би стати доволі неприступною фортецею.

    Внизу, біля входу підслуховуємо екскурсовода групи японських дідусів і бабусь. Дізнаємося не так багато науково-достовірної інформації, але скоріше — купу цікавинок про храм і про його жителів-служників.

    На саму гору до храму ведуть кам'яні сходи із щось біля 1025 сходинок. Виконавши в голові нескладні математичні дії, прикидаємо, що піднятися туди, це як ніби-то зійти на п'ятидесятий поверх хмарочоса. Без ліфта, який все ніяк не можуть відремонтувати.


  .row
    .col-md-8
      markdown:
        * Ближче до вершини гори і верхньої частини храму стоїть поштова скринька. Якщо, перебуваючи на горі, підписати листівку і відправити на  домашню адресу рідним, то це принесе їм щастя. Згідно з повір'ям. Але це також означає, що ті листи і листівки кожного дня повинен забрати листоноша, і повинен також принести листи і подарунки-бандерольки монахам та їх рідним. Пізніше ми таки дійсно побачили цього листоношу, який йшов угору по листівки. Потім іще одного, що приніс якийсь пакунок в один із будинків і віддихувався витираючи піт, перш ніж постукати у двері.

    .col-md-4
      = gallery imgs %w{1718 1672}

  .row

    markdown:
      * Живе тут також і дівчинка, що ходить у школу кожного дня. Школа, звичайно ж, на самому низу сходів. Мабуть, що дівчинка виросте здоровою.

      Послухавши ці баєчки, починаємо тупати вгору по східцям. Згідно з місцевими повір'ями цей шлях із тисячі з гаком сходів — це зв'язок від пекла, що внизу до раю, який нагорі. Пройшовши ввесь шлях, людина очищається душею і тілом.


  = pull_left "IMG_1676.jpg", layout: :portrait, filters:  [] do
    markdown:
      Посередині, десь так на третій сотні сходів стоять ворота Ніоо мон (仁王門).

      Охоронці, що стоять в нішах воріт ліворуч та праворуч не пускають до храму нікого з нечистою душею. Мало того — друга пара охоронців, що стоїть позаду першої, записують у своїх книжки все, що в кожного з нас за душею. Непросте випробування!

      Але вирішуємо перевіритися і — навпростець через ворота! Пройшли… Значить не все так погано з нами!


  = pull_right "IMG_1717.jpg", layout: :portrait do
    p Далі, ближче до вершини — ярусами — ідуть впереміжку культові споруди, жилі будиночки і городи. Все це — органічна частина храму. Буддистські монахи у храмі живуть і служать. Обробляють самі для себе невеличкі діляночки із самою звичайною городиною, і живуть своїм самим звичайним життям.

  .row
    .col-sm-4
      = photo "IMG_1714.jpg", layout: :portrait do
        markdown:
          Гугл дає можливість подивитися повну [панораму цього вигляду](https://goo.gl/H9lgVD).

    .col-sm-8
      markdown:
        З самої горішньої частини — з тої, що біля Раю — відкривається чудовий краєвид на долину і на містечко Ямадера внизу. Тут — павільйон Ґодайдо (五大堂) з терасою.

        Пройшовши від оглядового майданчика до центральної частини храму, попадаєш до головної будівлі і статуї Великого Будди. Тут перед храмом горить свічка, вогонь якої підтримується монахами. За більш, як тисячу років історії Ямадери свічка ще не згасала жодного разу...

= divider "IMG_1711.jpg" do

  markdown:

    # Фотоальбом

    На закінчення - колекція фото з храму Ямадера.

  .col-md-6.col-md-offset-6
    = gallery imgs %w(1648 1649 1656 1657 1659 1660 1668 1672 1673 1675 1676 1677 1680 1684 1685 1692 1702 1703 1711 1713 1714 1715 1716 1717 1718)


= divider "2013-07-24.jpg", filters: ["vignette", "sepia-50"] do
  markdown:
    # А-Ра-Дате мічіно-екі

    Після візиту Ямадери знаходимо по навігатору наступну нашу ночівлю і вирушаємо до неї. Стоянка зветься [あ。ら。伊達道の駅 (А-Ра-Дате)](http://www.ala-date.com/). Пристойна, чистенька стоянка переміжана такими сякими деревами. Трохи краще, ніж простий гектар асфальту. І на тому — дякуємо.
  .col-md-4.col-md-offset-8
    = photos3 %w{2013-07-24.jpg 2013-07-24-2.jpg}
