---
layout: post
title: Висячі сади Семираміди на перебудованій Футако
description: |
  Вчора трохи прогулявся біля ст. Футакотамаґава. Забрів туди випадково. Раніше тут був дуже типовий старо-японський район, я все збирався його піти пофотографувати (старезні "сенто" з димарями, купа ізакаї). Поки зібрався – те все знесли. Було дуже жаль.

images:
  basepath: futako
intro:
  image: IMG_7839.JPG
tags:
  - Tokyo
  - Futako-tamagawa
---

= chapter do
  = photo "IMG_7846.JPG" do
    markdown:
      [Історія зроблена автоматичною штукою](https://goo.gl/E6dmu3) на Гугл+ Ти засилаєш туди свої фотографії, а воно тобі через день присилає email - готову історію, твоя справа тільки клацнути "Share".

  markdown:
    А тепер на місці того всього: ось такі шикарні "сади Семіраміди". Щось багато поверхове, одуренно озеленене і екологічне.

    Недавно були невеличкі дискусії з приводу того, які японці дурні і тупі, що вони не цінять озеленення. Я в тих дискусіях не приймав участі, бо з постановкою питання незгоден, а фактів, що доводять протилежне не було.

    Аж тепер факти є. Те, що подекуди зрізають старі дерева, інколи навіть під корінь не йде в розріз з загальною політикою політикою озеленення Токіо. За останні роки Токіо став значно зеленіший, ніж раніше. В середньому навіть центр Токіо зараз зеленіший за Київ, як це на цинічно звучить для киянина. І краще все-ж хворе дерево спиляти, ніж чекати поки воно впаде саме прибивши при цьому маму з дитиною, як кілька днів тому на Подолі.

    Цікаво. На кількох фото можна побачити такі "ящики"-огорожі з оцинкованого дроту, заповнені грубим камінням. Зараз вони почали з'являтися по всьому Токіо, навколо таких "екологічних" новобудів. Не знаю, що воно таке, але є підозра, що має служити для охолодження, зниження середньої температури в місті влітку.

    Чому? [Згадалася історія](http://link.springer.com/article/10.1007%2Fs11431-008-0291-6#page-1) про те, як китайці будували залізницю на Тібет, що пролягає по вічній мерзлоті. І тут вони вирішили охолоджувати шлях залізниці, побудувавши її на насипу з грубого каміння. В результаті температура під таким насипом навіть зменшилася. Може і тут японці використовують ту ж ідею?
