---

# 29 квітня - четвертий день

layout: post
title: "29 квітня(3): Пілігрімство та прочани Шікоку, Шьоосанджі"
description: |
  Спустившися з гір "Дальній" Ія, де цілі села заселені ватними опудалами, ми поклали початок своєму власному прочанству ("хенро") у Шікоку.

series: "Шікоку - два золотих тижні"
intro:
  image: "pilgrim/title.jpg"
  filters:
    - vignette-99
    - sepia-20
images:
  basepath: shikoku_15/day4_kakashi

# - дорога https://goo.gl/dmfYNV https://goo.gl/zZh4Tp
#  - дорога  "https://www.google.com/maps/embed?pb=!1m39!1m12!1m3!1d423785.8104010178!2d133.880309776714!3d33.91986100684689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m24!3e0!4m4!1s0x0%3A0xd65df251803d5a7a!3m2!1d33.868831799999995!2d133.9789046!4m5!1s0x0%3A0x0!2s33.856208%2C134.020135!3m2!1d33.856207999999995!2d134.02013499999998!4m5!1s0x355237d85f748f35%3A0x5d98f310ebe684fb!2sMount+Tsurugi!3m2!1d33.8540628!2d134.0946736!4m5!1s0x3553af2747039acf%3A0x194dd4bf0c9edf49!2zU2jFjXNhbi1qaSBUZW1wbGUsINCf0L7QstGW0YIg0JzRjNC-0LTQt9Cw0LksINCf0YDQtdGE0LXQutGC0YPRgNCwINCi0L7QutGD0YHRltC80LAsINCv0L_QvtC90ZbRjw!3m2!1d33.985022!2d134.3102346!5e0!3m2!1suk!2sus!4v1456903161522"
# - ранок - いやしの温泉郷 - онсен, сніданок (1)
# - какаші-ляльки на дорозі (2)
# - дорога 439 кокудо - Оку-Ія (3)
#     - подвійний ліановий міст
# - 1955м гора  Тцуругі (4)
#     - підйомник, від гори підйомника до вершини - 40хв
#     - весь маршрут 4км
# - храм Кобо Дайші №12 - 1200 років (5)
#     - паломники
# - ніч - мічіноекі Онсен-но-сато Камі-яма 温泉の里神山 (6)

tags:
  - travel
  - Shikoku
  - Tokushima
  - pilgrimage
  - Kobo Daishi
  - Iya valley
  - route 439
  - michino-eki
  - hiking
  - mt. Tsurugi

---

= chapter do
  markdown:
    ##  Пілігрімство та прочани Шікоку, храм Шьоосанджі

    На Шікоку налічується 88 храмів та монастирів, заснованих [Кобо Дайші (Кукай)](https://goo.gl/rYWD4Q). Кобо Дайші, закінчивши з монастирями на головному острові Хоншю, в тому числі один з найвідоміших і головний монастир секти Шінґон --- монастир [Коя-сан](https://goo.gl/M985j6), в ті часи відправився на Шікоку і продовжив свою діяльність тут.

= chapter do
  = pull_left gallery(%w{pilgrim/Pedometer_Shikoku.jpg pilgrim/pilgrimage.gif}), 6 do
    markdown:
      Дуже популярне паломництво по усіх восьмидесяти восьми храмах. Всі 88 пронумеровані і прийшовши, відвідавши черговий, бачиш дороговказ з напрямком до наступного.


  markdown:
    Перший з восьмидесяти восьми знаходиться на північно-східному кінці острова --- на "вході" з Хоншю, в префектурі Токушіма, біля Наруто. Далі — за стрілкою годинника, намистинками, вдовж берега моря — тільки в Токушімі ланцюжок заходить далеко вглиб острова,— аж до того місця де і починалося  — на північно-східному кінці острова, але вже в префектурі Каґава.

  = pull_right photo %w{pilgrim/IMG_6779.jpg} do
    markdown:
      Традиційно, подібне паломництво здійснювалося пішки. Пишуть, що для проходу пішки по всьому маршруту, із заходом в кожен з храмів, потрібно від сорока до шестидесяти днів. Загальна довжина маршруту поняд 1200км. Звичайно ж, у нас на подібний ентузіазм не вистачає ні часу, ні настирливості, тому ми машиною відвідали (поки-що) лише один з них, під номером №12 --- [Shōsan-ji (焼山寺)](https://goo.gl/M7b9vS).

  markdown:
    Пізніша примітка: далі — більше. Загалом під час подорожі ми відвідали щось трохи більше десятка-чи півтора храмів. Всі вони різні. Деякі — з чудовим морським краєвидом, прямо на березі моря, інші — високо в горах, інколи дуже важкодоступні, ще інші — просто посеред міста. Ми поза будь-якими сумнівами, не «справжні» правовірні прочани, але пам’ять від відвідин храмів залишилася чудова.

  = pull_left gallery(%w{pilgrim/y1200.jpg pilgrim/y1200_2.jpg}), 6 do
    markdown:
      В цьому році відзначається [1200 років від початку](http://www.shikokuhenrotrail.com/shikoku/1200YearAnniversary.html) прочанства в Шікоку. Важко сказати, чи в цьому році — у зв'язку з ювілеєм — більше прочан, ніж звично, чи така ситуація кожного року, але побувавши сьогодні тільки в одному з храмів, ми зустріли тут кілька молодих хлопців-прочан.

  markdown:
    На час нашого візиту храм вже було зачинено, і один з хлопців, з яким ми розговорилися, влаштовувався на ночівлю на лавці (без намета і спальника) біля входу до храму. Його мета --- вранці, о сьомій, коли відчиниться храм, отримати печатку з цього храму в спеціальній книзі. Повна мета --- зібрати всі 88 печаток. На храмовій парковці в цей же час розставляв намета на асфальті ще один такий же. Потім побачили ще кількох. Загалом за час нашого короткого візиту до храму ми зустріли шість молодих хлоців-паломників[^2].

    [^2]: З пізніших наблюдінь: прочан *багато*. Вздовж усього нашого маршруту — там де він співпадав з пілігрімською дорогою «хенро» — 辺路, — ми зустрічали (поодиноких, парами, або невеликими групами) прочан — як японців, так і «ґайджінів». І на багатьох мічіно-екі під час ночівлі, наша машина стояла поруч з наметиками велосипедистів, або ж велосипедисти-прочани спали тут же поруч на лавках, без наметів.

    Вже поночі, саме зараз, пишу це на "мічіно-екі" [Онсен-но-сато Камі-яма](https://goo.gl/zQwQN3) (温泉の里神山), і тут недалеко від нас влаштувався на подібну ж ночівлю велосипедист з Йокогами. Він теж уже встиг відвідати чи то сімнадцять, чи то вісімнадцять храмів. Прилетів літаком, сів на велосипед, зупиняється в одномісному наметику в подібних станціях.

  = gallery %w{pilgrim/IMG_6780.jpg pilgrim/IMG_6786.jpg pilgrim/IMG_6789.jpg pilgrim/IMG_6792.jpg pilgrim/IMG_6793.jpg pilgrim/IMG_6797.jpg pilgrim/IMG_6800.jpg pilgrim/IMG_6802.jpg pilgrim/IMG_6807.jpg pilgrim/IMG_6810.jpg pilgrim/IMG_6813.jpg pilgrim/IMG_6821.jpg pilgrim/IMG_6825.jpg pilgrim/IMG_6830.jpg pilgrim/IMG_6832.jpg pilgrim/IMG_6838.jpg pilgrim/IMG_6845.jpg pilgrim/IMG_6848.jpg pilgrim/IMG_6849.jpg pilgrim/IMG_6850.jpg}
