---

# 29 квітня - четвертий день

layout: post
title: "Ватне населення Оку Ія, 29 квітня (1)"
description: |
  В цей день ми поклали початок своєму власному прочанству ("хенро"), а також дізналися, що "Дальній" Ія цілі села заселені ватними опудалами.

series: "Шікоку - два золотих тижні"
intro:
  image: kakashi/kakashi.jpg
  filters:
    - vignette-99
    - sepia-20
images:
  basepath: shikoku_15/day4_kakashi

# - дорога https://goo.gl/dmfYNV
# - ранок - いやしの温泉郷 - онсен, сніданок (1)
# - какаші-ляльки на дорозі (2)
# - дорога 439 кокудо - Оку-Ія (3)
#     - подвійний ліановий міст
# - 1955м гора  Тцуругі (4)
#     - підйомник, від гори підйомника до вершини - 40хв
#     - весь маршрут 4км
# - храм Кобо Дайші №12 - 1200 років (5)
#     - паломники
# - ніч - мічіноекі Онсен-но-сато Камі-яма 温泉の里神山 (6)

tags:
  - travel
  - Shikoku
  - Tokushima
  - pilgrimage
  - Kobo Daishi
  - Iya valley
  - route 439
  - michino-eki
  - hiking
  - mt. Tsurugi

---

= chapter do
  = pull_right google_map("https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.808267890289!2d133.9789046!3d33.868831799999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35523a890d911403%3A0xd65df251803d5a7a!2z44CSNzc4LTAyMDEgVG9rdXNoaW1hIFByZWZlY3R1cmUsIE1peW9zaGksIEhpZ2FzaGlpeWFzdWdlb2ksIDI4LCDjgYTjgoTjgZfjga7muKnms4npg7c!5e0!3m2!1suk!2sjp!4v1456974642659") do
    markdown:
      Онсен в кемпінгу     [いやしの温泉郷](http://tabelog.com/en/tokushima/A3603/A360302/36003016/?rvwid=7112527) де ми [заночували минулого дня](2015/04/28/den_3_oboke_gorge_higashi_iya.html) зранку відкритий з шостої, а сніданок з сьомої. Нащо ж витрачати дорогоцінні ранкові години, якщо можна на годинку прямо зі сну залізти в самотній онсен і на самоті посидіти в ранковому ротенбуро. Так і було зроблено.

  markdown:
    Дорога далі від готелю Іяшіно пролягає далі вздовж річки Ія, долиною.

    # Дорога 439  --- Оку-Ія

    Сама долина річки Ія, як уже згадувалося, ділиться на східну та західну. Східна Ія --- Ія онсен, «пісяючий» хлопчик і все побачене нами на другий день подорожі --- знаходяться у східній Ія. Вона більш доступна --- тобто сюди можна добратися за бажання автобусом. Є як рейсові автобуси, так і човникові маршрути від залізничних станцій.

    Західна Ія (або Оку-Ія --- "Дальня" Ія) --- менш освоєна. Добратися сюди трохи важче. В основному через дороги, чи, частіше, через їх відсутність, як в анекдоті радянських часів: "Скажіть, а це правда, що в Одесі важко з маслом? Ні, неправда, в Одесі важко без масла". Основна дорога --- і єдина в багатьох місцях --- це продовження тої ж самої 439-тої, якою ми добиралися сюди.

  = partial :video_fluid, locals: { video: "tsurugi/doroga" }

  = pull_right google_map( "https://www.google.com/maps/embed?pb=!1m27!1m12!1m3!1d26503.594035380658!2d133.98194544617996!3d33.86519864713296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m12!3e6!4m4!1s0x0%3A0xd65df251803d5a7a!3m2!1d33.868831799999995!2d133.9789046!4m5!1s0x0%3A0x0!2s33.856208%2C134.020135!3m2!1d33.856207999999995!2d134.02013499999998!5e0!3m2!1suk!2sus!4v1456975151349") do
    p Від кемпінгу дорога веде спочатку долиною річки, немає карколомних серпантинів і запаморочливих виглядів з урвищами. Але трапляються інші цікавинки.

= divider "kakashi/IMG_6651.jpg", filters_plus: ["text-shadow"] do
  markdown:
    # Какаші-електорат

    Ще попереднього дня звечора, під'їзжаючи до онсену з ночівлею, в кількох місцях помітили парочки тряпчаних ляльок в повний людський зріст. Всі вони одягнені в звичайний людський одяг, «носять» звичайні капелюхи і черевики, і здалеку їх важко відрізнити від звичайної людини.


= chapter do
  = pull_left(photo("kakashi/IMG_6644.jpg", filters: ["vignette-40"]){"Такі ж самі ляльки &mdash; три бабці зайняті якоюсь ручною роботою &mdash; сиділи в холі готелю."}, 8) do
    markdown:

      Спитавши у працівника, чому тут ці ляльки, чи чимось вони особливі для цієї місцевості, почули відповідь, що це «ка\`каші, але це -- не зовсім, чи не зовсім справжні ка\`каші…» Спочатку було незрозуміло (слово «какаші» ніколи до того не чули) , що це значить --- чи може ці «какаші» якась традиційна японська техніка виготовлення ляльок, трохи видозмінена тут, чи може ще щось інше...


  = pull_left photo("kakashi/IMG_6646.jpg", layout: :portrait, filters: []) do
    markdown:
      Відклали в пам'яті незнайоме слово на потім.

      Зранку, вирушивши у дорогу і через деякий час під’зжаємо до села в долині, і… терміново виникла необхідність знайти слово в словнику.  Бо ми в'їзжаємо в [село](https://goo.gl/maps/v6GvJ) повністю «населене» цими ляльками-«какаші».


  = gallery %w{ kakashi/IMG_4934.jpg kakashi/IMG_6649.jpg kakashi/IMG_6684.jpg kakashi/IMG_6653.jpg kakashi/IMG_6654.jpg kakashi/IMG_6655.jpg kakashi/IMG_6658.jpg kakashi/IMG_6662.jpg kakashi/IMG_6664.jpg kakashi/IMG_6665.jpg kakashi/IMG_6667.jpg kakashi/IMG_6668.jpg kakashi/IMG_6669.jpg kakashi/IMG_6674.jpg kakashi/IMG_6675.jpg kakashi/IMG_6676.jpg kakashi/IMG_6678.jpg kakashi/IMG_6680.jpg} do
    markdown:
      Їх тут --- сотні. Скрізь.

      «Працюють» у полях: збирають граблями сіно, перевозять тачанками збіжжя. «Продають» і «купують» морозиво на автобусній зупинці. Кількома «сімействами» «чекають» автобуса. «Залазять» на дерево, просто «сидять» на ґанку своєї хати і попивають каву. Один «бандера» так той взагалі, сидить на гілці дерева з рушницею і когось чекає.


  markdown:

    Словник навчив, що «какаші» означає опудало. Тепер зрозуміло, чому вони несправжні. Звичайно ж, свою справжю функцію опудал ці ляльки вже не виконують — ворон не відлякують,— але, все ж таки, опудала.

  = pull_left photo("kakashi/IMG_4932.jpg", filters: ["vignette-40"] ) do

    p З «неопудального» населення за час нашого проїзду селом (з кількома десятками зупинок для фотографування чергових шедеврів) помітили тільки одну живу бабульку. Бабулька працювала на полі, зігнувшись вдвічі до самої землі. І в моменти, коли вона на рухалася, її практично  неможливо було відрізнити від десятка таких же за розміром і подібно вдягнених опудал, що «працювали» з нею поруч на цьому ж полі.

  = pull_right photo "kakashi/IMG_6686.jpg", filters: ["vignette-40"], layout: :portrait do
    markdown:
      Проїхавши селом, вже на виїзді три мужика в пластмасових шоломах, в стандарній синій формі з жовтими світловідбивними жилетами робітників дорожних служб, видерлися на стовпа по драбині і вішали якийсь транспарант (з іншого боку транспаранта було написно 祖谷かかし村 — «Село опудал Ія»).

      — Ну хоч це не опудала, — з полегшенням зітхнула Наталя. Але виявилося, що і це теж були опудала, просто аж дуже натуральні.

      Вже трохи пізніше, від'їхавши від села, полегшено зітхнули: як нам пощастило не їхати цим селом поночі. В темряві від вигляду такого «населення», сидячого вздовж доріг і проводжаючого тебе немигаючими поглядами сотень пар пришитих нитками очей-ґудзиків, легко можна врізати дуба.
