---
layout: post
series: "Шікоку - два золотих тижні"
title: "У кого стіна вища?"
summary:  ""
description: |
  ""
intro:
  image: ""
images:
  basepath: shikoku_15/...

tags:
  - Shikoku
  - Tokushima
  - michino-eki
  - onsen
  - Iya valley
  - route 32
toc:
  # Другий день
  - 2015-04-27
  - дорога https://goo.gl/qauKX0, https://goo.gl/bd7F85
  - початок на стоянці Ія-удацу
  - Ніші Ія - західна Ія
  - дорога в долину Ія - кокудо 32, кендо 32, кокудо 439,
  - болото в горах
  - висячий міст з ліан
    - Ія казурабаші
    - https://goo.gl/Ya42QQ -  reviews
  - Ія онсен
    - фунікулер - спуск до онсену
    170 м висота, 250м довжина.
    - "баня через дорогу роздягалка"
  - ресторан до 4ї
  - ночівля на 32-кокудо

---

= chapter do
  markdown:
    Дорожня станція, або "мічіно-екі", де ми вирішили заночувати, звалася Аі-рандо-удацу.

    ## Удацу

    Зранку --- традиційне запитання: "ну що, куди вирушаємо зараз"? Відповісти на нього цього разу було легко. Прямо  на автостоянці --- стенд з фотографіями і поясненнями місцевих цікавостей і інформацією, як добратися.

    Перший пункт: "Старе місто Удацу. Добиратися: 1 хв. пішки". Поза конкуренцією. Починаємо звідси.

    Удацу-мачі --- пара вуличок з будинками, які збереглися з 18го сторіччя. В основному будинки багатих торговців. Звідси і походить назва. Удацу --- надбудова на даху першого поверху --- вертикальна стіна з саману ("мазанка"), над якою --- ще один дах, другого поверху. В давні часи "удацу" вважалася ознакою багатства, і чим вищою була "удацу", тим багатшими був її власник. В усі часи багатії чимось мірялися. Аналог сьогоднішнього мерса чи бумера.

     Найстаріший будинок, що зберігся 1709го року, другий за ним на пару десятків років молодший. Трохи розпитали власника будинку --- будинки, не дивлячись на те, що дерев'яні, все-таки справжні, не перебудовані. Основні дерев'яні конструкції стовпи-"хашіра" та несучі балки так і збереглися з часів побудови. Деякі невеликі деталі --- відреставровані чи відновлені.

    # Долина Західної Ія

    В центральній (на південний схід від Наруто) частині префектури Токушіма знаходиться долина річки Ія (Iya Valley, 祖谷渓, Iyakei). Долина ще досі залишається малодоступною для цивілізації і дикою. Долина Ія традиційно була важкодоступною, і тут ховалися біженці різноманітних японських кланових воєн починаючи з 12го сторіччя. Вона була "перевідкрита" американцем Алексо Керрі, який викупив і відновив стару японську ферму в Західній Ія -- в Чііорі --- і описує це в своїй книзі "Загублена Японія".

    Сама долина умовно поділяється на більш доступну -- західну частину (Ніші Ія), і віддалену східу (або "дальню") --- Оку (хіґаші) Ія. РІзниця у "віддаленості" полягає в тому, що в західну доступну частину ходять рейсові автобуси і, наприклад, до онсену Ія можна доїхати на автобусі або замовити таксі від станції електрички. До дальньої Ія можна добратися тільки власною машиною.

    До долини Ія ведуть "кокудо" дороги номер 32 (та її "сестра" --- "кендо" 32), іа 439. 32-га державна --- загалом пристойна гірська дорога, а от 439-та --- незважаючи на свою "загальнояпонськість", так само, як і "префектурна" 32-га --- це багато кілометрів вузюсінької п\`окручі завширшки в півтора-два метри, тобто одну машину; з розширеннями для роз'їздів там і тут, і заворотами на 90-180 градусів кожні пару десятків метрів. Хоча раніше нам теж доводилося їздити по таких кручених дорогах (деяких навіть державного значення),  але не в таких кількостях --- кілька доріг в Ісе, та ще пару десятків кілометрів залишків на Ізу. Тут же --- багато десятків, сотні кілометрів.

    Практично вся 439-та дорога ("кокудо") і 32-"кендо" такі по всій своїй довжині, на сотні кілометрів[^1]. Рух по таких дорогах в середньому кілометрів 10 - 20 на годину, на особливо довгих прямих відрізках (до 100 -200 метрів) можна "розігнатися" аж до 30 чи 40 км/год.

    ^1: Вже дивлячись з сьогоднішнього досвіду --- такі не тільки дві згадані дороги, а більшість  доріг центральної гірської Токушіми, дороги чи то центрального загальнодержавного значення, чи префектурного рівня: 438, 439, 195. Виняток складають тільки "кокудо" 32 і 55 --- більш схожі на традиційні дороги "державного" рівня.

    ##  Міст із ліан

    Пишуть, що з минулих часів у долині Ія зберігалося десь із чотири сотні підвісних мостів, сплетених із ліан. До цього часу їх збереглося всього біля чорирьох десятків. Але з них, фактично, тільки три позначені на мапі, як туристські атракціони.

    Один з них Ія-казура-баші [祖谷のかずら橋](https://goo.gl/k4yX6N) в Західній Ія, і ще один --- подвійний Казура-баші в дальній Оку-Ія.

    Звичайно, ж рекламовані "туристські" ліанові мости вже не зовсім "сплетені" з ліан, а скоріше "обплетені": всередині проходять сталеві троси, але ззовні цього не дуже помітно, автентичність моста не втрачено.

    ## Ія готель і онсен

    Крім надзвичайно мальовничих краєвидів на 439 дорозі в західній Ія знаходяться і кілька "завлєкаловок" для туристів. Одного з нього, розрекламованого на всіх путівниках, маленького "пісюна" --- статую пісюячого в провалля зі скелі хлопчика --- ми так і пропустили, проїхваши, не помітивши. Вже аж потім, після онсену перед виїздом спитали в клерка "а де це?" і почули відповідь --- "ось туточки, по дорозі за 400 метрів". Пішли пішки подивилися і залишилися невраженими.

    Сам же онсен --- в [готелі з назвою Ія](https://goo.gl/90qyfb) --- досить цікавий. Як звично, онсен відкритий для відвідувачів "зі сторони" тільки до певного часу, так само, як і готельний ресторан (до четвертої). Потім обслуговує тільки тих, хто зупиняється на ніч.  Оскільки ми в готелі зупинятися не планували, то після візиту до онсену виявилися хоч і вимитими, але голодними. Вже було по четвертій.

    Сам готель (досить невеличкий) знаходиться на урвистій скелі з входом прямо з дороги на п'ятий поверх. Всі інші поверхи, від центрального фойє --- вниз.

    Сам готельний онсен розділений на дві частини. Поверхом нижче від фойє --- на четвертому --- офуро і душі. Тут можна помитися, в іншій частині --- зовнішнія ванна - ротембуро. В ротембуро ж немає ні душів, ні звичайної води, а до ротембуро веде канатний невеличкий фунікулер. Тобто, потрібно помитися на четвертому поверсі, потім, одяггнувшися, піднятися до фунікулера на п'ятий. І, зачекавши, з який десяток хвилин, спуститися на пару сотень метрів вниз, щоб попаритися.

    Тобто виходить, як у дитячому анекдоті шкільних років: "баня, через дорогу роздягалка". Цікаво, але не настільки, щоб захотілося попробувати це ж задоволення ще другий раз.

    Фунікулер спускається від готелю вниз в ущелину на глибину 170 метрів. Довжина самого фунікулера 250 метрів. Тут, над самою водою річки знаходиться джерела ротембуро.

    ## Обоке

    Крім самого готелю в горах біля Ія цивілізації --- катма. Спробували розпитати, де б можна було щось підвечеряти, але фактично найближчою цивілізацією виявився двадцяти-чотирьох годинний магазин за кілька десятків кілометрів на тій же 32й "кокудо", звідки починався наш день. Довелося на ніч їхати знову по тим же двом: чотириста тридцять дев'ятій і тридцять другим дорогам ("кокудо" і "кендо") до стоянки над річкою Ія в ущелині Обоке.

    Тут дорога проходить теж понад річкою (Йошіно), але не так високо. Не 170 метрів, а якихось двадцять-тридцять. І тут вже можна покататися на моторному дерев'яному човні по більш спокійних частинах річки (без порогів), або замовити собі одноденну чи на пів-дня пригоду і спуститися по біло-пінним порогам на надувному човні чи плоту.

    МІсцева мічіно-екі нам не дуже сподобалася, тому проїхавши ще пару кілометрів ми заночували'     на стоянці біля "севен-ілевена".
