---
layout: post
series: Шікоку - два золотих тижні
title: "Шікоку - перші знайомства"
summary:  "Несправжні оригінали і справжній Куросавин глечик."
description: |
  В Шікоку виїхали поночі. Знаючи, що на Золотий тиждень всі дороги перетворюются на суцільні запори, ми вирушили заздалегідь і після відправки з дому о-півночі, вже до ранку були на в'їзді до Шікоку.
intro:
  image: bridge/IMG_6291.JPG
images:
  basepath: shikoku_15/day1_naruto

tags:
  - Kurosawa
  - museum
  - Shikoku
  - Tokushima
  - Naruto
  - onsen
  - michino-eki
#  Перший день
toc:
  - дорога:
      - https://goo.gl/1vh8yL
      - https://goo.gl/NCTLdQ виправлена
  - Виїхали 12 год ночі
  - 600 км
  - Великі мости

  ## Токушіма
  - дорога
  - Отсука музей реплік
  - Наруто мости
  - Наруто - глечики
  - Куросава глечик з фільму 1980	Kagemusha (The Shadow Warrior)	影武者	Kagemusha
  - Онсен - (Аня, Влад)
  - Ай-рандо мічіноекі:
    - старе місто Удацо-но-мачі-намі
    - http://www.skr.mlit.go.jp/road/rstation/station/airandb.html

---
= chapter do
  markdown:

      З півночно-східного напрямку в'їздом і містком до чотирьох провінцій[^1] Шікоку служить невеликий острів Аваджі-шіма, з'єднаний з "великою землею" Хоншю і меншою землею Шікоку красивими підвісними мостами понад морем з чудовими краєвидами. Це --- міст Аваджі --- найбільший підвісний міст світу. Вікіпедія про нього розказує, що відстань між його стояками, не мало, не багато: 1991 метр.

      > [^1]: Шікоку -- дослівно перекладається, як "чотири країни", і насправді складається з чотирьої префектур: Токушіма, Кочі, Ехіме і Каґава.

= divider "bridge/IMG_6288.JPG", filters: ["vignette-80", "sepia-40", "text-shadow"], panorama: true do
  markdown:
    # Наруто

    Перша з півночного-сходу префектура --- Токушіма. Північна точка Токушіми --- місто Наруто.

= chapter do
  markdown:
    Міст, що з'єднує Аваджі і Токушіму відомий своїми чудовими краєвидами і водоворотами. В залежності від розкладу припливів і відпливів на поверхні води з'являються величезні водяні воронки, до яких відправляються екскурсії на човнах. Ми не попали сюди а ні в час ні припливу, а ні ж відпливу --- тому насолоджувались виключно краєвидами. Але навіть і в "спокійному" стані бурляча поверхня води під мостом складає враження.

    З інших цікавостей в Наруто можна відмітит парк Наруто, який, власне, і складається з оглядового майданчика навколо мосту і музею "підробок".

= divider "bridge/IMG_6291.JPG", position: "top" do
  markdown:
    # Найбільший підвісний міст


= chapter do
  markdown:
    Міст Наруто, хоча й менший за Аваджі, але теж належить до [найбільших підвісних мостів світу](http://en.wikipedia.org/wiki/List_of_longest_suspension_bridge_spans).  І, якщо не зраджує пам'ять, це саме той міст пов'язаний з Україною через відомого українського руфера Мустанга. Він тут теж лазив і публікував свої фотки на його вершечку.

  = gallery %w{bridge/IMG_6255.JPG bridge/IMG_4540.JPG bridge/IMG_6269.JPG bridge/IMG_6270.JPG bridge/IMG_6279.JPG bridge/IMG_6282.JPG bridge/IMG_6286.JPG bridge/IMG_6288.JPG bridge/IMG_6289.JPG bridge/IMG_4552.JPG} do

  p
  = gallery %w{bridge/IMG_6256.JPG bridge/IMG_6257.JPG} do
    p Розфарбовані різноколірними шестикутниками штуки: це частина тросу, на якому висять мости в розрізі. На ближчому фото видно, що кожне таке волокно, з яких сплетений канат, це приблизно п'ятиміліметровий стальний дріт.

= divider "musei/IMG_6305.JPG", filters: [], panorama: true do
  markdown:
    #  Музей підробок

= chapter
  markdown:

    Музей "підробок", насправді називається музеєм репродукцій Отцука. Керамічна фірма Отцука Керамікс Лтд. заснувала такий собі (найбільший) музей, де виставлені  репродукції (виключно репродукції) світових мистецьких витворів на кераміці.

    Серед репродукцій --- як фрагменти фресок, так і цілі величезні зали величних храмів, так і картини відомих художників. Всі репродукції --- в натуральний розмір, як картини Пікасо, так і гробниця фараона.


  = pull_left(photo(%w{musei/IMG_4557.JPG musei/IMG_6298.JPG musei/IMG_6302.JPG }, layout: :portrait), 8) do
    p По музею вас водидиме ось такий симпатичненький балакучий екскурсовод.

  = pull_right(photo(%w{musei/IMG_6297.JPG }, layout: :portrait)) do
    markdown:
      А починається музей повнорозмірною копією [Сикстинської Капели](http://goo.gl/tvKi3)

  = photo(%w{musei/IMG_6310.JPG musei/IMG_6311.JPG musei/IMG_6312.JPG musei/IMG_6313.JPG musei/IMG_6308.JPG}) do
  p На експонатах в багатьох місцях помітно неозброєним оком, що вони просто зроблені з фотографії: тінь від ручки амфори так і залишається чорною плямою, а мозаїка просто намальована на кераміці.

  = gallery %w{musei/IMG_4559.JPG musei/IMG_4560.JPG musei/IMG_4562.JPG musei/IMG_6300.JPG musei/IMG_6303.JPG musei/IMG_6305.JPG musei/IMG_6308.JPG}

  p Зібрана, дійсно, величезна кількість творів на чотирьох поверхах, оформлених в хронологічному порядку від античності до двадцятого сторіччя. Тож, якщо ви бажаєте ознайомитися з усім мистецтвом усього світу за увесь час людської цивілізації за дві три години --- кращого місця не знайти.

= divider "hlechyky/IMG_6328.JPG" do
  markdown:
    # Глечики і глеки

= chapter
  markdown:
    Трохи далі на південь --- ближче до центру Наруто --- місцевість з кількома магазинами керамічних виробів. Тут з поконвік виліплюють і випікають глечики і величезні макітри. Ми попали сюди саме під кінець дня, вже коли робітники знімали всі прапорці і рекламні плакати "івенто". Але все-ж таки встигли подивитися і сам магазин, і виставлені навколо макітри, і величезну старезну піч, де вони випікалися на дровах та деревному вугіллі.

  = gallery(%w{hlechyky/IMG_4570.JPG hlechyky/IMG_6338.JPG hlechyky/IMG_6343.JPG hlechyky/IMG_6347.JPG hlechyky/IMG_6348.JPG hlechyky/IMG_6349.JPG hlechyky/IMG_6350.JPG hlechyky/IMG_6352.JPG hlechyky/IMG_6354.JPG hlechyky/IMG_6358.JPG})

    p Деякі з виставлених навколо магазину "глеків" мають по 2,5 - 3 метра в діаметрі.

  p
  = pull_left(photo(%w{hlechyky/IMG_6332.JPG hlechyky/IMG_6333.JPG}, layout: :portrait), 6) do
    markdown:
      Одна з таких макітр висотою в людський зріст і відповідного діаметру знаменита тим, що її знімав у одному з своїх фільмів Акіра Куросава ([фільм "Каґемушя" чи "Воїн Тіні"](http://en.wikipedia.org/wiki/Kagemusha)).

  markdown:
    До місця ночівлі, після онсену, їхали вже поночі, відшукавши на мапі "мічіно-екі", але до тої станції, куди спершу планували доїхати, не доїхали. Бо було вже пізно, очі злипалися після майже доби в дорозі. Тому звернули з головної дороги, вибравши "мічіно-екі" трохи поближче.

    Нам знову повезло з нашим рішенням, і на ранок були надзвичайно задоволені з того. Але про те --- далі, в наступній розповіді.

= divider "map.jpg", filters: ["grayscale-40", "sepia-60",  "vignette", "text-shadow"] do
  markdown:
    # Ukrainian connection

    На завершення дня чекав невеличнкий приємний сюрприз. Зайшовши до онсену, відшуканого на мапі, зустріли двох українців -- Аня і Влад, що працюють тут. Вечерю провели в онсенному ресторанчику в українській компанії. Тож нашого цвіту, справді по усьому світу.

    Ну, а закінчення дня зустріли на мічіно екі під назвою [Ай-ландо-но-удацу](http://www.skr.mlit.go.jp/road/rstation/station/airandb.html).

    Не вважаючи проїханого поночі хайвею, маршрут першого дня на Шікоку [виглядав так](https://goo.gl/NCTLdQ).
