---

# 29 квітня - четвертий день

layout: post
title: Ватне населення Оку Ія
description: |
  В цей день ми поклали початок своєму власному прочанству ("хенро"), а також дізналися, що "Дальній" Ія цілі села заселені ватними опудалами.

series: "Шікоку - два золотих тижні"
intro:
  image: kakashi/kakashi.jpg
  filters:
    - vignette-99
    - sepia-20
images:
  basepath: shikoku_15/day4_kakashi

# - дорога https://goo.gl/dmfYNV
# - ранок - いやしの温泉郷 - онсен, сніданок (1)
# - какаші-ляльки на дорозі (2)
# - дорога 439 кокудо - Оку-Ія (3)
#     - подвійний ліановий міст
# - 1955м гора  Тцуругі (4)
#     - підйомник, від гори підйомника до вершини - 40хв
#     - весь маршрут 4км
# - храм Кобо Дайші №12 - 1200 років (5)
#     - паломники
# - ніч - мічіноекі Онсен-но-сато Камі-яма 温泉の里神山 (6)

tags:
  - Shikoku
  - Shikoku pilgrimage
  - Kobo Daishi
  - Iya valley
  - route 439
  - michino-eki
  - hiking
  - mt. Tsurugi

---

= chapter do
  markdown:

    Онсен в いやしの温泉郷 зранку відкритий з шостої, а сніданок з сьомої. Нащо ж витрачати дорогоцінні ранкові години, якщо можна на годинку прямо зі сну залізти в самотній онсен і на самоті посидіти в ранковому ротенбуро. Так і було зроблено.

    Дорога далі від готелю Іяшіно пролягає далі вздовж річки Ія, долиною.

    # Дорога 439  --- Оку-Ія

    Сама долина річки Ія, як уже згадувалося, ділиться на східну та західну. Східна Ія --- Ія онсен, «пісяючий» хлопчик і все побачене нами на другий день подорожі --- знаходяться у східній Ія. Вона більш доступна --- тобто сюди можна добратися за бажання автобусом. Є як рейсові автобуси, так і човникові маршрути від залізничних станцій.

    Західна Ія (або Оку-Ія --- "Дальня" Ія) --- менш освоєна. Добратися сюди трохи важче. В основному через дороги, чи, частіше, через їх відсутність, як в анекдоті радянських часів: "Скажіть, а це правда, що в Одесі важко з маслом? Ні, неправда, в Одесі важко без масла". Основна дорога --- і єдина в багатьох місцях --- це продовження тої ж самої 439-тої, якою ми добиралися сюди.

  = partial :video_fluid, locals: { video: "tsurugi/doroga" }

= divider "kakashi/IMG_6651.jpg", filters_plus: ["text-shadow"] do
  markdown:
    # Какаші-електорат

    Ще попереднього дня звечора, під'їзжаючи до онсену з ночівлею, в кількох місцях помітили парочки тряпчаних ляльок в повний людський зріст. Всі вони одягнені в звичайлий людиський одяг, «носять» звичайні капелюхи і черевики, і здалеку їх важко відрізнити від звичайної людини.


= chapter do
  = pull_right photo("kakashi/IMG_6644.jpg"), 8 do
    markdown:

      Такі ж самі ляльки --- три бабці зайняті якоюсь ручною роботою --- сиділи в холі готелю.

      Спитавши у працівника, чому тут ці ляльки, чи чимось вони особливі для цієї місцевості, почули відповідь, що це «ка\`каші, але це -- не зовсім, чи не зовсім справжні ка\`каші…» Спочатку було незрозуміло (слово «какаші» ніколи до того не чули) , що це значить --- чи може ці «какаші» якась традиційна японська техніка виготовлення ляльок, трохи видозмінена тут, чи може ще щось інше...



  = pull_left photo("kakashi/IMG_6646.jpg", layout: :portrait) do
    markdown:
      Відклали в пам'яті незнайоме слово на потім.

      Зранку, вирушивши у дорогу і через деякий час під’зжаємо до села в долині, і… терміново виникла необхідність знайти слово в словнику.  Бо ми в'їзжаємо в [село](https://goo.gl/maps/v6GvJ) повністю «населене» цими ляльками-«какаші».

  markdown:
    Їх тут --- сотні. Скрізь.

    «Працюють» у полях: збирають граблями сіно, перевозять тачанками збіжжя. «Продають» і «купують» морозиво на автобусній зупинці. Кількома «сімействами» «чекають» автобуса. «Залазять» на дерево, просто «сидять» на ґанку своєї хати і попивають каву. Один «бандера» так той взагалі, сидить на гілці дерева з рушницею і когось чекає.

  = gallery %w{ kakashi/IMG_4934.jpg kakashi/IMG_6649.jpg kakashi/IMG_6684.jpg kakashi/IMG_6653.jpg kakashi/IMG_6654.jpg kakashi/IMG_6655.jpg kakashi/IMG_6658.jpg kakashi/IMG_6662.jpg kakashi/IMG_6664.jpg kakashi/IMG_6665.jpg kakashi/IMG_6667.jpg kakashi/IMG_6668.jpg kakashi/IMG_6669.jpg kakashi/IMG_6674.jpg kakashi/IMG_6675.jpg kakashi/IMG_6676.jpg kakashi/IMG_6678.jpg kakashi/IMG_6680.jpg}

  markdown:

    Словник навчив, що «какаші» означає опудало. Тепер зрозуміло, чому вони несправжні. Звичайно ж, свою справжю функцію опудал ці ляльки вже не виконують — ворон не відлякують,— але, все ж таки, опудала.

  = pull_left photo "kakashi/IMG_4932.jpg" do

    p З «неопудального» населення за час нашого проїзду селом (з кількома десятками зупинок для фотографування чергових шедеврів) помітили тільки одну живу бабульку. Бабулька працювала на полі, зігнувшись вдвічі до самої землі. І в моменти, коли вона на рухалася, її практично  неможливо було відрізнити від десятка таких же за розміром і подібно вдягнених опудал, що «працювали» з нею поруч на цьому ж полі.

  = pull_right photo "kakashi/IMG_6686.jpg", layout: :portrait do
    markdown:
      Проїхавши селом, вже на виїзді три мужика в пластмасових шоломах, в стандарній синій формі з жовтими світловідбивними жилетами робітників дорожних служб, видерлися на стовпа по драбині і вішали якийсь транспарант (з іншого боку транспаранта було написно 祖谷かかし村 — «Село опудал Ія»).

      — Ну хоч це не опудала, — з полегшенням зітхнула Наталя. Але виявилося, що і це теж були опудала, просто аж дуже натуральні.

      Вже трохи пізніше, від'їхавши від села, полегшено зітхнули: як нам пощастило не їхати цим селом поночі. В темряві від вигляду такого «населення», сидячого вздовж доріг і проводжаючого тебе немигаючими поглядами сотень пар пришитих нитками очей-ґудзиків, легко можна врізати дуба.

= divider "tsurugi/title.jpg", panorama: true do
  markdown:
    # Підняття на Тцуруґі-сан

    Найвища гора Шікоку --- Тцуруґі-сан --- звичайно ж, нижча за Фуджі і більш доступна. Висота Тцуруґі --- 1955 метрів.

= chapter do

  = pull_left(partial(:video_fluid, locals: { video: "tsurugi/pidjomnyk" }), 6) do

    markdown:
      До того ж, власне підйом починається від авто стоянки, з висоти щось біля 1200 метрів. Але... і це ще, власне не підйом (точніше, підйом, але не для всіх). Від стоянки вгору йде канатний підйомник з сидіннями. Від верхньої станції підйомника до вершини гори --- маршрут у 900 з чимось метрів завдовжки у приблизно 40 хвилин.


  markdown:
    Можна, власне, іти пішки прямо від підніжжя ліфту, аж до вершини гори. Весь повний маршрут — завдовжки біля чотирьох кілометрів, але ми скористалися комфортним коротшим: піднялися вгору підйомником, пішки до вершини гори, а спускалися додолу вже обминувши підйомник.


  = gallery %w{tsurugi/IMG_4947.JPG tsurugi/IMG_4949.JPG tsurugi/IMG_4950.JPG tsurugi/IMG_4951.JPG tsurugi/IMG_6696.jpg tsurugi/IMG_6701.jpg tsurugi/IMG_6703.jpg tsurugi/IMG_6705.jpg tsurugi/IMG_6709.jpg tsurugi/IMG_6710.jpg tsurugi/IMG_6712.jpg tsurugi/IMG_6713.jpg tsurugi/IMG_6719.jpg tsurugi/IMG_6722.jpg tsurugi/IMG_6733.jpg tsurugi/IMG_6736.JPG tsurugi/IMG_6747.jpg tsurugi/IMG_6749.jpg }

  = photo %w{tsurugi/IMG_4953.jpg tsurugi/IMG_4957.jpg tsurugi/IMG_6704.jpg tsurugi/IMG_6715.jpg tsurugi/IMG_6744.jpg tsurugi/IMG_6745.jpg tsurugi/IMG_6751.jpg tsurugi/IMG_6736.jpg}, layout: :portrait


= divider "pilgrim/title.jpg", panorama: true do
  markdown:
    ##  Пілігрімство та прочани Шікоку, храм Шьоосанджі

    На Шікоку налічується 88 храмів та монастирів, заснованих [Кобо Дайші (Кукай)](https://goo.gl/rYWD4Q). Кобо Дайші, закінчивши з монастирями на головному острові Хоншю, в тому числі один з найвідоміших і головний монастир секти Шінґон --- монастир [Коя-сан](https://goo.gl/M985j6), в ті часи відправився на Шікоку і продовжив свою діяльність тут.

= chapter do
  = pull_left gallery(%w{pilgrim/Pedometer_Shikoku.jpg pilgrim/pilgrimage.gif}), 6 do
    markdown:
      Дуже популярне паломництво по усіх восьмидесяти восьми храмах. Всі 88 пронумеровані і прийшовши, відвідавши черговий, бачиш дороговказ з напрямком до наступного.


  markdown:
    Перший з восьмидесяти восьми знаходиться на північно-східному кінці острова --- на "вході" з Хоншю, в префектурі Токушіма, біля Наруто. Далі — за стрілкою годинника, намистинками, вдовж берега моря — тільки в Токушімі ланцюжок заходить далеко вглиб острова,— аж до того місця де і починалося  — на північно-східному кінці острова, але вже в префектурі Каґава.

  = pull_right photo %w{pilgrim/IMG_6779.jpg} do
    markdown:
      Традиційно, подібне паломництво здійснювалося пішки. Пишуть, що для проходу пішки по всьому маршруту, із заходом в кожен з храмів, потрібно від сорока до шестидесяти днів. Загальна довжина маршруту поняд 1200км. Звичайно ж, у нас на подібний ентузіазм не вистачає ні часу, ні настирливості, тому ми машиною відвідали (поки-що) лише один з них, під номером №12 --- [Shōsan-ji (焼山寺)](https://goo.gl/M7b9vS).

  markdown:
    Пізніша примітка: далі — більше. Загалом під час подорожі ми відвідали щось трохи більше десятка-чи півтора храмів. Всі вони різні. Деякі — з чудовим морським краєвидом, прямо на березі моря, інші — високо в горах, інколи дуже важкодоступні, ще інші — просто посеред міста. Ми поза будь-якими сумнівами, не «справжні» правовірні прочани, але пам’ять від відвідин храмів залишилася чудова.

  = pull_left gallery(%w{pilgrim/y1200.jpg pilgrim/y1200_2.jpg}), 6 do
    markdown:
      В цьому році відзначається [1200 років від початку](http://www.shikokuhenrotrail.com/shikoku/1200YearAnniversary.html) прочанства в Шікоку. Важко сказати, чи в цьому році — у зв'язку з ювілеєм — більше прочан, ніж звично, чи така ситуація кожного року, але побувавши сьогодні тільки в одному з храмів, ми зустріли тут кілька молодих хлопців-прочан.

  markdown:
    На час нашого візиту храм вже було зачинено, і один з хлопців, з яким ми розговорилися, влаштовувався на ночівлю на лавці (без намета і спальника) біля входу до храму. Його мета --- вранці, о сьомій, коли відчиниться храм, отримати печатку з цього храму в спеціальній книзі. Повна мета --- зібрати всі 88 печаток. На храмовій парковці в цей же час розставляв намета на асфальті ще один такий же. Потім побачили ще кількох. Загалом за час нашого короткого візиту до храму ми зустріли шість молодих хлоців-паломників[^2].

    [^2]: З пізніших наблюдінь: прочан *багато*. Вздовж усього нашого маршруту — там де він співпадав з пілігрімською дорогою «хенро» — 辺路, — ми зустрічали (поодиноких, парами, або невеликими групами) прочан — як японців, так і «ґайджінів». І на багатьох мічіно-екі під час ночівлі, наша машина стояла поруч з наметиками велосипедистів, або ж велосипедисти-прочани спали тут же поруч на лавках, без наметів.

    Вже поночі, саме зараз, пишу це на "мічіно-екі" [Онсен-но-сато Камі-яма](https://goo.gl/zQwQN3) (温泉の里神山), і тут недалеко від нас влаштувався на подібну ж ночівлю велосипедист з Йокогами. Він теж уже встиг відвідати чи то сімнадцять, чи то вісімнадцять храмів. Прилетів літаком, сів на велосипед, зупиняється в одномісному наметику в подібних станціях.

  = gallery %w{pilgrim/IMG_6780.jpg pilgrim/IMG_6786.jpg pilgrim/IMG_6789.jpg pilgrim/IMG_6792.jpg pilgrim/IMG_6793.jpg pilgrim/IMG_6797.jpg pilgrim/IMG_6800.jpg pilgrim/IMG_6802.jpg pilgrim/IMG_6807.jpg pilgrim/IMG_6810.jpg pilgrim/IMG_6813.jpg pilgrim/IMG_6821.jpg pilgrim/IMG_6825.jpg pilgrim/IMG_6830.jpg pilgrim/IMG_6832.jpg pilgrim/IMG_6838.jpg pilgrim/IMG_6845.jpg pilgrim/IMG_6848.jpg pilgrim/IMG_6849.jpg pilgrim/IMG_6850.jpg}
