---
layout: post
title: "Сніданок туриста: мічіно-екі"
description: |
  Як виявилося, мічіно-екі (дорожні станції, 道の駅) це вже давно не суто японський феномен. Це явище разом із назвою вже активно поширюєься поза межами Японії.

tags:
  - travel
  - michino-eki
  - travel tips

images:
  basepath: 2015/michinoeki

intro:
  image: 16604005879_82259a6b4a_o.jpg

---

= chapter do
  markdown:
    # Мічіноекі

    Коли ми тільки почали мандрувати «навмання» Японією, ми ще не знали такої корисної штуки, як «мічіно-екі» (michino-eki, 道の駅) — «(при)дорожня станція»  в перекладі з японської. Потім, через пару подорожей, ми відкрили для себе це «явище».  Ну, а ще потім — пару місяців тому — я зацікавився історією виникнення мічіно-екі і відшукав її в мережі.

    Також я виявив, що це чисто японське явище поширюється вже і поза Японією. Наприклад, я натрапив на технічні нотатки до пілотних проектів мічіно-екі в Кенії, В'єтнамі та Китаї. Пілотний проект мічіно-екі у В'єтнамі почався ще 2007-го року. І, як видно, навіть слово це вже приживається в міжнародній аудиторії.

    Цілком можливо, що ми не помічали станцій напочатку, бо їх не стільки було в часи наших перших подорожей (2000-2003 роки). Динаміка поширення мічіно-екі серйозна. Почавши з пробних станцій у Ямагучі, Ґіфу та Точіґі в 1991 році, та 103 «пілотних» станцій у 1993му, кількість виросла до 936 у 2010-му, а насьогодні вікіпедія каже, що у 2014 вже було понад 1100 станцій по всій Японії.

    Мета дорожніх станцій --- мічіно-екі — допомогти розвитку місцевого бізнесу. Задумка була проста і, як виявилося, ефективна.

    ## Отже, що таке мічіно-екі?

    Дорожні станції будуються вздовж головних доріг, в основному державного значення («кокудо»), інколи на дорогах префектурного значення («кендо») — мова не йде про стоянки на платних хайвеях, а саме про «шіта-мічі», безкоштовні дороги.

  = pull_right photo("screen-capture-16.png", layout: :portrait), 3 do
    markdown:
      Мічіно-екі завжди вказуються знаками на дорозі з спеціальним логотипом: стилізований будиночок під двома ялиночками і написом 道の駅.

      Останнім часом --- багато доступної інформації про мічіно-екі: на будь-якій стоянці на хайвеї можна взяти мапу префектури з позначеними усіма станціями цієї префектури, нові навігатори мають пошук по мічіно-екі, не кажучи вже про інтернет. Перед виїздом до Кіото минулого року ми саме так і зробили: відшукали в інтернеті мічіно-екі близько до того місця, куди збиралися і були спокійні за ночівлю.

  = pull_left (photo "michinoeki-01-1-thumb-695xauto-1056.jpg"), 8 do
    markdown:
      Типовий вигляд мічіно екі на графіці із [розшуканих в інтернеті статей](http://www.researchgate.net/publication/259965521_Michi-no-eki_an_opportunity_for_the_rural_economy_Town_and_Country_Planning_Journal._JulyAugust_2010)

  markdown:
    Кожна мічіно-екі має:

    - безкоштовну парковку для машин;
    - блок гігієни (туалети);
    - блок харчування (ресторани, їдальні, автомати з напоями);
    - торгівельний блок: часто це магазин та/або базарчик з місцевими товарами;
    - не завжди, але навколо деяких станцій є сяка-така зелена зона.

    Часто також на мічіно-екі є інформаційний центр, або хоча б стенд з брошурами про місцеві цікавинки. Власне, з візитів до інформаційних центрів і почалося наше знайомство з мічіно-екі. Завітали на кілька таких станцій, понабиралися інформації, де-інде надибували на свіжі місцеві овочі чи фрукти.

    А потім почали помічати, що тут, на станціях також ночують поодинокі рибалки, випадкові мандруючі сімейства та «дальнобійники». Слово «безкоштовна», там де йдеться про парковку, звичайно ж привабливе. **Всі** мічіно-екі безкоштовні і дозволяють паркуватися 24 години на добу, навіть в таких місцях, як завжди натрамбоване машинами передмістя Кіото.

    Інколи інформаційні кімнати не зачиняються на ніч, --- якщо повезе, можна перечекати негоду навіть вночі (але в більшості випадків, все-таки, працюють по розкладу: з дев’ятої чи десятої ранку до четвертої-п’ятої вечора).

    Але, навіть якщо немає відчинених вночі кімнат, то на переважній більшості мічіно-екі все одно є столи з лавами чи стільцями навколо ресторанів, а біля станцій з зеленою зоною трапляються невеличкі альтанки.  Їх, звичайно ж, ніхто на ніч не прибирає, і після зачинення ресторанів всі ці столи-лавки окупуються мандрівниками.

  = gallery %w{ 17388179355_420197f8ed_o.jpg  16170204363_a9e6590446_o.jpg 16583076007_8e6d5e14cd_o.jpg 16604005879_82259a6b4a_o.jpg 16764267956_e56426d649_o.jpg 16167569274_4410711d11_o.jpg }

  markdown:
    ## Щодо ночівлі

    Мічіно-екі --- це переважно багато квадратних метрів заасфальтованої поверхні. Тому мова не йде про те, щоб розставляти намета чи розводити багаття.

  = pull_right photo "IMG_6853.jpg" do
    markdown:
      Але, наприклад на Шікоку, де мандрівники — це переважно прочани (піші або на велосипедах чи мотоциклах),--- не раз бачили розставлені прямо на асфальті одномісні наметики чи сплячих на лавках велосипедистів та готуючих на переносних газових плитах вечерю чи сніданок. З цим нема проблем, єдине --- прибрати свого намета та закінчити сніданок до того, як повідчиняються ресторани та базари.

  markdown:
    Ну, а в денний час мічіно-екі --- це ресторани, щоб пообідати та магазини і базари щоб купити місцевого вирощування овочі/фрукти. Дешевше, ніж в магазинах, і завжди свіжі, тільки з грядки.

    ### Деякі додаткові посилання на інформацію про мічіно-екі

    1. Вікіпедія: [англійською](https://en.wikipedia.org/wiki/Roadside_station) та [японською](https://goo.gl/oEi37j)
    2. [Michi-no-eki an opportunity for the rural economy, Town and Country Planning Journal](http://www.researchgate.net/publication/259965521_Michi-no-eki_an_opportunity_for_the_rural_economy_Town_and_Country_Planning_Journal._JulyAugust_2010)
    1. [What is Michino-eki](http://road-station.com/what-is-michi-no-eki/)
    1. [Technical Note A. Michinoeki pilot study in Kenya](http://www.worldbank.org/transport/roads/rdside%20station%20docs/02_NoteA.pdf)
    1. [TOR for the pilot study in China](http://www.worldbank.org/transport/roads/rdside%20station%20docs/05_Appendix_tor.pdf)
