---
title: Той, що вимолює дощ
description: |
  Водоспад Ама-ґої-но-такі (雨乞の滝) — який з японської перекладається щось на зразок «вимолювач (випрошувач) дощу» — як стверджують путівники, належить до сотні найкрасивіших водоспадів Японії і до четвірки найкращих водоспадів Шікоку. Після візиту ми ці рейтинги підтверджуємо — красиво!

series: "Шікоку - два золотих тижні"

intro:
  video: water
  image: IMG_6861.jpg

tags:
  - travel
  - Shikoku
  - Tokushima
  - travel
  - michino-eki
  - waterfall
  - buddism
  - hiking
images:
  basepath: shikoku_15/day5

# Водоспад і храм
# 2015-04-30
# - початок
# - каміяма онсен https://goo.gl/Q22ZAq
# - http://kamiyama-spa.com/michi/ - michinoeki
# - водоспад - 800м
# - храм - 1,1 км

# -  маршрут за день https://goo.gl/LZHK0q

# - вечір
# - ніч - мічіно-екі в "Хікарі-мачі" - LED скрізь - https://goo.gl/Eprlpv -
# - michinoeki 公方の郷なかがわ - tokushima - kubounosatonakagawa - http://www.skr.mlit.go.jp/road/rstation/station/nakagawa.html

---

= chapter do
  = pull_right google_map( "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6617.611617373745!2d134.36573122747805!3d33.9718304342963!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x5f774550fda59787!2z6YGT44Gu6aeF5rip5rOJ44Gu6YeM56We5bGx!5e0!3m2!1suk!2sus!4v1435806934791"), 6 do
    markdown:
      Зранку, після ночівлі на мічіно-екі [Каміяма-онсен](https://goo.gl/Q22ZAq) ([офійний сайт](http://kamiyama-spa.com/michi/)), вивчаючи інформацію про навколишні цікавинки і дива надибали на водоспад, який виявися по мапі всього в кількох кілометрах від нашої ночівлі.

= divider "michinoeki.jpg", filters_plus: ["text-shadow"] do
  markdown:
    # Непосидючі пенсіонери

    Поруч з нами на стоянці ночували вже похилого, пенсійного віку  японці: п'ятеро чи шестеро чоловіків і жінок. Напрочуд активні і балакучі. На великому автобусі-трейлері, з кухнею, спальними місцями і електро-генератором.

= chapter do
  markdown:
    Напередодні ввечері вони, витягнувши переноску від генератора, на електричній плитці зготували собі вечерю, понапивалися пива і саке, і ще продовжували голосно гелготіти, коли ми вже по-темному вкладалися спати. Тут же поруч зупинявся у наметі велосипедний прочанин з Йогоками, і ще довго поночі було чути розпитування і розповіді, про те, хто скільки храмів здолав за сьогодні і попередні дні.

     Зранку ж, о шостій, вони, вмикнувши на весь голос радіо з автобуса, під звуки піаніно ранкової гімнастики і «раз-два-три-ноги-на-ширину-плеч» робили на асфальті зарядку. А після зарядки хутенько кудись завіялися --- ми ж, заправившися кавою, відправилися до водоспаду.

= divider "IMG_6862.jpg", filters: %w{vignette-40 text-shadow}, panorama: true do
  markdown:
    Розрекламований водоспад виявився не одним водоспадом, а цілим каскадом водоспадів вздовж гірської річки, що протікає прохолодною довгою ущелиною. «Випрошувач дощу» водоспад Ама-ґої -- найвищий і найвіддаленіший з них. По дорозі розкидані водоспади «Солов'їний», «Журавлиний голос» та ще кілька з подібними ж назвами.

=chapter do
  p Центральний водоспад — дуже красивий — розташований глибоко в лісі, до нього ще треба підійматися від парковки ще трохи менше кілометра бетонованою стежкою.  Водоспад: з двох боків в озерце падають відразу два великих водоспади, кожен з них — багато менших струменів, спадаючих зі скель до озерця в підніжжі.

  = pull_left gallery(%w{IMG_4995.jpg IMG_4996.jpg IMG_4998.jpg}), 6 do
    p «Квіти-мухоїди». Ми і раніше зустрічали їх в японських горах, але ніколи не бачили ці квіти в такому вигляді. Коли ми піднімалися вгору зранку, квітки тільки мали піднятий вгору дзвіночок з великим листком піднятим догоги. Великої бульки ще не було. ПІд час спуску, через яких пару годин, в кожній квітці всередині стирчала велика біля гуля на ніжці, розміром майже як уся квітка. Гуля на дотик липка.

  markdown:

  = gallery %w{IMG_4979-EFFECTS.jpg IMG_4981-EFFECTS.jpg IMG_6866-EFFECTS.jpg}

  markdown:
    Більша права половина водоспаду — розділена надвоє по висоті: десь там, вище — ще одне озерце, в яке падає верхня частина правої частини. Від нижнього озера до верхнього протягнутий ланцюг і щось типу сходинок в скелі, хтозна — може щоб залазити туди покупатися? — не пробували, не знаємо.


  = pull_left(photo("IMG_6872.jpg", layout: :portrait)) do
    markdown:
      А від підніжжя водоспаду вгору ще веде доріжка, вже не бетонна, і крутіша, ніж до цього. Веде стежка, як пишеться на дерев’яному вказівнику біля її початку, до буддійського храму [Хіґан-джі](https://goo.gl/Xxwcj0)  (悲願寺, ひがんじ). До нього — трохи більше кілометра. Не зважаючи на відсутність — за нашою звичкою — гірського взуття і будь-якого гірського, туристичного причандалля, ми все-таки тупцяємо до храму.

  = pull_right(gallery( %w{IMG_6875-EFFECTS.jpg IMG_4985.jpg}, layout: :portrait, filters: []), 6) do
    markdown:
      Починається стежина з укріплених дерев’яними колодами сходів, місцями — кам’яні чи бетонні східці, часами переходить у гірську стежку поміж каменюками і корянням дерев, ще далі в стежечку понад урвищем з розкішним краєвидом на далекі гірські кряжі та ліси, ближче до вершини стежка йде лісом, помережаним струмочками і рівчачками та поваленими деревами.

  markdown:
    На самому вершечку гори — яка зветься Таканеяма (高根山) — сонячна галявина, оточена з усіх боків лісом: криптомерії/кедри «суґі» та кипариси «хінокі».

    Галявина поросла м’якенькою зелененькою травичкою та глибоким мохом. Тиша і краса!

= divider "tranquil_short_half_speed.jpg", video: "tranquil_short_half_speed", filters: %w{text-shadow} do
  markdown:
    Після того, як залізеш обома ногами в багнюку на підході до галявини — звичайно-ж, від цього ковзючі на гірському підйомі шкіряні сандалі не перестали ковзатися — так класно виставити сандалі на сонечку просихатися, а самому дибати туди-сюди босоніж, роззиратися навколо та насолоджуватися тишею, нірваною, буддійською архітектурою і транквільністю.

= chapter do
  markdown:
    Чудово — жодної живої душі нема, бо ж храм «лівий» — не входить до офіційного переліку восьмидесяти-восьми пілігрімських пунктів. Крім нас сюди нікого поки-що не «занесло». Правда, ми відправилися сюди зрання, зразу ж після раннього сніданку. Може, ближче до обіду-полудня ще й сюди теж завітають.

  = photo %w{IMG_4987.jpg IMG_5004.jpg IMG_6857.jpg} , layout: :portrait

  = youtube "nvUB7W7e6tQ"

  markdown:
    # Кому можна, а кому ні до храму?

    Цього дня режим у нас вийшов дещо нестандартний. Мічіно-екі, де ми ночували цього дня — прямо поруч з онсеном. В онсені  — непоганий ресторан, і поруч з ними невеличкий красивий парк з квітучими ліанами фуджі, річечкою і водяним млином. Тож ми вирішуємо, що сьогодні ми замість чекати вечора, підемо в онсен прямо зараз, після гірської прогулянки, а потім вже вирушимо далі.

    Що ми і робимо. І з настанням темряви опиняємося на автостоянці [Накаґава (公方の郷なかがわ) ](http://www.skr.mlit.go.jp/road/rstation/station/nakagawa.html) в низині і в оточенні цивілізації.

  = google_map "https://www.google.com/maps/embed?pb=!1m28!1m8!1m3!1d105904.37442423931!2d134.4774347!3d33.9536851!3m2!1i1024!2i768!4f13.1!4m17!3e0!4m5!1s0x3553a85c4b17df55%3A0x5f774550fda59787!2z6YGT44Gu6aeF5rip5rOJ44Gu6YeM56We5bGxLCDjgJI3NzEtMzMxMCBUb2t1c2hpbWEgUHJlZmVjdHVyZSwgTXlvemFpIERpc3RyaWN0LCBLYW1peWFtYSwgSmlucnlvLCBOaXNoaXVldHN1bm_iiJIxNTHiiJIx!3m2!1d33.973561!2d134.367695!4m3!3m2!1d33.9632755!2d134.3393345!4m5!1s0x355315b17d83f3cf%3A0x725a4a187adc1cbc!2z6YGT44Gu6aeF5YWs5pa544Gu6YO344Gq44GL44GM44KPLCDjgJI3NzktMTIzNiBUb2t1c2hpbWEgUHJlZmVjdHVyZSwgQW5hbiwgTmFrYWdhd2FjaG90YWt1bXVqaSwgMjLiiJI2!3m2!1d33.952937999999996!2d134.667812!5e0!3m2!1suk!2sjp!4v1435892300914"

  markdown:
    Але ще до виїзду звідси, тут же в холі онсену і ресторану ми натрапили на експозицію чогось типу «інфографіки» про, як ми зрозуміли «цікавинки» всіх восьмидесяти-восьми храмів.

    На стіні типографським способом видруковані 88 плакатів формату біля А4. На одному з них — під №18 —  картинка, на якій на одній половині зображена молода дівчина, з іншого боку — жінка з дитиною, як нам видалося, інфографіка показує, що до цього храму забороняється ходити бездітним дівчатам (щось типу дорожнього знаку — коло, перекреслене червоною смугою), а от жінкам з дітьми  — будь ласка.

    Такі заборони чи забобони загалом, не дивина. Буддизм має різноманітні обмеження на відвідування храмів чи монастрирів. Головний храм секти Шінґон, наприклад, — Коя-сан — до недавнього часу забороняв жінкам взагалі підніматися на гору де розташований храм. Ще й досі є [храми](https://en.wikipedia.org/wiki/Mount_%C5%8Cmine#Ban_on_women), де жінкам вхід заборонено.

    Тому ми не здивувалися, а зацікавилися. Зацікавилися настільки, що наступного дня ми таки побували в храмі №18 Онзан-джі (Onzan-ji, 恩山寺), і дізналися …

    Але це було вже завтра, тож чекайте наступної розповіді.
