---

# 29 квітня - четвертий день

layout: post
title: "29 квітня (2): Підняття на Тцуруґі-сан"
description: |
    Тцуруґі-сан &mdash; найвища гора Шікоку. Звичайно ж, нижча за Фуджі і більш доступна. Висота Тцуруґі &mdash; 1955 метрів.

series: "Шікоку - два золотих тижні"
intro:
  image: "tsurugi/title.jpg"
  filters:
    - vignette-99
    - sepia-20
images:
  basepath: shikoku_15/day4_kakashi

# - дорога https://goo.gl/dmfYNV
# - ранок - いやしの温泉郷 - онсен, сніданок (1)
# - какаші-ляльки на дорозі (2)
# - дорога 439 кокудо - Оку-Ія (3)
#     - подвійний ліановий міст
# - 1955м гора  Тцуругі (4)
#     - підйомник, від гори підйомника до вершини - 40хв
#     - весь маршрут 4км
# - храм Кобо Дайші №12 - 1200 років (5)
#     - паломники
# - ніч - мічіноекі Онсен-но-сато Камі-яма 温泉の里神山 (6)

tags:
  - travel
  - Shikoku
  - Tokushima
  - pilgrimage
  - Kobo Daishi
  - Iya valley
  - route 439
  - michino-eki
  - hiking
  - mt. Tsurugi

---

= chapter do
  markdown:
    # Підняття на Тцуруґі-сан


= chapter do

  = google_map "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26507.03991449818!2d134.077121079799!3d33.854096695889034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x355237d85f748f35%3A0x5d98f310ebe684fb!2sMt+Tsurugi%2C+Iwakura%2C+Naka%2C+Naka+District%2C+Tokushima+Prefecture+771-6118!5e0!3m2!1suk!2sjp!4v1456892066789"
  = pull_left(partial(:video_fluid, locals: { video: "tsurugi/pidjomnyk" }), 6) do

    markdown:
      Підйом на Тцуруґі-сан, звичайно ж, не йде ні в яке порівняння ні з Фуджі, ні з горами японських альп. До того ж, власне підйом починається від авто стоянки, з висоти щось біля 1200 метрів. Але... і це ще, власне не підйом (точніше, підйом, але не для всіх). Від стоянки вгору йде канатний підйомник з сидіннями. Від верхньої станції підйомника до вершини гори --- маршрут у 900 з чимось метрів, завдовжки у приблизно 40 хвилин.


  markdown:
    Можна, власне, іти пішки прямо від підніжжя ліфту, аж до вершини гори. Весь повний маршрут — завдовжки біля чотирьох кілометрів, але ми скористалися комфортним коротшим: піднялися вгору підйомником, пішки до вершини гори, а спускалися додолу вже обминувши підйомник.


  = gallery %w{tsurugi/IMG_4947.JPG tsurugi/IMG_4949.JPG tsurugi/IMG_4950.JPG tsurugi/IMG_4951.JPG tsurugi/IMG_6696.jpg tsurugi/IMG_6701.jpg tsurugi/IMG_6703.jpg tsurugi/IMG_6705.jpg tsurugi/IMG_6709.jpg tsurugi/IMG_6710.jpg tsurugi/IMG_6712.jpg tsurugi/IMG_6713.jpg tsurugi/IMG_6719.jpg tsurugi/IMG_6722.jpg tsurugi/IMG_6733.jpg tsurugi/IMG_6736.JPG tsurugi/IMG_6747.jpg tsurugi/IMG_6749.jpg }

  markdown:

    В підніжжі гори розташований великий шінтоїський храм. В той час, коли ми якраз збиралися підніматися, в храмі відбувалося велике богослужіння з величезною кількістю народу туристичного вигляду. У присутніх з'ясували, що якраз в цей день відбувалося офіційне шінтоїське відкриття туристичнного сезону і, що відсьогодні "офіційно" підніматися на гору буде безпечно.

  = gallery %w{tsurugi/IMG_4953.jpg tsurugi/IMG_4957.jpg tsurugi/IMG_6704.jpg tsurugi/IMG_6715.jpg tsurugi/IMG_6744.jpg tsurugi/IMG_6745.jpg tsurugi/IMG_6751.jpg tsurugi/IMG_6736.jpg}, layout: :portrait
