---

#  Перший день

- дорога https://goo.gl/1vh8yL
- Виїхали 12 год ночі
- 600 км
- Великі мости

## Токушіма
- дорога
- Отсука музей реплік
- Наруто мости
- Наруто - глечики
  - Куросава глечик
- Онсен - (Аня, Влад)
- Ай-рандо мічіноекі
    - старе місто Удацо-но-мачі-намі
    - http://www.skr.mlit.go.jp/road/rstation/station/airandb.html

---

В Шікоку виїхали поночі. Знаючи, що на Золотий тиждень всі дороги перетворюются на суцільні запори, ми вирушили заздалегідь і після відправки з дому о-півночі, вже до ранку були на в'їзді до Шікоку.

З півночно-східного напрямку в'їздом і містком до чотирьох провінцій[^1] Шікоку служить невеликий острів Аваджі-шіма, з'єднаний з "великою землею" Хоншю і меншою землею Шікоку красивими підвісними мостами понад морем з чудовими краєвидами. Це --- міст Аваджі --- найбільший підвісний міст світу. Вікіпедія про нього розказує, що відстань між його стояками, не мало, не багато: 1991 метр.

1: Шікоку -- дослівно перекладається, як "чотири країни", і насправді складається з чотирьої префектур: Токушіма, Кочі, Ехіме і Каґава.

## Наруто

Перша з півночного-сходу префектура --- Токушіма. Північна точка Токушіми --- місто Наруто. Міст, що з'єднує Аваджі і Токушіму відомий своїми чудовими краєвидами і водоворотами. В залежності від розкладу припливів і відпливів на поверхні води з'являються величезні водяні воронки, до яких відправляються екскурсії на човнах. Ми не попали сюди а ні в час ні припливу, а ні ж відпливу --- тому насолоджувались виключно краєвидами. Але навіть і в "спокійному" стані бурляча поверхня води під мостом складає враження.

З інших цікавостей в Наруто можна відмітит парк Наруто, який, власне, і складається з оглядового майданчика навколо мосту і музею "підробок".

### Найбільший підвісний міст

Міст Наруто, хоча й менший за Аваджі, але теж належить до [найбільших підвісних мостів світу](http://en.wikipedia.org/wiki/List_of_longest_suspension_bridge_spans).  І, якщо не зраджує пам'ять, це саме той міст пов'язаний з Україною через відомого українського руфера Мустанга. Він тут теж лазив і публікував свої фотки на його вершечку.

###  Музей репродукцій

Музей "підробок", насправді називається музеєм репродукцій Отцука. Керамічна фірма Отцука Керамікс Лтд. заснувала такий собі (найбільший) музей, де виставлені  репродукції (виключно репродукції) світових мистецьких витворів на кераміці.

Серед репродукцій --- як фрагменти фресок, так і цілі величезні зали величних храмів, так і картини відомих художників. Всі репродукції --- в натуральний розмір, як картини Пікасо, так і гробниця фараона.

Зібрана, дійсно, величезна кількість творів на чотирьох поверхах, оформлених в хронологічному порядку від античності до двадцятого сторіччя. Тож, якщо ви бажаєте ознайомитися з усім мистецтвом усього світу за увесь час людської цивілізації за дві три години --- кращого місця не знайти.

### Глечики і глеки

Трохи далі на південь --- ближче до центру Наруто --- місцевість з кількома магазинами керамічних виробів. Тут з поконвік виліплюють і випікають глечики і величезні макітри. Ми попали сюди саме під кінець дня, вже коли робітники знімали всі прапорці і рекламні плакати "івенто". Але все-ж таки встигли подивитися і сам магазин, і виставлені навколо макітри, і величезну старезну піч, де вони випікалися на дровах та деревному вугіллі.

Деякі з виставлених навколо магазину "глеків" мають по 2,5 - 3 метра в діаметрі. Одна з таких макітр висотою в людський зріст і відповідного діаметру знаменита тим, що її знімав у одному з своїх фільмів Куросава.

До місця ночівлі, після онсену, їхали вже поночі, відшукавши на мапі "мічіно-екі", але до тої станції, куди спершу планували доїхати, не доїхали. Бо було вже пізно, очі злипалися після майже доби в дорозі. Тому звернули з головної дороги, вибравши "мічіно-екі" трохи поближче.

Нам знову повезло з нашим рішенням, і на ранок були надзвичайно задоволені з того. Але про те --- далі, в наступній розповіді.

## Ukrainian connection

На завершення дня чекав приємний сюрприз. Зайшовши до онсену, відшуканого на мапі, зустріли тут двох українців -- Аня і Влад, що працюють тут. Тож нашого цвіту, справді по усьому світу.

Ну, а закінчення дня зустріли на мічіно екі під назвою [Ай-ландо-но-удацу](http://www.skr.mlit.go.jp/road/rstation/station/airandb.html).
