---

layout: post
series: "Шікоку - два золотих тижні"
title: День шостий - «храмовий»
description: |
  Цей день у нас виявився «храмовим». Несподівано наш маршрут проліг по кількох з череди восьмидесяти-восьми буддистських святинь. Але не тільки: прямо на нашій дорозі лежав справжній «кішчячий» (за влучним висловом пані-міністра) храм і найстрашніша дорога всієї нашої подорожі.

intro:
  image: "koty/IMG_6941.jpg"
  filters:
    - vignette-30
    - sepia-20
  #   - text-on-dark
    - text-shadow
images:
  basepath: shikoku_15/day6



# 2015 05 01
# https://goo.gl/1FUlaL  - маршрут (https://goo.gl/injd3Z - без корекцій)
#
# Храми - п'ятниця 1 травня
# - дорога https://goo.gl/3DnZwt, https://goo.gl/j0iSk5
# - храми
#     - 18 - жінкам не можна (??) Onzan-ji (恩山寺)
#     - 19,- Tatsue-ji (立江寺)
#     - 20, - Kakurin-ji (鶴林寺)
#     - 21 - Tairyūji (太竜寺)
#         - канатна дорога
#         - страшнюча дорога
#         - рамка - дивитися на храм №20
#     - 23 - Yakuō-ji (薬王寺)
# - котячий храм
# - дорога - ужасть
# - - -

tags:
  - travel
  - Shikoku
  - Tokushima
  - michino-eki
  - pilgrimage
  - Onzan-ji
  - Tatsue-ji
  - Kakurin-ji
  - Tairyū-ji
  - Yakuō-ji
  - buddism

---

= chapter do

  markdown:

  = pull_right google_map("https://www.google.com/maps/embed?pb=!1m45!1m8!1m3!1d212257.37400659145!2d134.5571566!3d33.7730296!3m2!1i1024!2i768!4f13.1!4m34!3e0!4m5!1s0x355312382653300f%3A0x1b6ebf4f8ffe8cce!2zSmFwYW4sIOOAkjc3My0wMDA4IFRva3VzaGltYS1rZW4sIEtvbWF0c3VzaGltYS1zaGksIFRhbm9jaMWNLCBPbnphbmppZGFuaeKIkjQwIOaBqeWxseWvug!3m2!1d33.985990099999995!2d134.5782504!4m5!1s0x355313ea36ab3921%3A0xddffd5d2800a8e94!2z56uL5rGf!3m2!1d33.970223!2d134.608856!4m4!1s0x0%3A0x30e9bd4a7b15015b!3m2!1d33.9138169!2d134.5056036!4m4!1s0x0%3A0x5c19bb35d3ce4cf5!3m2!1d33.9150256!2d134.5526992!4m4!1s0x0%3A0xcda58a22f521a499!3m2!1d33.8825678!2d134.5218186!4m5!1s0x3552fce9ce5e6c71%3A0xdf8152ad6722128d!2z5pel5ZKM5L2Q!3m2!1d33.728915!2d134.53053699999998!5e0!3m2!1suk!2sjp!4v1456638233306") do
    markdown:
      Намандрувавшись за попередні дні горами, проваллями і ущелинами, ми попереднього вечора зробили «марш-кидок» до моря і опинилися на мічіно-екі 公方の郷なかがわ - [Кубооносато-накаґава](http://www.skr.mlit.go.jp/road/rstation/station/nakagawa.html).

      Переїзд від Оку-ія до центру Токушіми виглядав, як стрибок в часі через півтора-два сторіччя. Вузюсінькі покручені доріжки поступово розширяючися доходять спочатку до нормальної дороги з двохстороннім рухом, а потім навіть (!) до дороги з двома смугами в кожен бік — дорога «в полний рост».

      І, якщо з нашої попередної мічіно-екі в усі боки навколо відкривалися краєвиди гірських кряжів, а ніч — за винятком галасливих сусідів-японців — оточувала тишею, то нова наступаюча ніч світила прямою протилежністю: на пожвавленій трасі в два «повноростних» ряди. Дорожня станція розташована прямо в кількох метрах від пожвавленої траси.

  markdown:
    Виявилося, що недалечко науково-дослідний центр, і вся місцевість навколо оформлена під маркою «Хікарі-но-мачі» (光の町, Місто світла). В полях навколо — то там, то тут — спалахували якісь дива із світлодіодів.    Блимає все те диво посередині чорного від темряви рисового поля, більше нічого не видно. Від першого спалаху цілого снопу різнокольорових світлодіодних променів у формі якогось неймовірного фейерверку виникло тривожне питання: «Пожежа!?»

    Трохи роздивившися, знайшли закуток подалі від дороги — поза головною будівлею мічіно-екі ще одна менша стоянка, захищена від шуму дороги, а заодно і ближче до світлодіодних чудес.

= divider "onzanji/IMG_6909.jpg" do
  markdown:

    # Гендерна таємниця так і не розв’язана

    Напередодні в онсені на стіні висіла серія невеличких плакатів (формату А4 не більше). 88 аркушів. На кожному аркуші — щось коротеньке про черговий за номером храм. Щодо вісімнадцятого була намальована послідовність картинок і піктограм, згідно якої ніби-то виходило, що до цього храму не допускаються молоді дівчата, але жінкам, що вже мають дітей — можна.

= chapter do
  markdown:

    Виявилося, що 18й храм — Онзан-джі, (Onzan-ji, 恩山寺) — лежить на нашому шляху і не відвідати його після побаченої загадки було б несерйозно.


    На нашому власному паломницького шляху, це був другий з «офіційних» восьмидесяти восьми. При візиті до храму першого разу нас трохи здивувала велика кількість богомольців. Вже темніло, в храм ми прибули після його закриття, але все одно зустріли кількох молодих хлопців-пілігрімів: хтось влаштовувався на ніч на лавці просто неба, хтось розставляв намета на автопарковці. Вже пізніше, переночувавши поруч з такими ж прочанами на кількох мічіно-екі, ми зрозуміли, що це загалом не дивина.

  = gallery %w{onzanji/IMG_6892.jpg onzanji/IMG_6898.jpg onzanji/IMG_6899.jpg onzanji/IMG_6902.jpg onzanji/IMG_6906.jpg onzanji/IMG_6909.jpg onzanji/IMG_6911.jpg onzanji/IMG_6913-EFFECTS.jpg} do
    p І сьогодні — через тисячу двісті років від початку традиції пілігрімства на Шікоку — прочан надзвичайно багато. Молоді, дорослі, і старі. Піші, на велосипедах, і на машинах. По одному, двоє і групами. Не виняток і Онзан-джі: були сімейні пари, поодинокі чоловіки — середнього віку, та й пенсійного також, — невеличкі зграйки бабульок «оба-чян».

  p Біля Онзен-джі ми натрапили на одну таку зграйку. Кілька бабусьок вже підтоптаного віку у супроводі молодшого — але теж вже не хлопчика — чоловіка. У розмові з оба-чян розкрилося, що вона вже пройшла всі вісімдесят-вісім по кілька десятків разів.

  p Запитали ми і про ту, ніби-то, заборону, яку ми бачили вчора. Але жодна з жінок не чула за своє життя про такий факт. Мабуть, ми щось не так зрозуміли на тих картинках.


=divider "koty/IMG_6951.jpg", filters_plus: ["text-shadow"] do
  markdown:

    # «Кішчячий» храм

    ## Недалеко від буддистських святинь розташувався такий собі грайливо-котячий храм шінто. Присвячений «божеству-котярі».


= chapter do
  markdown:

    Кішка з піднятого вгору лівою лапою закликає до хати багатство, піднята права лапа — запрошує все «для себе», все що мені потрібно. Такі «манекі-неко» статуї — де більші, де менші — зустрічаються по всій Японії: в магазинах, готелях, компаніях та фірмах.

  = pull_left photo("koty/IMG_6953.jpg", layout: :portrait, filters: []), 3 do
    markdown:
      А тут — цілий храм. Зветься він [Оматсу-ґонґен](https://goo.gl/maps/6q1Oq) (お松権現). І прямо з дороги до нього закликає вказівник все з тим же "манекі-неко".


  markdown:

    З легендами храму щось трохи поплутано. Є щонайменше два варіанти, та й ті чогось не договорюють.

    Перша легенда простіша, коротша і зрозуміліша: коли в старі часи злодії вбили місцевого чоловіка, його кіт визвірився і помстився на бандюках за свого господаря. Думаю, це немаленький кіт був. Друга ж притча, — з слів повідавшого її ґайджіна — викладена йому подружкою-японкою (японка не дуже володіє англійською, а він в свою чергу - не дуже петрає в японській).

    Тож, ця — друга — побрехенька каже, що десь іще в епоху Хейян жінка і чоловік посварилися за ділянку землі. Але за тодішніми законами, якби справа дійшла до суду і жінка її програла, то б вона мала позбутися свого життя — тут теж не зрозуміло, чому? Тому що жінка, чи тому, що програла? Але, так чи інакше, вона програла і її стратили. А через те, що за життя вона страшенно любила котів, після її смерті з’явився цей храм.

    Якщо чесно, я зрозумів цю легенду ще менше, ніж першу. Та менше з тим… Радує, що і серед котів трапляються пристойні люди.


= divider "koty/IMG_6948.jpg", filters_plus: ["text-shadow"] do

  markdown:
    ## Котячий храм розташований прямо біля підніжжя невисокго пагорба, на краю рисових полів і в затишку зелені та серед кількох струмочків, що дзюрчать там і тут, і утворюють кілька дзвінких водоспадиків. Атмосфера, особливо якщо завітати сюди посеред спекотливого дня, — цілюща.

= chapter do
  markdown:

  = pull_right photo "koty/IMG_6951.jpg", layout: :portrait, filters:[] do
    p На вході — величезний котяра, вище людського зросту. Всередині за парканом — котяри та кішечки поменше — по всій території сотні чи тисячі, а то й десятки тисяч фігурок котів, котиків, кішечок, котяр і котищ. Фаянсових, пап'є-маше, кам'яних і дерев'яних. Великих, маленьких, малюсіньких, малюпусіньких і величезних.

  markdown:

    На шиях більших з представників котячого божого роду — таблички з побажаннями «ема». Завітавши до храму, купуєш таку табличку, пишеш на ній своє побажання і вішаєш де-небудь у сподіванні, що тутешнє божество її прочитає і виконає. Тож, під час цього храмового походу розкрилося, що навіть коти у Японії письменні.

  = gallery %w{koty/IMG_6929-EFFECTS.jpg koty/IMG_6933.jpg koty/IMG_6936.jpg koty/IMG_6938.jpg koty/IMG_6941.jpg koty/IMG_6946.jpg koty/IMG_6947.jpg }

  = pull_left photo("koty/IMG_6947.jpg", filters: [], layout: :portrait), 4
    markdown:

      Ну і бабулька-служниця в цьому храмі теж випромінювалася комутативністю. Поки ми нипали туди-сюди, від кота до кота, встигла розпитати про хто і про звідки.

      А підійшовши заплатити за кульок помідорів, що продавалися тут же в храмі, я вислухав цілу промову. Вона дуже радісно — аж з  гордістю, що у неї є такі кльові друзі, ними не соромно і похвалитися — приповідувала всім присутнім поблизу японцям, що «ось це — сім'я з України, сюди приїхали мандрувати, живуть у Токіо вже двадцять років, а японською "пер\`а-пер\`а"».

= divider "IMG_6970.jpg", filters: ["vignette-99","text-shadow"] do
  markdown:
    # Храми по черзі

    ## Дорога нам в цей день лягла таким чином, що як заправські пілігріми ми разом з десятками інших, мандрували від храму до храму у порядку зростання номерів: 18, 19, 20, 21, 23. Кожен наступний -- чимось видатний та відмінний від попереднього. Кожен на вістані від 10 до 30 кілометрів від попереднього та наступного.

= chapter do
  markdown:
    # Храм Тайрююджі (Tairyūji, 太竜寺) — двадцять перший

    Знаходиться аж вершечку не настільки високої (540м над рівнем моря), але крутезної гори.

    Сюди ведуть два маршрути. Один — канатною дорогою з долини через вершину сусідньої гори. Другий — або пішки, або машиною по вузюсінькій, покрученій, урвистій доріжці. Тут нема ні здеркал на крутих поворотах, ні «відбійників» скраю над проваллям. Просто доріжка. Праворуч — скеля, ліворуч — урвище. Місцями треба їхати майже шкрябаючи правим боком по скелі, щоб лівим боком не заїхати в безодню. В одному місці — поворот ледь не на 180 градусів , в який за жодного бажання не впишешся за раз і доводиться за три-чотири рази здавати вперед-назад на малюсінькому п'ятачку — передні колеса майже наїзжають на скелю, а задні — звисають з краєчку.

    За всю подорож по Шікоку, ця дорога була, безумовно ...

    Але, написання цього посту вже й так забрало в мене занадто багато часу. Тому я вирішив, що я на цьому зупиняюся, і про інші перипетії цього дня та про дні інші дні ви дізнаєтеся в наступних дописах...

    Слідкуйте.
