---
layout: post
# Третій день - 28 квітня
description: |
  Оскільки попереднього дня ми вже відвідували Західну Ія, а дорога в дальню («Оку») ія проходить все через ту-ж східну, іншого шляху, як відправитися вже знайомою «кокудо» 439 далі вглиб долини, просто немає.

title: "Східна Ія"
series: "Шікоку - два золотих тижні"
intro:
  image: oboke/IMG_6550.JPG
  video: oboke/koinobori
  filters:
    - vignette-90
    - sepia-20
    - text-shadow
images:
  basepath: shikoku_15/day3_oboke_iyashino
tags:
  - travel
  - Shikoku
  - Tokushima
  - michino-eki
  - onsen
  - Iya
  - Oboke
  - Higashi Iya
  - koinobori

# toc:
#   - https://goo.gl/K6am4G - дорога
#   - човни вздовж кан'йона - Обоке
#   - 2 км маршрут, туди і назад
#   - койноборі над річкою
#   - ~20м від дороги до води вниз
#   - дорога 439
#   - шириною на машину
#   - роз'їзди
#   - резиденція клану Аса
#   - на ремонті
#   - вечір онсен "іяшіно-онсенкьо" いやしの温泉郷
#       - https://goo.gl/DGNA2Q reviews
#       - монорельс
#       - 1 год 10 хв
#       - 650 м - 1400м
#       - темп. різниця - 6 град.
---

= chapter do
  markdown:
  .col-sm-6.text-justify
    markdown:

      # Ущелина Обоке

      «Кокудо» 32 проходить вздовж русла річки Йошіно. Тут же, паралельно з дорогою, проходить колія одноколійної залізниці Досан (土讃線 Dosan-sen). Вночі стукіт колес одно-дво вагонних дизелів, що проходять (на радість --- досить рідко) заколисує випадкових мандрівників.

  .col-sm-6

    = google_map("https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d212006.22898230565!2d133.7382309178987!3d33.8742669791759!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e0!4m4!1s0x0%3A0x7efeda92b72f77b3!3m2!1d33.887039!2d133.76054!4m4!1s0x0%3A0xd65df251803d5a7a!3m2!1d33.868832!2d133.978905!5e0!3m2!1suk!2s!4v1433930140246", short_url: "https://goo.gl/K6am4G")
= chapter do
  markdown:

    Ущелина вздовж річки поділяється на дві частини: [Обоке та Кобоке](http://www.jnto.go.jp/eng/location/spot/natuscen/obokeandkoboke.html). «Боке» перекладається з японської, як «небезпечний для пішої ходи». «О» та «ко» --- великий та малий, відповідно. Названі так, стає зрозуміло чому після погляду на V-подібний поперечний розріз долини — ходити тут за відсутності доріг дійсно було важко.

    Дуже популярні тут: спуски по воді річки Йошіно. Для більш досвідчених і готових до цьго: на плотах і надувних човнах біло-пінними порогами. Взовж дороги --- повно пунктів, де збираються одноденні чи в половину дня тури, не тільки по самій Йошіно, а й по її притоках.

    Для менш підготовлених (і для матрасників) --- одногодинні (чи біля того) маршрути на дерев'яних моторних плоскодонках по тихій воді. Кілометр --- туди, кілометр --- назад.

    Понад самою річкою в зоні посадки на човни --- величезна «виставка» підвісних ганчіряних риб-коропів --- «койноборі». На початку травня святкується день Дітей і койноборі традиційно вивішуються у дворах, де ростуть хлопці. Тут же: поперек всієї ріки з десяток або й більше стометрових мотузків-канатів, на кожному з яких з два-три десятки величезних багатометрових койноборі.

    А внизу, під ними: посадка на човни, якими нас возять туди-сюди попід тими койноборі.

    Гарно.

  = gallery %w{oboke/IMG_4886-EFFECTS.jpg oboke/IMG_6552.JPG oboke/IMG_6572-EFFECTS.jpg oboke/IMG_6550.JPG oboke/IMG_6555.JPG oboke/IMG_6573-EFFECTS.jpg oboke/IMG_4880.jpg oboke/IMG_4885.jpg oboke/IMG_4887.jpg oboke/IMG_6559.jpg oboke/IMG_6563.jpg oboke/IMG_6568.jpg} do


  = pull_right gallery(%w{oboke/IMG_6600.JPG oboke/IMG_4875.jpg oboke/IMG_6574.jpg}), 6 do
    p Біля посадки на човен &mdash; великий розграфлений ватман з назвами країн, де вам запропонують наклеїти лейбочки навпроти своєї. Ми, звичайно, не можемо конкурувати з китайцями чи тайванцями, але навіть при всьому тому, ми виявилися не першими з України.

= divider "doroga/IMG_6587.JPG", panorama: true do
  markdown:
    ## Дорога в Оку Ія

    Оскільки попереднього дня ми вже відвідували Західну Ія, а дорога в дальню («Оку») ія проходить все через ту-ж східну, іншого шляху, як відправитися вже знайомою «кокудо» 439 далі вглиб долини, просто не існує.

    Після кількох годин дороги — по дорозі, звичайно-ж, позаглядали туди сюди, але в цей день нічого особливого не надибали. Натрапили на стародавнє поселення клану Аса в одному місці, але це поселення виявилося на ремонті і нічого крім покритого синьою плівкою будівельного майданчику ми не побачили.

= chapter do

  = gallery %w{doroga/IMG_6575.JPG doroga/IMG_6578.JPG doroga/IMG_6579.JPG doroga/IMG_6581.JPG doroga/IMG_6583.JPG doroga/IMG_6584.JPG doroga/IMG_6585.JPG doroga/IMG_6586.JPG doroga/IMG_6587.JPG doroga/IMG_6588.JPG doroga/IMG_6591.JPG doroga/IMG_6596.JPG doroga/IMG_6598.JPG doroga/IMG_6599.JPG}

  markdown:
    Далі на путівниках була позначена якась така диковинка, — «монорельс» посеред гір — яку ми запланували подивитися, і до неї їдемо. Тут же поруч — позначка онсену. Ну, тим краще.

    Пам’ятаючи вчорашню невдачу з неможливістю поїсти в готельному ресторані після четвертої, цього разу ми вирішуємо шукати провіант трохи раніше. Але, поки доїхали до осередку місцевої цивілізації вже була обідньо-трохи-по-обідня пора.

    Місцевим осередком виявився авто-кемпінг з готелем — поруч з монорельсом, — розташований десь приблизно на межі між ближньою і дальньою Ія. Питати в готелі-кемпінгу про обід ми почали десь о двадцять по третій. І виявилося, що з нашим щастям ми запізнилися … на двадцять хвилин. «Ліві» відвідувачі обслуговуються в ресторані кемпінга тільки до третьої.

    Якщо знов повертатися до того ж самого «севен-ілевена» — то це вже облом, а ближче нічого немає.

= divider "iyashino/IMG_6607.JPG", filters_plus: ['text-shadow'] do
  markdown:
    # Кемпінг Іяшіно-онсенкьо (いやしの温泉郷)

    Отже так сталося — вільні місця в кемпінгу були, Золотий Тиждень ще не почався, — що ми заночували тут. Заночували не через те, що хотілося на ліжку поспати, а просто з голодухи. Для того, щоб скористатися готельним рестораном, потрібно в готелі переночувати. А годують тебе за те, що тут спиш, і ввечері, і зранку.

    Ну, а заодно, звичайно ж, онсен і, знову-ж таки, монорельс — ми тепер можемо накататися і роздивитися все не поспішаючи. Час є. Аж до ранку.
= chapter do

  markdown:

    Весь кемпінг  складається з трохи більшої будівлі із звичайними готельними кімнатами — в тому ж будинку, що і онсен та ресторан, якогось десятка чи трохи менше котеджів, а також трьох старих традиційних японських хат — під стріхою, — які, відповідно до рекламного буклету, теж можна знімати для ночівлі.

  = photo %w{iyashino/IMG_4927.JPG iyashino/IMG_6603.JPG} do
    markdown:
      Ми зупинилися в котеджі. Це — цілком пристойний однокімнатний будиночок в японському стилі, з підлогою із татамі, спанням на футонах замість ліжок. А також з невеличкою кухонькою, туалетом та душем. Кухонька включає також набір посуду та холодильник.

  markdown:
    Як для постояльця готелю, онсен відкритий завжди. Правда, не всі двадцять чотири години, але з шостої ранку і аж до глибокої ночі — «ходи не хочу». З огляду на те, що, навіть після нашого заселення в готель, Золотий Тиждень все ще не наступив, загалом постояльців в кемпінгу було ще дві чи три пари. На весь готель.

    А в онсені і того менше: і ввечері, після катання на монорельсі, і зранку до сніданку (можна було б ще й після сніданку, але то вже було занадто) — насолоджувалися кількома ваннами онсену і ротембуро, та сауною в ідеальній самоті.

    Тут же, за перегородкою ротембуро видно і монорельс, і кілька великих басейнів з живою рибою і проточною гірською водою. В акваріумах живе риба, яку вам приготують на вечерю чи сніданок.

  = pull_right photo %w{iyashino/IMG_4928.JPG }, layout: :portrait do
    markdown:
      Вечеря виявилася «як на забій». Аж під самий кінець, коли ми вже втомилися рахувати зміни їжі і розрізняти, що то було, японець офіціант раптом ввів нас у стопор своїм запитанням: «А тепер чи ви ще хочете з’їсти рису, чи прямо перейдемо до десерту?»

      Після закусок, салатів, с\`оби, н\`абе і купи всяких інших наїдок ще рис!? Уточнили: «Мова йде про рис? Про звичайний білий рис. Так?» «Так. Простий рис», — була відповідь. Це був передостанній перед десертом пункт меню. Чесно кажучи, перший раз за час нашого життя в Японії, щоб рис подавали не з їжею, а після.

  markdown:
    Що стосується монорельсу — він знаходиться практично тут же на території кемпінгу --- від крайнього котеджу (який виявився нашим) до нього буквально пару десятків метрів. Про нього далі.

= divider "IMG_6642.JPG", filters_plus: ['text-shadow'], panorama: true do
  markdown:
    # Монорельс

    Монорельс — це якесь таке двомісне створіння — вагончик, на (дійсно) одній рельсі. Всього на місці посадки було десь з десяток чи біля того вагончиків. Бажаючих проїхатися в цей час було тільки нас двоє. А маршрут проходить по горі, серед гірського лісу. Піднімається майже до вершини тутешньої гори і спускається знову до місця посадки.

= chapter do
  markdown:

    Вагончики приводиться в рух двигунчиком від дротів, прокладених поруч з рельсою. Тож під страхом смерті забороняється виходити з вагончика з будь-якого приводу.

    При посадці в вагончик вас настрахають «жахалочками» — що у випадку дощу чи землетрусу вагончик може зупинитися на кілька годин і що ви повинні сидіти у вагончику, як зайчики, аж поки вас не визволять — чи то сьогодні, чи може завтра. Що температура від місця посадки у вагончик до верхньої точки маршруту падає на 5 градусів (за іншою версією на 6). Що під час поїздки треба обов’язково прив’язуватися паском, щоб не випасти, бо мало того, що маршрут іде вгору-вниз, то ще й сидіння, щоб адаптуватися до куту нахилу рельси, нахиляється туди-сюди.

  = gallery %w{IMG_4908.JPG IMG_4909.JPG IMG_6620.JPG IMG_4923.JPG IMG_4925.JPG IMG_6642.JPG} do

    p Ну, а що вагончик зовсім не закритий (тільки вгорі — невеличкий дашок) ви побачите своїми власними очима.

  markdown:

    Тут же в вагончику висить такий собі «walkie-talkie», яким вам порадять скористуватися, якщо вагончик таки зупиниться і вам раптом закортить дізнатися, коли ж вас визволять.

  = partial :video_fluid, locals: { video: "monorail_titles" }

  markdown:

    Вся поїздка займає трохи більше години, починається на висоті 650 метрів над рівнем моря, а в найвищій точці досягає 1400 метрів. Тому, підтверджуємо, про падіння температури — правда. Перед посадкою нам видали по пледу на коліна і порадили вдягнути щось серйозніше, ніж футболка.

    Ще при посадці нам розказали, наскільки нам повезло, бо ще не Золотий Тиждень. В Золотий Тиждень на цей монорельс може стояти черга аж до п’яти-шести годин.
