---
title: Водоспад, що вимолює дощ та транквільність в горах
# Водоспад і храм
# 2015-04-30
# - початок
# - каміяма онсен https://goo.gl/Q22ZAq
# - http://kamiyama-spa.com/michi/ - michinoeki
# - водоспад - 800м
# - храм - 1,1 км

# -  маршрут за день https://goo.gl/LZHK0q

# - вечір
# - ніч - мічіно-екі в "Хікарі-мачі" - LED скрізь - https://goo.gl/Eprlpv -
# - michinoeki 公方の郷なかがわ - tokushima - kubounosatonakagawa - http://www.skr.mlit.go.jp/road/rstation/station/nakagawa.html

---

= chapter do
  markdown:
    Водоспад Ама-ґої-но-такі (雨乞の滝) — японською перекладається щось на зразок «вимолювач (випрошувач) дощу» — як стверджують путівники, належить до сотні найкрасивіших водоспадів Японії і до четвірки найкращих водоспадів Шікоку. Після візиту ми ці рейтинги підтверджуємо --- красиво!

    Зранку, після ночівлі на мічіно-екі [Каміяма-онсен](https://goo.gl/Q22ZAq) ([офійний сайт](http://kamiyama-spa.com/michi/)), вивчаючи інформацію про навколишні цікавинки і дива надибали на водоспад, який виявися по мапі всього в кількох кілометрах від нашої ночівлі.

= divider "" do
  markdown:
    # Непосидючі пенсіонери

    Поруч з нами на стоянці стояли вже похилого, пенсійного віку  японці: шестеро чоловіків і жінок. На великому автобусі-трейлері, з кухнею, спальними місцями і електро-генератором.

  markdown:
    Напередодні ввечері вони, витягнувши переноску від генератора, на електричній плитці зготували собі вечерю, понапивалися пива і саке, і ще продовжували голосно гелготіти коли ми вже добряче по-темному вкладалися спати. Тут же поруч зупинявся у наметі велосипедний прочанин з Йогоками, і ще довго поночі було чути розпитування і розповіді, про те, хто скільки храмів здолав за сьогодні і попередні дні.

    Зранку ж, о шостій, вони, вмикнувши на весь голос радіо з автобуса, під звуки піаніно ранкової гімнастики і "раз-два-три-ноги-на-ширину-плеч" робили на асфальті зарядку. А після зарядки хутенько кудись завіялися --- ми ж, заправившися кавою, відправилися до водоспаду.

    Розрекламований водоспад виявився не одним водоспадом, а цілим каскадом водоспадів вздовж гірської річки, що протікає прохолодною довгою ущелиною. «Випрошувач дощу» водоспад Ама-ґої -- найвищий і найвіддаленіший з них. По дорозі розкидані водоспади "Солов'їний", "Журавлиний голос" та ще кілька з подібними ж назвами.

  = photo "" do
    p "Квітки-мухоїди". Ми і раніше зустрічали їх в японських горах, але ніколи не бачили ці квіти в такому вигляді. Коли ми піднімалися вгору зранку, квітки тільки мали піднятий вгору дзвіночок з великим листком піднятим догоги. Великої бульки ще не було. ПІд час спуску, через яких пару годин, в кожній квітці всередині стирчала велика біля гуля на ніжці, розміром майже як уся квітка. Гуля на дотик липка.

    Центральний водоспад — дуже красивий — розташований глибоко в лісі, до нього ще треба підійматися від парковки ще трохи менше кілометра бетонованою стежкою.  Водоспад: з двох боків в озерце падають відразу два великих водоспади, кожен з них — багато менших струменів, спадаючих зі скель до озерця в підніжжі.

    Більша права половина водоспаду — розділена надвоє по висоті: десь там, вище — ще одне озерце, в яке падає верхня частина правої частини. Від нижнього озера до верхнього протягнутий ланцюг і щось типу сходинок в скелі, хтозна — може щоб залазити туди покупатися? — не пробували, не знаємо.

    А від підніжжя водоспаду вгору ще веде доріжка, вже не бетонна, і крутіша, ніж до цього. Веде стежка, як пишеться на дерев’яному вказівнику біля її початку, до буддійського храму [Хіґан-джі](https://goo.gl/Xxwcj0)  (悲願寺, ひがんじ). До нього — трохи більше кілометра. Не зважаючи на відсутність — за нашою звичкою — гірського взуття і будь-якого гірського, туристичного причандалля, ми все-таки тупцяємо до храму.

    Починається стежина з укріплених дерев’яними колодами сходів, місцями — кам’яні чи бетонні східці, часами переходить у гірську стежку поміж каменюками і корянням дерев, ще далі в стежечку понад урвищем з розкішним краєвидом на далекі гірські кряжі та ліси, ближче до вершини стежка йде лісом, помережаним струмочками і рівчачками та поваленими деревами.

    На самому вершечку гори — яка зветься Таканеяма (高根山) — сонячна галявина, оточена з усіх боків лісом: криптомерії/кедри «суґі» та кипариси «хінокі».

    Галявина поросла м’якенькою зелененькою травичкою та глибоким мохом. Тиша і краса!

    Після того, як заліз обома ногами в багнюку рівчака на підході до галявини — від чого ковзючі на гірському підйомі шкіряні сандалі, звичайно-ж, не стали менш слизькими — так класно виставити сандалі на сонечку просихатися, а самому дибати туди-сюди босоніж, роздивляючися храмові будівлі і насолоджуватися тишею, нірваною та буддійською архітектурою і транквільністю.

    Чудово — жодної живої душі нема, бо ж храм «лівий» — не входить до офіційного переліку восьмидесяти-восьми пілігрімських пунктів. Крім нас сюди нікого поки-що не «занесло». Тут ще. правда, таке: ми відправилися сюди зрання, зразу ж після раннього сніданку. Може, ближче до обіду-полудня ще й сюди теж завітають.

    # Кому можна, а кому ні до храму?

    Цього дня режим у нас вийшов дещо нестандартний. Мічіно-екі, де ми ночували — прямо поруч з онсеном. В онсені  — непоганий ресторан, і поруч з ними невеликий парк. Тож ми вирішуємо, що сьогодні ми замість чекати вечора, підемо в онсен прямо зараз, після гірської прогулянки, а потім вже їдемо далі.

    Що ми і робимо.

    Тут же в холі онсену і ресторану ми натрапили на експозицію щось типу «інфографіки» про вісімдесят-вісім храмів. На стіні типографським способом видруковані 88 плакатів формату біля А4. На одному з них — під №18 —  картинка, на якій на одній половині зображена молода дівчина, з іншого боку — жінка з дитиною, як нам видалося, інфографіка показує, що до цього храму забороняється ходити бездітним дівчатам (щось типу дорожнього знаку — коло, перекреслене червоною смугою), а от жінкам з дітьми  — будь ласка.

    Це загалом, не дивина. Буддизм встановлює різноманітні заборони на відвідування храмів чи монастрирів. Головний храм секти Шінґон — Коя-сан — до недавнього часу забороняв жінкам взагалі підніматися на гору з храмом. Ще й досі є [храми](https://en.wikipedia.org/wiki/Mount_%C5%8Cmine#Ban_on_women), де жінкам вхід заборонено.

    Тому ми не здивувалися, а зацікавилися. Зацікавилися настільки, що наступного дня ми таки побували в храмі №18 Онзан-джі (Onzan-ji, 恩山寺), і дізналися …

    Але це було вже завтра, тож чекайте наступної розповіді.
