---
layout: post
series: "Шікоку - два золотих тижні"
title: "Чий фронтон вище та на чому їздять в баню?"
summary:  "Такі подорожі несподівані всім: ти знаходиш цікаві місця там, де їх би не мало бути &mdash; прямо на місці ночівлі. Чи шукаєш і не знаходиш розрекламовану на всіх путівниках статую. А виявляється &mdash; ти її тільки-що проїхав, не помітивши. Те, що від роздягалки до бані можна не тільки через дорогу ходити, а їздити на фунікулері, після цього вже не дивує."
# description: |
intro:
  image: "IMG_6544.jpg"
  filters:
    - vignette-30
    - sepia-20
    - text-on-dark
    - text-shadow
images:
  basepath: shikoku_15/day2_udatsu_iya

tags:
  - Shikoku
  - Tokushima
  - michino-eki
  - onsen
  - Iya
  - Oboke
  - Udatsu
  - old town
  - Nishi Iya
  - route 32
  - suspension bridge
toc:
  # Другий день
  - 2015-04-27
  - дорога https://goo.gl/qauKX0, https://goo.gl/bd7F85
  - початок на стоянці Ія-удацу
  - Ніші Ія - західна Ія
  - дорога в долину Ія - кокудо 32, кендо 32, кокудо 439,
  - болото в горах
  - висячий міст з ліан
    - Ія казурабаші
    - https://goo.gl/Ya42QQ -  reviews
  - Ія онсен
    - фунікулер - спуск до онсену
    170 м висота, 250м довжина.
    - "баня через дорогу роздягалка"
  - ресторан до 4ї
  - ночівля на 32-кокудо

---

= chapter do
  .col-sm-6
    = divider "udatsu/IMG_6378.jpg", panorama: true, filters: ["matte-40"]
    markdown:
      # Удацу

      Дорожня станція, або "мічіно-екі", де ми вирішили заночувати, звалася Аі-рандо-удацу.


      Зранку --- традиційне запитання: "ну що, куди вирушаємо зараз"? Відповісти на нього цього разу було легко. Прямо  на автостоянці --- стенд з фотографіями і поясненнями місцевих цікавостей і інформацією, як добратися.

      Перший пункт: "Старе місто Удацу. Добиратися: 1 хв. пішки". Поза конкуренцією. Починаємо звідси.

  .col-sm-6
    markdown:
      ## Маршрут
    = google_map("https://www.google.com/maps/embed?pb=!1m22!1m8!1m3!1d211761.7702541137!2d133.93517859628892!3d33.97255382888597!3m2!1i1024!2i768!4f13.1!4m11!3e0!4m5!1s0x3553b7108a801a01%3A0xe062457e852fbc06!2s68+Wakimachi+%C5%8Caza+Wakimachi%2C+Mima-shi%2C+Tokushima-ken+779-3610%2C+Japan!3m2!1d34.0680822!2d134.145919!4m3!3m2!1d33.8873155!2d133.7597824!5e0!3m2!1suk!2s!4v1433495841076", short_url: "https://goo.gl/bd7F85")
    p.small Клацніть на мапі, щоб подивитися детальний маршрут.

= chapter do
  markdown:
    Удацу-мачі --- пара вуличок з будинками, які збереглися з 18го сторіччя. В основному будинки багатих торговців.

    Удацу --- це надбудова на даху першого поверху --- вертикальна стіна з саману ("мазанка"), над якою --- ще один дах, другого поверху. В давні часи "удацу" вважалася ознакою багатства, і чим вищою була "удацу", тим багатшими був її власник.  Звідси і походить назва.

    В усі часи багатії чимось мірялися. Удацу 18 сторіччя --- це аналог сьогоднішнього мерса чи бумера.

  = gallery %w{ udatsu/IMG_4593.jpg udatsu/IMG_6370.jpg udatsu/IMG_6372.jpg  udatsu/IMG_4587.jpg   udatsu/IMG_4604.jpg  udatsu/IMG_6377.jpg    udatsu/IMG_6402.jpg udatsu/IMG_6406.jpg udatsu/IMG_6410.jpg} do

  p
  = pull_left(photo(%w{udatsu/IMG_4599.jpg udatsu/IMG_4600.jpg}, layout: :portrait), 8) do
    p В невеличкій експозиції поруч виставлені зразки стіни-"удацу" в розрізі. Технології ті, ж що і в моєму селі на Чернігівщині, тільки замість бамбуку у нас був очерет і ліщина.

  =pull_right(photo(%w{udatsu/IMG_4606.jpg}, layout: :portrait)) do
    markdown:
      Біля одного з магазинчиків нас зацікавив парканчик з ось такого бамбуку. Зайшли в лавку і почали розпитувати, як його таким вирощують --- чи перев'язують чимось, чи підрізають. Виявилося, що ніким спеціальним чином його не вирощують. Це просто такий сорт бамбуку. І дядечко, власник магазина почав сипати назвами бамбуків --- їх (сортів) виявилося щось із чотири сотні, чи більше. А магазин спеціалізується на всяких іграшках - дурничках з бамбуку, та фарбованих індіґо сумочках-серветочках. Ці райони Японії відомі своїми виробами фарбованими натуральними фарбниками типу індіґо.

  = photo %w{udatsu/IMG_4575.jpg udatsu/IMG_4579.jpg udatsu/IMG_6388.jpg udatsu/IMG_6389.jpg udatsu/IMG_6399.jpg udatsu/IMG_6400.jpg}, layout: :portrait do
    markdown:
      Найстаріший будинок, що зберігся на цій вуличці --- 1709го року, другий за ним на пару десятків років молодший. Трохи розпитали власника будинку --- будинки, не дивлячись на те, що дерев'яні, все-таки справжні, не перебудовані. Основні дерев'яні конструкції стовпи-"хашіра" та несучі балки так і збереглися з часів побудови. Деякі невеликі деталі --- відреставровані чи відновлені.

= divider "iya/doroga/IMG_4609.jpg", video: "iya/doroga/iya_road", filters: ["matte-40", "text-shadow", "text-on-dark"] do
  markdown:
    # Долина Західна Ія

    В центральній (на південний схід від Наруто) частині префектури Токушіма знаходиться долина річки Ія (Iya Valley, 祖谷渓, Iyakei). Долина ще досі залишається малодоступною для цивілізації і дикою. В долину Ія традиційно було важко попасти, через відсутність доріг в горах і стрімкі урвища річкових русел, і тут ховалися біженці різноманітних японських кланових воєн починаючи з 12го сторіччя. Вона була "перевідкрита" американцем Алексо Керрі, який викупив і відновив стару японську ферму в Західній Ія -- в Чііорі --- і описує це в своїй книзі "Загублена Японія".

= chapter do
  markdown:

    Сама долина умовно поділяється на більш доступну -- західну частину (Ніші Ія), і віддалену східу (або "дальню") --- Оку (хіґаші) Ія. РІзниця у "віддаленості" полягає в тому, що в західну доступну частину ходять рейсові автобуси і, наприклад, до онсену Ія можна доїхати на автобусі або замовити таксі від станції електрички. До дальньої Ія можна добратися тільки власною машиною.
  = gallery %w{iya/doroga/IMG_4609.jpg  iya/doroga/IMG_4610.jpg  iya/doroga/IMG_4616.jpg  iya/doroga/IMG_6421.jpg  iya/doroga/IMG_6425.jpg  iya/doroga/IMG_6426.jpg  iya/doroga/IMG_6429.jpg  iya/doroga/IMG_6432.jpg  iya/doroga/IMG_6433.jpg  iya/doroga/IMG_6435.jpg  iya/doroga/IMG_6437.jpg}

  markdown:
    До долини Ія ведуть "кокудо" дороги номер 32 (та її "сестра" --- "кендо" 32), іа 439. 32-га державна --- загалом пристойна гірська дорога, а от 439-та --- незважаючи на свою "загальнояпонськість", так само, як і "префектурна" 32-га --- це багато кілометрів вузюсінької п\`окручі завширшки в півтора-два метри, тобто одну машину; з розширеннями для роз'їздів там і тут, і заворотами на 90-180 градусів кожні пару десятків метрів. Хоча раніше нам теж доводилося їздити по таких кручених дорогах (деяких навіть державного значення),  але не в таких кількостях --- кілька доріг в Ісе, та ще пару десятків кілометрів залишків на Ізу. Тут же --- багато десятків, сотні кілометрів.

    Практично вся 439-та дорога ("кокудо") і 32-"кендо" такі по всій своїй довжині, на сотні кілометрів[^1]. Рух по таких дорогах в середньому кілометрів 10 - 20 на годину, на особливо довгих прямих відрізках (до 100 -200 метрів) можна "розігнатися" аж до 30 чи 40 км/год.

    [^1]: Вже дивлячись з сьогоднішнього досвіду --- такі не тільки дві згадані дороги, а більшість  доріг центральної гірської Токушіми, дороги чи то центрального загальнодержавного значення, чи префектурного рівня: 438, 439, 195. Виняток складають тільки "кокудо" 32 і 55 --- більш схожі на традиційні дороги "державного" рівня.


= divider "iya/kazura_bashi/IMG_6469.jpg" do
  markdown:
    #  Ліановий міст

  .col-sm-6
    markdown:
      Пишуть, що з минулих часів у долині Ія залишалося десь із чотири сотні підвісних мостів, сплетених із ліан. До цього часу їх збереглося всього біля чорирьох десятків. Але з них, фактично, тільки три позначені на мапі, як туристські атракціони.

      Один з них Ія-казура-баші [祖谷のかずら橋](https://goo.gl/k4yX6N) в Західній Ія,

  .col-sm-6
    markdown:
      і ще один --- подвійний Казура-баші в дальній Оку-Ія.

      Звичайно, ж рекламовані "туристські" ліанові мости вже не зовсім "сплетені" з ліан, а скоріше "обплетені": всередині проходять сталеві троси, але ззовні цього не дуже помітно, автентичність моста не втрачено.

= chapter do
  = gallery %w{iya/kazura_bashi/IMG_4625.jpg iya/kazura_bashi/IMG_4626.jpg iya/kazura_bashi/IMG_4631.jpg iya/kazura_bashi/IMG_6455.jpg iya/kazura_bashi/IMG_6456.jpg iya/kazura_bashi/IMG_6457.jpg iya/kazura_bashi/IMG_6463.jpg iya/kazura_bashi/IMG_6464.jpg iya/kazura_bashi/IMG_6466.jpg iya/kazura_bashi/IMG_6467.jpg iya/kazura_bashi/IMG_6469.jpg iya/kazura_bashi/IMG_6470.jpg iya/kazura_bashi/IMG_6473.jpg iya/kazura_bashi/IMG_6474.jpg iya/kazura_bashi/IMG_6480.jpg iya/kazura_bashi/IMG_6486.jpg}

= divider "iya/iya_onsen/IMG_6533.jpg", filters: ["matte-40", "text-shadow"] do
  markdown:
    # Ія готель і онсен

    Крім надзвичайно мальовничих краєвидів на 439 дорозі в західній Ія знаходяться і кілька "завлєкаловок" для туристів. Одного з нього, розрекламованого на всіх путівниках, маленького "пісюна" --- статую пісюячого в провалля зі скелі хлопчика --- ми так і пропустили, проїхваши, не помітивши. Вже аж потім, після онсену перед виїздом спитали в клерка "а де це?" і почули відповідь --- "ось туточки, по дорозі за 400 метрів". Пішли пішки подивилися і залишилися невраженими.

  = pull_right(gallery(%w{iya/iya_onsen/IMG_6536.jpg iya/iya_onsen/IMG_6546.jpg}, layout: :portrait), 6)

= chapter do
  markdown:

    Онсен --- в [готелі з назвою Ія](https://goo.gl/90qyfb). Як звично у японських туристичних готелях, для відвідувачів "зі сторони" онсен відкритий тільки до певного часу, так само, як і готельний ресторан (до четвертої). Потім обслуговує тільки тих, хто зупиняється на ніч.  Оскільки ми в готелі зупинятися не планували, то після візиту до онсену виявилися хоч і вимитими, але голодними. Вже було по четвертій.

    Готель (досить невеличкий) знаходиться на урвистій скелі з входом прямо з дороги на п'ятий поверх. Всі інші поверхи, від центрального фойє --- вниз.

    Готельний онсен розділений на дві частини. Поверхом нижче від фойє --- на четвертому --- офуро і душі. Тут можна помитися. В іншій частині --- ротембуро (зовнішнія ванна). В ротембуро немає ні душів, ні звичайної води, а до ротембуро веде канатний невеличкий фунікулер. Тобто, потрібно помитися на четвертому поверсі, потім, одягнувшися, піднятися до фунікулера на п'ятий. І, зачекавши, з який десяток хвилин, спуститися на пару сотень метрів вниз, щоб попаритися.

    Виходить, як у дитячому анекдоті шкільних років: "баня, через дорогу роздягалка". Цікаво, але не настільки, щоб захотілося попробувати це ж задоволення ще другий раз.

  = gallery %w{iya/iya_onsen/IMG_6508.jpg iya/iya_onsen/IMG_6510.jpg iya/iya_onsen/IMG_6513.jpg iya/iya_onsen/IMG_6516.jpg iya/iya_onsen/IMG_6518.jpg iya/iya_onsen/IMG_6519.jpg iya/iya_onsen/IMG_6522.jpg iya/iya_onsen/IMG_6523.jpg iya/iya_onsen/IMG_6526.jpg iya/iya_onsen/IMG_6527.jpg iya/iya_onsen/IMG_6531.jpg iya/iya_onsen/IMG_6533.jpg}

  p Фунікулер спускається від готелю вниз в ущелину на глибину 170 метрів. Довжина самого фунікулера 250 метрів. Тут, над самою водою річки знаходиться джерела ротембуро.

  markdown:
    ## Обоке

    Крім самого готелю в горах біля Ія цивілізації --- катма. Спробували розпитати, де б можна було щось підвечеряти, але, фактично, найближчою цивілізацією виявився двадцяти-чотирьох годинний магазин за кілька десятків кілометрів на тій же 32й "кокудо", звідки починався наш день. Довелося на ніч їхати знову по тим же двом: чотириста тридцять дев'ятій і тридцять другим дорогам ("кокудо" і "кендо") до стоянки над річкою Ія в ущелині Обоке.

    В Обоке дорога проходить теж понад річкою (але вже іншою --- Йошіно), і не так високо, як в Ія. Не 170 метрів, а якихось двадцять-тридцять. І тут можна покататися на моторному дерев'яному човні по більш спокійних частинах річки (без порогів), або замовити собі одноденну чи на пів-дня пригоду і спуститися біло-пінними порогами на надувному човні чи плоту.

    Місцева мічіно-екі нам не дуже сподобалася, тому проїхавши ще пару кілометрів ми заночували на стоянці біля "севен-ілевена".
