---

layout: post
# series: Uncomment if searies
title: "Мацуяма і Дооґо-онсен"
description: |
  22 вересня 2016. Тоскливий ранок. За всю подорож нас вперше підвела погода.

  Мали намір піднятися на гору Ішізучі-сан і все підбирали погоду. А погода останні дні була приблизно така, як завжди, коли підходить тайфун. Цього разу нас разом з Шікоку тайфун захопив краєм і пішов далі. Але за ним, виявилося, підходить ще один. Тож, позавчора погода, почавши налагоджуватися зранку, до вечора була вже ледь-ледь хмарною, а вчора був взагалі золотий сонячний день.

intro:
  image: IMG_1387.jpg
  filters:
    - vignette-90
    - sepia-40
    - text-shadow

images:
  basepath: 2016/2016-09-22-shikoku_2016_matsuyama_doogo-onsen

tags:
  - Shikoku
  - Matsuyama
  - onsen
---

= chapter do
  markdown:

    До Ішідзучі-сан веде 33-та „кокудо”-дорога, а за нею: Ішідзучі-скайлайн （石頭打スカイライン. Ми виїхали з Мацуями коли вже вечоріло, біля пів на шосту і сподівалися до вечора піднятися до авто-стоянки в кінці Ішідзучі-скайлайн (де я зараз це і пишу), але виявилося, що при заїзді на скайлайн стоять ворота, які зачиняються о 6й вечора, а взимку скайлайн взагалі зачинений. Довелося заночувати на стоянці біля в’їзду на скайлайн.

    Під’їхавши на стоянку поночі (вже було зовсім темно), „застукали” кількох зайців — в світлі фар вони попростували кудись в кущі в своїх заячих справах — небо ідеально чисте, жодної хмаринки і силенна купа зірок. Величезна автостоянка абсолютно порожня. Поруч в ущелині глибочезна — потужний ліхтар в темряві ледь дістає дна ущелини, — біла піниста гуркітлива річка. Краса! Завтра обіцяє бути чудова погода і сонячний підйом на 1942м висоту Ішізучі-сан!

    Але. Дощ почався десь з 5ї ранку.

    Спочатку — просто дощ, далі — вітерець, туман і мряка. Далі — зовсім мізерна погода з хмарами туману, які вітер ганяє туди-сюди, холодригою і всепроникною мокротою. Ми все-таки вирішили їхати далі, а там — як вийде. Доїхали до самого краю дороги — далі вже пішки.

  = gallery %w{IMG_1512.jpg IMG_1513.jpg IMG_1514.jpg IMG_1516.jpg IMG_1522.jpg IMG_1528.jpg} do
    p Перед входом на пішу стежку — автостоянка, трохи нижче чи то ресторан, чи то якась нічліжка (не працювало), і  тут же невеличка альтанка.

  markdown:

    Врешті-решт ми просто поснідали в альтанці — дах альтанки ніскільки не рятує від мізерності, далі — вниз до Мацуями. До речі, тут же, в альтанці на кілька хвилин зупинився священник шінто, поки переодягався в усе біле похідне — білі штани і куртка, білі кросівки, білий заплічник, білий плащ, (така „уніформа” у священників шінто), — перед тим, як підніматися на гору. Він служить у храмі на вершині гори і періодично ходить вгору-вниз. Розказав, що на вершині гори при храмі є і безкоштовна нічліжка-приют для мандрівників, де можна за бажання зупинитися на ніч. Так-що, дерзайте і плануйте відповідно, хто буде тут після нас!


= divider "IMG_1443.jpg" do

  markdown:
    # Мацуяма (松山)

    Останні два дні ми провели в Мацуямі.   Мацуяма — найбільше місто і столиця провінції Ехіме в Шікоку. Місто відоме перш-за-все своїм онсеном — До̄ґо-онсен. До̄ґо-онсен настільки тісно пов’язаний з Мацуямою, що коли розмовляєш з навколишніми японцями і кажеш, що їдеш до Мацуями, вони тут же на автоматі відповідають: „А-ааа… До̄ґо-онсен…”.

= chapter do
  markdown:

    Як пишуть джерела, До̄ґо-онсен (道後温泉) — найстаріший в Японії. Його історія налічує вже біля трьох тисяч років і він згадується навіть в другій за найдавнішістю японській хроніці Ніхон Шьоокі. Ще він відомий завдяки тому, що його час від часу відвідують японські принци і згадкою в  японській класиці „Боч-чян” (яп. 坊っちゃん) авторства Натсуме Сосекі. Натсуме Сосекі написав „Боч-чян” саме живучи у Мацуямі, працюючи вчителем.



    Боч-чян, наряду з До̄ґо-онсеном — ще один талісман Мацуями. Обоє дуже тісно пов’язані: в онсені вам покажуть „кімнату Боч-чяна”, а навколо — десятки, якщо не більше згадок про самого Боч-чяна. Це і „боччян-решшья” (яп. 坊っちゃん列車) — невеликий паровозик з двома вагончиками, що курсує по всьому місту в якості трамвая (разом з іншими менш екзотичними трамваями). Це і „боччян-каракурі-токеі” (坊っちゃんカラクリ時計）— вуличний годинник. Кожні півгодини цей великий годинник у формі двоповерхового будиночка розсувається, піднімається створюючи ще один поверх, з нього висовуються фігурки і співають пісеньки та розказуть історії про Мацумото. Це і „боччян-хіроба” — площа перед До̄ґо-онсеном з фігурами персонажів. Ну, і звичайно величезна кількість фанерних в зріст фігур персонажів з Боч-чяна, самураїв, принців, імператорів та імператриць з дірками замість обличчя. Хоча б на фото, зате кожен може відчути себе імператором або самураєм — на вибір.

  = gallery %w{IMG_1381.jpg IMG_1292.jpg   IMG_1414.jpg   IMG_1281.jpg  IMG_1293.jpg IMG_1295.jpg    } do
    p Площа Боч-чяна, паровозик Боч-чяна і годинник Боч-чяна. На годиннику щогодини розкриваються дверцята, висуваються фігурки персонажів Боч-чяна і розігрується цілий спектакль під музику годинника.

  markdown:
    ## До̄ґо-онсен

    Будівля онсену — центральний експонат всієї цієї території. Це — трьохповерхова стара будівля в традиційному японському стилі під черепицею, навколо якої постійно бурлить життя. Особливо привабливо онсен виглядає поночі. Завішані напівпрозоврими циновками великі настіж відкриті освітлені вікна, відвідувачі в онсенних „юката” — сидячи на татамі попивають чай чи походжають туди-сюди.

  = gallery %w{IMG_1234.jpg IMG_1236.jpg IMG_1379.jpg IMG_1380.jpg IMG_1238.jpg    IMG_1408.jpg }

  markdown:

    Біля входу (до речі входів у До̄ґо-онсен два, з протилежних кінців будівлі — про це нижче) — натовпи туристів і рікшя. Туристи — в готельних „юката”, якщо вони з готелів поблизу онсену. Біля входу — черга до каси. В касах пропонується кілька варіантів задоволень. По ціні від 250 ієн (без купання), до півтори тисяч ієн. Найдешевший варіант — це звичайний тур по кількох кімнатах онсену, власне без самого онсену. Ви вже, мабуть, подумали: „Тю…”, і ми подумали так само і вибрали „середульший” варіант — другий поверх. По вартості поверхи так і діляться: найдешевший — перший (400 ієн дорослий квиток), найдорожчий — третій (1500), другий — посередині (800 або 1200). По часу відвідання теж обмежені в залежності від вартості.

  = gallery %w{IMG_1278.jpg IMG_1288.jpg IMG_1275.jpg IMG_1418.jpg IMG_1419.jpg IMG_1422.jpg IMG_1465.jpg IMG_1466.jpg} do
    p Трамваї Мацумото. Денний проїздний квиток (500 йєн в день): квиток можна купити будь коли, але в той день, коли ним користуєшся зішкрябуєш на ньому рік, місящь і день. Схема трамвайних маршрутів Мацуями.

  markdown:

    1200 ієновий друго-поверховий квиток включає в себе юкату, рушник, чашку зеленого чаю з рисовим печивом „сенбеі”, одну годину купання і екскурсію. Під час екскурсії показують відокремлені від загалу кімнати, призначені спеціально для відвідин імператора, і кімнату Боч-чяна. Кімната Боч-чяна, розташована в кінці довгого вузенького коридору, нічого особливого з себе не являє — це звичайна кімната з розсувними японськими вінками та татамі, тільки з тою різницею, що на стінах розвішані фото і різна атрибутика, що має відношення до Боч-чяна.

  = gallery %w{IMG_1389.jpg IMG_1390.jpg IMG_1391.jpg IMG_1397.jpg IMG_1398.jpg IMG_1399.jpg IMG_1400.jpg IMG_1402.jpg IMG_1403.jpg } do
    p Торгові вулички біля Дооґо онсена

  markdown:

    Імператорський онсен — це кілька кімнат, розташованих дещо окремо від усього іншого комплексу. Туди ведуть вузенькі коридорчики з незрозумілими сходами — то вгору, то вниз, то знову вгору, а потім ще то ліворуч, то праворуч. Через два-три повороти, спуски-підйоми перестаєш розуміти напрямки і сторони світу і вже не розумієш в якій частині будинку ти вже знаходишся. Але рятують накреслені на підлозі широкі смуги кількох кольорів, слідкувати за якими тобі скажуть тітоньки, які направляють туристів туди-сюди. Ходиш коридорами, не спускаючи очей з цих смуг, як команда в „Грі Ендера”.

  = gallery %w{IMG_1248.jpg IMG_1241.jpg IMG_1243.jpg IMG_1251.jpg IMG_1239.jpg IMG_1240.jpg}
  markdown:

    В імператорському онсені вам покажуть кімнатку для переодягання імператора (3 чи 4 з половиною татамі) з дерев’яною коробкою для одягу на підлозі; інша кімната з кріслом на невисокому подіумі — тут сидів і має сидіти в майбутньому імператор. Услужлива тітонька екскурсовод обов’язково зверне увагу, що там де стоїть крісло (через те, що воно на під’йомі-подіумі) стеля зроблена вищою, якраз на висоту подіуму. Щоб імператор не почувався ображеним, що через його імператорську долю йому дісталася нижча стеля.

    Тут же, власне і сам онсен. Глибока (зо два метри) гранітна ванна — метрів три на три — із гранітними східцями до неї. Коли у ванні є вода, ванна закривається згори дерев’яними дошками. Але нема імператора — нема і води, дошки стоять вертикально поруч з ванною. Сусідня з онсеном кімнатка (з великою гордістю показана екскурсоводом) — імператорський нужник, — невеличка кімнатка зі знайомою з сільського українського дитинства прямокутною діркою в підлозі (так-так!). Щоправда дірка не в дерев’яній підлозі, а в татамі і обрамлена полірованим лакованим деревом.

    Ще пам’ятаєте про два входи до Дооґо-онсена? В цій „таємній” його частині вам покажуть той другий вхід — спеціальні ворота та двері зназовні. Через ці ворота до онсену має право заходити тільки сам імператор. Цей вхід знаходиться з іншого боку,  протилежного тому, через які заходять всі інші „неімператорські” відвідувачі. Вся будівля онсену стоїть на підйомі, „імператорський вхід” — у вищій його частині, і,зайшовши просто з вулиці, імператор потрапляє прямо на другий поверх без усіх цих покручених коридорчиків і східців „вгору-вниз”.

  = gallery %w{IMG_1382.jpg IMG_1383.jpg IMG_1384.jpg IMG_1385.jpg IMG_1386.jpg IMG_1387.jpg} do
    p Імператорський вхід
  markdown:


    Після екскурсії дається година на те, щоб спуститися сходами до вашої ванни онсену, помитися в душі, покваситися в ванні і, одягнувши юкату, піднятися знову до великої кімнати, де в дерев’яній коробці на татамі вас буде чекати чай з сенбеі. Після цієї процедури — на вихід, попередньо переодягнувшися з юкати в свій одяг, та повернувши позиченого рушника.

  = gallery %w{IMG_1254.jpg IMG_1252.jpg IMG_1250.jpg IMG_1255.jpg}
  markdown:

    Перший і третій поверхи відрізняються від другого тим, що на першому поверсі просто онсен без екскурсії, а на третьому поверсі за додаткові гроші ви можете попити чай в приватній кімнаті, а не в загальному залі.

    При наших відвідинах До̄ґо-онсена нам вдалося попасти в середину досить швидко, перед нами була черга близько десятка людей (за нами, як завжди за законом підлості, вже не було нікого). Але, в залежності від сезону, буває і таке, що всередину не вдається потрапити через довжеленну чергу відвідувачів. Онсен, щоправда працює з шостої ранку до одинадцятої вечора, тому можливостей вистояти чергу за бажання — достатньо.

= divider "IMG_1508.jpg", filters: %w{text-shadow vignette-90 sepia-40} do
  markdown:

    ## Оку-до̄ґо

    Надивившися донесхочу на принади імператорського життя, можна спуститися на грішну землю і відвідати справжній онсен — недоступний імператорам. І насправді чудовий.

    Прочитавши у [Вікітревел](http://wikitravel.org/en/Matsuyama) про До̄ґо-онсен, тут же у сусідньому абзаці довідалися про Jungle-Oku-Dōgo онсен. Вікітревел повідомляє, що цей Джанґл знаходиться „тут-же”, „позаду” До̄ґо онсена, що в ньому 26 різних ванн, що працює він ледь не цілодобово і всякі такі інші смакотинки.

= chapter do
  markdown:


    Тож, відразу по виході з „імператорського” онсену ми почали шукати той, що для простолюдинів. Шукали, так як завжди це робимо — почали чіплятися на вулиці до random-японців і питати „Де тут Джанґл?” На цей раз тактика не спрацювала, ніхто з оточуючих про нього не чув. Ввівши в навігатор адресу з Вікітревел, дізналися, що вікітревелівське „тут-же позаду” виливається у ледь не півгодинну подорож машиною. І що Оку-до̄ґо знаходиться вже поза межами самої Мацуями. До того ж, під’їхавши до онсену виявилося, що він уже зачинений на сьогодні, що кілька років тому тут провели ремонт, відновили ванни  і басейни, і що у нього відпала приставка Джанґл, і тепер він просто зветься готель „Оку-до̄ґо онсен”.

    Сюди ми потрапили за кілька днів, в день від’їзду з Мацуями. Онсен таки вартий, щоб його відвідати. Ванни я не рахував, чи їх справді двадцять шість, чи менше. В літній час тут, видно ще працює й басейн, але восени ми змогли на нього тільки подивитися з вікна.


  = gallery %w{IMG_1494.jpg IMG_1495.jpg IMG_1496.jpg IMG_1497.jpg IMG_1498.jpg IMG_1499.jpg IMG_1500.jpg IMG_1501.jpg IMG_1502.jpg IMG_1503.jpg IMG_1504.jpg IMG_1505.jpg} do
    p Зовнішні ванни — ротембуро — розташовані понад берегом гірської річки, з виглядом на зелений схил гори.
