---

layout: post
series: П'ять років після землетрусу Тохоку
title: "А потім наступила… ПАНІКА!!!!!"
summary: Частина третя

description: |

  Саме так, як написано: паніка КАПСЛОКОМ і з п’ятьма окличними знаками!!!!! Паніка почалася не зразу. Але через день-два вже можна було передбачити куди все йде.

intro:
  image: asahi-tv-report-on-flyjin.jpg
  filters:
    - vignette-99

images:
  basepath: 2011/2011_zemletrus

tags:
  - earthquake
  - tsunami
  - tokyo

filters:
  - vignette-30

---

= chapter do
  = partial :right_caption
    markdown:
      Фото вгорі зі сторінки [JapanProbe](http://www.japanprobe.com/2012/05/02/survey-confirms-post-311-flyjin-phenomenon-25-percent-of-tokyos-foreign-residents-fled/), кадр телеканалу Асахі.

  markdown:

    Перші ластівки паніки з’явилися у новинах, ЗМІ, причому в новинах абсолютно не японських. Поки японські медіа були в основному зайняті з'ясуванням інформації, організацією телемостів для обміну даними, в інших ЗМІ починали розганятися хвилі. Навіть пройшовши за останні два роки школу і раша-тудей, і лайфн’юз, і распятих мальчіков, навіть сьогодні неможливо зрозуміти, які саме ідеї, і які дитячі комплекси чи негаразди рулюють кореспондентами видаючими „нагора” думки, як наприклад у випадку репортажів [сайту „Сєводня”](http://www.segodnya.ua/world/japontsy-tut-trjacet-vec-mir-eto-khudshee-chto-my-videli-v-zhizni.html): „сотни тысяч токийцев в пятницу до полуночи не смогли добраться домой, **тысячи бродили по тоннелям метро**…” (*виділення моє -- ДК*)

  = partial :float_quote do
   span Зверніть увагу на час виходу цієї інформації: 11 березня 2011, 20:31. Кілька годин після землетрусу, ще тоді, коли навіть у самій Японії і Токіо дуже мало було відомо подробиць трагедії. Тим не менше, журналісти вирішили наганяти страху, навіть не маючи жодного фактичного матеріалу.

  markdown:

    Про не змогли добратися додому — правда. Рух практично всіх поїздів було зупинено. Навіть там, де не було пошкоджень, все одно спрацювали аварійні системи і до повної перевірки всіх систем японці ніколи в житті їх не запустять. Але що повинно було відбутися, щоб людині могла прийти в голову оця фраза, про тисячі тиняючихся тунелями?!

    Або ось цей шедевр, з тої ж статті: **„рухнул шпиль центральной телебашни высотой 333 метра”**. В цій простенькій фразі теж є деяка частина правди: висота старої (вже не діючої для трансляцій) телебашти — 333 метри. Таки дійсно, під час землетрусу шпиль башти постраждав. Але. Нормальна людина може відчути різницю між словами „постраждав” і „рухнув”?

    На фото нижче (тільки за дуже великого бажання) можна побачити, як саме постраждав шпиль: самий вершечок, висотою близько десятка метрів, відхилився на півтора-пару градусів.

  = gallery %w{tokyo/206785_10150144617144381_8285414_n.jpg tokyo/200094_10150144618489381_4098086_n.jpg } do
    p Я фотографував тоді башту навмисне, після повідомлень про те, що вона "рухнула" і намагався зняти відігнутий шпиль. Ви його бачите?
    p На другому фото: приблизно в ті дні в магазинчику біля самої токійської башти, мені попалася ось така „модель зламаної башти” :)

  markdown:

    Ні на фото без лупи, ні з землі без бінокля цей згин навіть неможливо помітити. Тим не менше ЗМІ відрапортувалися про „рухнувший шпиль”, доходили слухи навіть про публікації, де стверджувалося, що рухнула вся Токійська вежа. В липні місяці того ж року, цей „рухнувший” шпиль під час ремонту відкрутили і в результаті висота токійської вежі зменшилася до 315 метрів. Якраз саме в той час все японське телебачення переходило з аналогового на цифровий стандарт, і телевізійники вирішили зняти аналогові антени (які й були тим вершечком) і не обтяжувати себе примантачуванням його назад. Замість цього все нове цифрове обладнання і антени зараз на новій башті „Tokyo Sky Tree” – „Небесне Дерево”. Sky Tree на даний час є, до того ж, найвищою баштою в світі (634 метри).


  markdown:
    Серед українських ЗМІ, з якими нам довелося мати справу або ж просто читати були „Українська Правда”, ТСН24 і російськомовна „Сєводня”. Але особливої різниці у висвітленні японських подій на українських новинних ресурсах не відчувалося. Практично всі вони на той час працювали такими собі рупорами паніки.

  = partial :float_quote do
    span Почавши писати цього розділа, я заглянув в архіви УП. В „Сєводня” архівів немає, зате є функція пошуку, але можа відшукати тільки якщо точно знаєш що і де шукати. А на УП є архів з календарем — можна переглянути новини за датами. Мені стало зрозумілим, чому УП практично не відрізняється від „Сєводня”: перші дні „Українська Правда” просто не мала власних матеріалів, більшість просто тупо передруковувала з Сєводня з посиланнями на цю жовту газетку. Ну, відповідно, і рівень журналістики той самий.

  markdown:

    Надалі, на протязі майже всієї трагедії і в ході ліквідації існувала така тенденція: сама по своїй природі негативна інформація про жертви і страждання подавалася з викривленнями у гірший бік.

    По мірі того, як ставали відомими подробиці руйнації, офіційні дані про кількість жертв поступово зростали, але завжди залишалися консервативними. Зрозуміло, що позитиву у людській трагедії відшукати важко, але людям, які тільки що на власній шкурі її відчули, зовсім непотрібно ще більше „чорнухи” з новин. Зате в українських новинах, цієї чорнухи виливалося хоч завались, дані жертв практично завжди **йшли попереду** офіційних даних. Причому випереджали не на відсотки чи долі відсотка, що можна було б віднести на похибку.  В ті дні, коли японські  джерела повідомляли про сотні жертв, наші вже звітували про тисячі і десятки тисяч загиблих.  Нам на власному прикладі вдалося прослідкувати, як робилися репортажі українських ЗМІ.


    Отже, невдовозі після землетрусу відбулося таке собі інтерв’ю по Скайпу з журналісткою з газети „Сєводня”. На той момент ми і поняття не мали, що це за газета така. В інтерв’ю, крім іншого йшлося також про проблеми з газом, — про газ я писав в попередньому дописі, газу тимчасово не було у кількох наших знайомих, бо спрацювала проти-землетрусна система захисту і вони не змогли її ввімкнути самостійно. Друге --- були також питання про електрику. Це були буквально перші дні після землетрусу, але вже з’явилася перша інформація про проблеми на атомних станціях у Фукушімі, і на японському телебаченні з’явилася перші дуже обережні фрази про те, що *можливо* будуть десь-колись на якийсь час скорочувати поставки електрики (чого врешті-решт не сталося — в житлових кварталах світло не вимикалося).

    В результаті в своєму описі апокаліпсису — на додачу до падаючих башт і нипаючих тунелями японців — цю (зовсім некоротку!) частину розмови  „Сєводня” „оптимізувало” до однієї-єдиної фрази: **„в Токио постоянно пропадает свет и газ”** (!!). Прибрати цю дурню вдалося тільки після великої сварки з цією „журналісткою”, а після пари таких висвітлень будь-які контакти із ЗМІ припинилися.

    Але не тільки українські ЗМІ займалися подібним. Грішило і Бі-Бі-Сі, і майже всі провідні ЗМІ світу, щоправда в менших масштабах. Про російські ЗМІ навіть і говорити не хочеться. Вже тоді з’явилися ознаки як „ватності”, так і ознаки „Іскандери-смєюцца”. Серед не тільки офіційних медіа, але і серед росіян в Японії панували такі ковбойські тренди про „тупих япошек”: не змогли справитися з атомною станцією, а ми от проектували, будували і відновлювали ЧАЕС. І ось ми зараз зберемо свою компашку і приїдемо ремонтувати Фукушіму-1 і Фукушіму-2. Це був момент істини. Якщо я особисто до того моменту і не збирався тікати з Японії, то тут уже довелося задуматися. Стопудово, якщо російська команда, саме та, яка так „успішно” будувала Чорнобиль, приїде ремонтувати японську атомну, то тікати з Японії треба якдалі, за можливості на іншу планету.

    ## „Флай-джіни”

    Вся ця медійна істерика дала свій результат. Як не дивно, першими „посипалися” французи. Достатньо було кількох невротичних заяв французької амбасади для того, щоб вивести переляк на якісно новий рівень. Були моменти, коли турбулентність заяв і відльотів з усіх аеропортів Японії доходила до такого рівня, що навіть місцями намагалися проводити демонстрації з гаслами типу „дайте нам спокій!”, перестаньте репетувати і накаляти обстановку.

    Через масовість відльотів ґайджінів саме тоді з’явився новий термін [„флай-джін”](http://ejje.weblio.jp/content/%E3%83%95%E3%83%A9%E3%82%A4%E4%BA%BA). Поспішно, без попереджень скочившим в літак в голову не приходили етичні питання, пов’язані з їхньою втечею. Масовість і поспішність приводила навіть до кумедних ситуацій. Вже зовсім недавно, щось із пару місяців тому, мені в пресі попадалася якась феєрична історія однієї ще сьогодні вимагаючої компенсації за звільнення з телеканалу французької журналістки. Без щонінайменшого попередження своїх роботодавців (навіть у формі телефонного дзвінка ні до відльоту ні після) вскочила до літака і подалася світзаочі; але зате коли ситуація вляглася, вирішила повернутися на своє місце роботи і тепер, після того, як виявила, що її звільнили за прогули, через суд вимагає грошових виплат за пропущені місяці і поновлення на роботі.

    Цей випадок, на жаль, зовсім не поодинокий. Подібних були якщо не сотні тисяч, то тисячі чи десятки тисяч напевне. В моїй групі теж не обійшлося без такого флай-джіна: через кілька днів відсутності отримали від нього email’а вже з його рідної країни. В листі просто постулювалося, що як виявляється, він уже більше тут не працює. No hard feelings, як то кажуть.

  = pull_right photo "calm_people.png", layout: :portrait, caption: %{Прекрасно бачити навколо себе спокійних людей, і що придурки повиїзжали з країни. Чистіше.} do
    p Вся на той час „ґайджінська діаспора” чітко розділилася на ці кілька тижнів на тих що „флай” і на тих, які „стей (stay)”, з’явилася навіть свого типу гордість і зневага до іншої половини, кожен намагався заявити свою позицію, показати, що „я не з ними”; дуже популярними тоді стали різні гасла та статуси у фейсбуках і скайпах типу „Staying in Tokyo” чи „Staying in Japan”.

    p З тої ж таки самої моєї програмістської групи на роботі, але прямої протилежності приклад, іншого іноземця. Мій співробітник американець Чарльз, на той час саме збирався поїхати додому в Штати. Відпустка — ще задовго до землетрусу — вже була давно запланована, квитки куплені, батьки в Штатах попереджені. Але коли це все сталося, і велика частина ґайджінів стала флай-джінами, Чарльз сказав „Ні, мені соромно буде стояти в одній черзі до літака з усіма ось цими. На мене будуть дивитися, так само як і на них, а кожному кричати «Я не з ними!» я не зможу”. І від поїздки додому відмовився, а квитка здав.

  markdown:

    ## Про українську владу

    А що про українську владу? Про українську владу нема чого сказати. Все було як завжди. Бардак.

    З якогось дива легітимний Яник вирішив прогнутися і прислати порожнього літака в Японію. Оскільки зовсім порожнього посилати не можна, накидали туди трохи ковдр і назвали це „гуманітарною допомогою”. Літак — Боїнг 737й, розрахований на 160 пасажирів. Оскільки і назад летіти порожніми було соромно, то до цього дійства ще присобачили назву „евакуація” — хоча залишається незрозумілим яким чином один рейс на 160 крісел може евакуювати 1590 українців (офіційно зареєстрованих [на той час](http://www.segodnya.ua/ukraine/chact-ukraintsev-otkazalac-bezhat-iz-japonii.html)).

    Врешті-решт нашкребли 137 бажаючих на шару злітати на канікули. Плюнули на всіх інших, які дійсно хотіли і мали б летіти — мамам з маленькими дітьми влада офіційно повідомляла, що місця в літаку вже всі зайняті і зайняті виключно мамами і маленькими дітьми. Влада відповідала, як на духу, намагаючись не помічати (а може й щиро не помічаючи) як цілком дорослих пасажирів не обтяжених дітьми, так і наявність порожніх крісел.

    Врешті-решт влада вислухала від вдячного народу панегірики про „спасіба партіі і лєніну за наше щаслівоє дєцтво”, тобто за евакуацію. І на цьому, загалом — і слава Богу —, активність української влади припинилася. А все ж могло закінчитися значно гірше, якби вони вирішили щось робити.
