---

layout: post
series: П'ять років після землетрусу
title: "В день землетрусу та перед тим."
description: |
  Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?

# intro:
#   image: oboke/IMG_6550.JPG
#   video: oboke/koinobori
#   filters:
#     - vignette-90
#     - sepia-20
#     - text-shadow

intro:
  image: title_1.jpg
  # filters:
  #   - vignette-90
  #   - sepia-90
  #   - text-shadow-2

images:
  basepath: 2011/2011_zemletrus

tags:
  - earthquake
  - tsunami
  - tokyo
---

= chapter do
  markdown:

    # П’ять років після великого землетрусу.

    Одинадцятого березня виповниться п’ять років після величезного землетрусу, який разом зі спустошливим цунамі знищив все на величезних територіях північно-східної Японії, натворив справ на атомній станції у Фукушімі, налякав купу гайджінів, багато яких в один день перетворилися на „флай-джінів”.

    Як воно все було п’ять років тому? Якось виникла потреба написати і згадати.

    З українськими подіями останніх років і землетрус, і цунамі відсунулися так надзвичайно далеко у часі, ніби то це було в якомусь зовсім іншому житті та й взагалі відбувалося не зі мною. Спочатку пригадалася дата: 11 березня і що було це ду-у-же-дуже давно, багато-багато років тому. Потім почав вираховувати: „А який же це рік був? 2008-й? дев'ятий” Та ні, виявилося, що 2011-й і всього лиш п’ять тому.

    >>> Всі фото в цьому пості, як і скрізь в цьому блогу "клацальні". Клацніть мишкою на зображенні, щоб подивитися в повному розмірі.

    ## До березня 2011

    В своїй японській історії ми пережили два великих землетруси. З тою різницею, що другий ми відчули безпосередньо, але і перший — дев’яносто п’ятого — теж нас зачепив. У 1995му році стався величезний трус у Кобе, в південно-східній частині Японії. Цей землетрус був дуже далеко від нас, ми не відчули зовсім ніяких поштовхів і все дізнавалися тільки з новин. Японія виявилася великою мірою неготовою до землетрусу такої сили і до такої розрухи.

    З приводу землетрусу і його наслідків було надзвичайно багато новин, тематичних передач, різноманітних тренувань, магазини переповнилися рюкзаками і сумками для після-аварійного виживання — продукти з довгими термінами зберігання, накидки, питна вода, ліхтарики і радіо приймачі. Від мікрорайону (団地, да́ньчі яп.), де ми жили, в постраждалий район була виряджена ціла делегація для обміну досвідом. Потім учасники цієї експедиції ділилися фото цілковитої розрухи і поодиноких будинків, що вистояли. Японці намагалися зрозуміти, що  саме врятувало той чи інший будинок, і що треба робити в своєму мікрорайоні.

    Коротше, шуму — корисного і часом недуже — навколо землетрусу Кобе було багато. Наші діти  — тоді ще малі — були хто в початковій школі, хто в дитсадку. І там, звичайно, дітям теж розказували і показували про трагедію, і проводили навчання. В комплект кожного школяра завжди входить спеціальна подушка на резинках, яка в звичайний час резинками закріпляється на стільці і діти  на ній сидять. На час землетрусу подушка розкривається, перетворюється на „шолом”, одягається на голову, і з шоломом на голові діти ховаються під партами. Звичайно-ж, таких тренувань після трусу стало більше.

    Результатом всього цього стало те, що наші діти почали боятися землетрусів. Майже панічно. Хоча і до того нас потрушувало регулярно — по трошку і не дуже часто: 1-2 бали раз на місяць чи кілька, але це ви́кликало ажіотаж тільки перший-другий рази, а потім звиклося. Але тепер, після тренувань і навчань, діти навідріз відмовилися спати в своїй кімнаті через страх землетрусу і потім ми ще довгі роки спали покотом — всі п’ятеро — на футонах в одній кімнаті.

    ## Березень 2011го

    Напочатку березня 2011-го в районах поблизу епіцентру великого землетрусу вже щось відбувалося. Кілька трясок меншої сили, але доволі відчутних вже було за кілька днів до 11 березня.

    Пам’ятаю, що стопроцентно схожа ситуація відбулася на роботі десь за два чи три дні. Ми саме були на невеликій нараді — троє чоловік зі мною включно — в маленькій кімнаті, коли будинок почало повільно хилитати туди-сюди. В той раз трохи похилитало і перестало.

    ## 11 березня

    Так само було і одинадцятого — така ж маленька нарада (здається навіть ті ж самі троє людей, що і минулого разу).

    Почало хилитати. Спочатку потрошку, так ледь-ледь помітно, частота хитань — дуже низька. Дві-три секунди в один бік, потім так же пові-і-і-ільно в інший бік. Ми сиділи собі і розмовляли далі. Але на цей раз амплітуда коливань поступово наростала (частота залишалася такою ж). Через кілька десятків секунд згадалася наука: „Треба відчинити двері”. Встав, відчинив. Намагалися продовжувати розмовляти, але вже якось розмова не клеїлась. Будинок (наш офіс був на восьмому поверсі двадцяти з чимось поверхового будинку) вже ходив туди-сюди все так же повільно, але розмахом на кілька метрів.

    Тоді вже по всьому офісу з’явилися ознаки хвилювання. Хтось поліз під стіл, хтось навпаки, з під стільця витягував шолома (у великих офісах під кожним стільцем прив’язаний шолом саме не цей випадок). Ще через хвилину-другу народ потягнувся до сходів.

    Чомусь, не пам’ятаю вже чому, я не вискочив на вулицю разом з першими. А потім, трохи згодом, по поверхах почали ходити охоронці і пожежники, казати, що виходити на вулицю не треба (чому? не знаю), тому й далі залишився всередині. Ну, а ще десь через півгодини ті ж пожежники вже почали ходити і казати, що вже зараз виходити потрібно. Через цю свою тормознутість я весь пік землетрусу провів всередині офісу, але на виході встиг одягнутися, зібрати манатки, скласти в сумку комп’ютера, чим вигідно відрізнявся від тих, що вискочили першими в одніх сорочках і без речей, і тепер стояли, продавали дрижаки на вулиці і боялися повертатися всередину за речами.

    Взагалі, картина на вулиці мене вразила. Не дивлячись на всі тренування, евакуація того разу виглядала таким чином: нв вулицю викочується сотня чи дві офісного планктону, хто в шоломах, хто без (я був — без, бо поки нипав по офісу туди сюди, хтось мого поцупив). Цей натовп зупиняється в десятку метрів від висотного будинку. Такі будинки у нас традиційно звуть „скло і бетон”, але сучасні версії цієї архітектури це — бетон всередині, а вся зовнішя стіна будинку — це суцільне скло в палець товщиною. І ось ця організована зграя зупиняється в десятку метрів від двадцяти поверхів скла, задирає голови вгору і стоїть дивиться кількома сотнями пар очей, як двадцять поверхів хитаються туди-сюди. Врешті-решт хтось таки здогадався дати команду відсунутися подалі.

    Через перехрестя від нашого будинку йшло будівництво з височенним підйомним краном. Ось на цей кран дивитися було реально страшно. Він розгойдувався так, що здавалося ніби він ось-ось завалиться, і невідомо куди він впаде і куди від нього тікати.

    ## Комунікації

    Десь через години півтори-дві стало зрозуміло, що роботи вже, звичайно, не буде, що електрички ніякі не ходять, що всі дороги забиті сотнями і тисячами машин, і що додому треба відправлятися пішки.

    Зв’язок пропав майже зразу ж після землетрусу.
  = pull_right(photo("3_11_522pm.png", \
  caption: "<p>Поки батарейка ще жила. Одне з перших повідомлень про ситуацію на іноземну аудиторію.",\
    filters: ["vignette-60"])) do
    markdown:
      Взагалі зв’язок на той час заслуговує на окремий абзац чи два. Мобільні телефони перестали працювати практично зразу ж. Дозвонитися нікому не було можливості. Залишалися ніші: електронна пошта, інтернет і Скайп. [Група „Краяни”](https://www.facebook.com/groups/371541230835/) на той час існувала в віртульному просторі в основному як [поштова розсилка](https://groups.yahoo.com/neo/groups/kraiany/info) на Yahoo Groups, і все спілкування після землетрусу велося email'ом. Цифровими каналами вдалося зв’язатися один з одним і повідомити рідним за кордоном, що живі-здорові. Телефон був безпомічний.

  markdown:
    Також стало зрозуміло — вже під час пішого походу додому, коли батарея мобіли померла остаточно — що телефонних будок в Токіо залишилося надзвичайно (критично) мало. Поодинокі будки з такими чергами, що Ой!! або ж будки без черги, але із зіпсованими автоматами (такі теж є!). Наземним зв’язком в той раз мені скористуватися так і не вдалося.

    Скайп і ФБ виручив із спілкуванням настільки, що вже потім, через кілька днів за ініціативою шефа на роботі для emergency contacts усі обмінялися скайпами, ФБ рахунками і завели групу. Великі фірми в Японії просять надавати особисту контактну інформацію для екстреного зв’язку на випадок стихійного лиха, але до цього були лише домашні чи мобільні телефони, тепер скайп і фейсбук. Збуджений перспективами шеф чіплявся до всіх: „Ти уявляєш! Ти будеш розказувати своїм онукам, що ти вперше заснував групу на ФБ і Скайпі для нашої фірми!” Десь та група існує ще й сьогодні.

  = gallery %w{shinagawa_tv.jpg shinagawa.jpg} do
    p По дорозі додому: (1) на станції Шінаґава телевізор вживу передає події з зони цунамі, (2) Багато кому занадто далеко йти пішки, і вони залишилися чекати поки запустять поїзди.


  = pull_left photo "16782975585_e122eaa297_o.jpg" do
    p Дорога додому виявилася довгою, по дорозі ще багато разів трясло так, що інколи навіть не вдавалося іти рівно.

    p На фото: станція Шінаґава після трусу. Від неї, далі в бік від центру Токіо дорога "стояла" стопроцентно. На всьому моєму шляху я переганяв авто. Сподіватися на те, що електрички почнуть ходити я перестав вже давно, а користі від автобусів мені не було жодної, бо я рухався в десятки разів швидше за будь-який автобус в той день.

    blockquote Про події наступних днів буде далі.
