---

layout: post
series: В'єтнам

title: Віза на Пу-куок
subtitle: "Візові пригоди 2016 року"

description: |

      Наші пригоди з відпочинком у В’єтнамі почалися ще в аеропорту Сінґапура перед вильотом. На реєстрації ми впевнено відповідаємо, що віза ж не потрібна, бо ми ж летимо на Пу Куок.


intro:
  image: IMG_2493.JPG
  filters:
    - vignette-90
    - sepia-50
    - text-shadow-2

images:
  basepath: 2016/puquoq

tags:
  - Vietnam
  - Pu Quoc
  - Asia
  - travel


---

= chapter do
  markdown:

    #  Віза

    Наші пригоди з відпочинком у В’єтнамі почалися ще в аеропорту Сінґапура перед вильотом.

    В північно-західній частині В’єтнаму, практично на самому кордоні з Камбоджею знаходиться невеличкий острів Пу Куок (Phu Quoc). З 2012-го року — це єдина територія В’єтнаму, куди не потрібна віза (недешева, до речі).

    Отже, стоїмо в черзі на реєстрацію. У нас іще купа часу. До закінчення реєстрації залишається ще цілих п’ятнадцять хвилин на той момент, коли наша черга підходить до вікна. Проблем з багажем у нас немає — дві невеличкі сумки на трьох. Отже, чого нам хвилюватися?

    Дівчина в’єтнамка на реєстрації питає, чи є у нас віза, на що ми впевнено відповідаємо, що віза ж не потрібна, бо ми ж летимо на Пу Куок. Вона у відповідь каже „щас” і кудись біжить.

    Вона бігала ще кілька разів, поки аж остаточно не сказала, що оскільки рейс не прямий (прямих, до речі, на Пу Куок зовсім немає), а через Хо Ши Мін, то віза нам таки потрібна. І, якщо ми хочемо — блін, шо за дєла!, звичайно ж хочемо, — то ми можемо зараз (за 10 хвилин до закриття) попробувати взяти візу онлайн, на В’єтнамському візовому сайті. Але нас не так просто взяти — у нас „рояль в кустах” — два лаптопа і мобільник з тезерінгом… Вже за хвилину ми сидимо в залі реєстрації на підлозі з лаптопами на колінах і починаємо замовляти.

    На сайті нам представляється три варіанти оформлення візи: як завжди, швидко і супер-пупер швидко. „Супер-пупер” варіант коштує 110 зелених американських і гарантує вирішення візового питання на протязі чотирьох годин. Вибираємо, платимо 110 зелених, замовляємо. Ще залишається час до закриття, кидаємося до нашої в’єтнамки: „Ми замовили! У нас пересадка в Хо Ши Міні 5 з гаком годин, поки долетимо, плюс чекання. Якраз прийде віза.” У відповідь: „Як тільки отримаєте підтвердження — сідайте й летіть. А без підтвердження ніззя”.

    Знову на лаптопах перевіряємо пошту. Очікувана автоматизована відповідь приходить за пару хвилин — цілком в дусі чи то розвитого, чи то звичайного соціалізму: „Ми отримали вашу заявку на чотирьох-годинну візу, прийняли її до розгляду. Ви отримаєте відповідь електронною поштою на протязі двох днів.” (!!!)

    А в цей час інші в’єтнамці з в’єтнамками (дівчатами, не сандалями) вже причепили лейбочки на наш багаж і відправили по транспортеру на літак. Ну що ж, хоч валізи наші відпочинуть, і на тому дяка…

    Виявилося, що від нас хочуть підпису на офіційній бамазі, що вони за нас не відповідають, і ми можемо все-таки летіти. Наявність візи і підтвердження вже нікого не цікавить, як тільки відповідальність лежить на нас, а не на них. З цією відповідальністю на офіційній жовтій бамазі в кишені ми і вилітаємо.

    А в Хо Ши Міні в аеропорту прямо біля інформаційного вікна (ще перед паспортним контолем) кажемо якомусь місцевому дядькові: „Летимо на Пу Кок, візи нема”, — він: „Щас!”,— і через дві хвилини каже: „Ідіть туди (махає в бік паспортного контролю)”, де нам ставлять місячну візу і ми опиняємося на вулиці у В’єтнамі, у Хо Ши Міні з візами на місяць і ще маємо п’ять з гаком годин до посадки на місцевий літак до острова…
