---

layout: post
series: П'ять років після землетрусу Тохоку
title: "Наступні дні"
summary: Частина друга

description: |

  Всі наступні дні продовжувало трусити. Повторні поштовхи були по 5-6 разів кожного дня, на „дотик” десь 2-3 бали. Але народ вже настільки звик до цих поштовхів, що майже не реагував. Саме тоді я насобачився передбачати землетруси „на слух”. Низький звук землетрусу „на підході” був настільки знайомим — визначав практично безпомилково, що через 2-3 секунди штовхне.

intro:
  image: benzyn.jpg
  filters:
    - sepia-80
    - vignette-70

images:
  basepath: 2011/2011_zemletrus

tags:
  - earthquake
  - tsunami
  - tokyo

filters:
  - vignette-30

---

= chapter do
  markdown:

    # Наступні дні

    Особливо часто трусило перші годині після першого великого удару. Частота та сила поштовхів поступово зменшувалися в часі, але не надто швидко.  Можна оцінити наскільки довго це продовжувалося. Відшукав свого запису у фейсбуку від тридцятого березня: тільки тоді, через майже три тижні видалося аж (!) два дні підряд без жодного поштовху.

  = pull_right(photo("no_trus_3_30.png", caption: "Із фейсбуку тих днів", filters: ["vignette-60"]))do
    markdown:
      <pre>
      30 березень 2011 р.
      Два дні без землетрусу. Вперше починаючи з 11го березня не відчував жодного трусу вже два дні.
      ...
      Суттєве поліпшення :)


  markdown:

    На тлі безперервних поштовхів відбувалися і інші події. Майже всю Японію після землетрусу колошматило іншими, в основному логістичними проблемами. Зараз уже не пригадується (а записів не залишилося) з якого часу стали перебої з продуктами та бензином. Не відразу, не з першого дня, але через два-три дні вже проблеми почалися.

    Першою, здається, з магазинів зникла питна вода. Воно і зрозуміло. Дуже багато хто не вживає воду з кранів, а користується розфасованою водою. Через те, що власні склади при магазинах доволі невеличкі, вони в основному залежать від ритмічних поставок. При постраждалій інфраструктурі найбільш вживані продукти стають найпершою жертвою. Потім по інтернетах стали гуляти фотки порожніх полиць магазинів. Теж не згадаю, коли саме це почалося, але знаю коли закінчилося :) Відшукав свого поста на ФБ за п’ятнадцяте березня із свідченнями нормалізації.

    ## Магазини

  = pull_right photo "magazyny_3_15.png" do
    markdown:
      <pre>
      Dmytro Kovalov (Facebook, 15 березня): Ситуація: в магазинах знову все є. Всі ті полиці, що були порожні вчора, сьогодні заповнені тими ж товарами, що й перед цим.
      Я здуру назнімав порожні полиці вчора. Але [...] дякуючи власній технічній безтолковості, я не піддався загальному тренду – посіяння паніки про "всьо пропало в Японії".
      Електрички, які вчора не ходили, або ходили "слєхка", сьогодні ходили. ...

  markdown:

  = gallery %w{ shops/16160659654_a92d6e84b1_o.jpg shops/16160659774_e175568701_o.jpg  shops/16595397348_043a0a6d58_o.jpg shops/16595603830_ec2762cbfe_o.jpg  shops/16781884392_8ebf445279_o.jpg } do
    p Своя порція фотографій порожніх поличок є і у мене. На передостанньому фото: таблиця, які продукти є сьогодні в продажу, яких нема. На день зйомок вже є (позначені кружечком): рис, хліб, рамен, яйця. Ще нема молока, тофу і йогурту. Останнє фото: зате пива хоч залийся. Перші два фото: в відділі серветок і туалетного паперу. Прохання купувати по одній упаковці в руки. Чому такі проблеми з туалетним папером &mdash; не розумію, а спитати соромлюсь.

  = pull_left photo("kraiany_facebook.png", caption: %{До речі, саме в ті дні якраз і була створена фейсбуківська група „Краяни”  (про що я, чесно кажучи, забув, але знову ж таки знайшов свій пост). Тобто, вже в ті дні „Краяни” були засновані з антипропагандиською метою для боротьби з панічними настроями :) }), 6 do
    markdown:
      Вже повністю ситуація з магазинами нормалізувалася десь біля 19го числа (тобто через фактично тиждень з невеликим після землетрусу), про що в фейсбуку з’явився відповідний запис. Але, якби не було цих свідчень, я б нізащо у це не повірив. Згадуючи ті кілька днів порожніх магазинів, сьогодні здається, що це було надзвичайно довго.

      Більш розгорнуто про панічні настрої я напишу трохи далі.

  markdown:

    ## Бензин

    Дефіцит продуктів на наше життя ніяк не вплинув. Це було все дуже скороминуче і ми не встигли навіть помітити якісь суттєві зміни заповненості свого холодильника. Особливо, якщо врахувати, що в робочі дні обідали десь в столовках поблизу роботи.

  = pull_right photo("benzyn.jpg"), 4 do
    p Відсутність бензину теж суттєво не вплинула на життя, але була причиною деякої нервозності. Тікати нікуди не планували, але все одно хотілося мати машину заправленою. Так, на всякий випадом. А раптом?

    p Ну, але ж так трапилося, що на час коли безнин зник, в баку було менше половини. Ну куди ти сунешся з половиною баку? Як стати на хайвей, то не проїдеш і пари сотень км, а на хайвеях точно бензину не буде. Були кілька днів, коли електрички не дуже то і ходили, і доводилося працювати з дому (класно бути айтішніком! :). І в ті дні у мене з’явилося таке хобі: для розминки обходити близькі заправки. Пішки, звичайно. Бо ж не будеш їздити на останньому бензині. І всі вони були безуспішними. Доходило до смішного. За весь цей час тільки двічі бачив працюючі заправки: один раз на 246й дорозі стояла величеза черга з одних тільки вантажівок, підійшов спитати, виявилося, що є тільки дизель; а інший раз просто як знущання — на найближчій до хати заправки — заправлялися звичайні легковушки, переспитав, таки дійсно бензин. Поки я сходив додому і приїхав заправлятися вже безнину не було. Не з моїм щастям.

  markdown:
    По дорозі з роботи та на роботу доводилося доволі довгі маршрути долати пішки (в залежності від того, яка лінія працювала і яка не працювала на той час) і, відповідно, в моїй колекції з’явилися фото непрацюючих заправок.

    ## Газ

    Газ, наскільки мені відомо, ніде не зникав. Він був постійно там, де мав бути. Єдиною проблемою з газом були захисні системи на вході газу в квартиру. Кожна газифікована квартира має газовий лічильник, який також є і захисною системою на випадок землетрусу. При землетрусі цей захист спрацьовує і відключає квартиру від газової мережі або від балонів, а вмикнути систему назад буває непросто.

    Там в цих штуках треба натиснути і тримати одну кнопку, потім іншу, потім іще щось зробити. Зрозуміло, що людина непосвячена в таємниці газових систем не завжди може це зробити самостійно. Особливо слабо володіючі японською ґайджіни, якщо інструкція до цієї газової штуки не супроводжується картинками. Так воно і було в кількох місцях: лічильники відмикнулися, а вмикнути їх треба було чекати поки прийде газівщик.

    Оце і вся проблема з газом. Але про це теж трохи детальніше в розділі про паніку.

    ## Електрика

    Ну і з найбільш відомого: аварія на атомній станції у Фукушімі викликала проблеми з електрикою. Через кілька днів після аварії з’явилися перші повідомлення в новинах про можливі віялові відключення електроенергії. Багато які атомні станції почали вимикати просто заради безпеки, щоб нічого не сталося. І ситуація була доволі напруженою,

    Насправді, попередження про відключення звучали грізніше за самі відключення. Це в основному вплинуло на рух поїздів і трохи на вуличне освітлення та рекламу, але абсолютно не вплинуло на приватне житло, у нас вдома не було і секунди, коли б зникало світло.

    Ось що я писав у ті дні з цього приводу:

  = pull_right photo( "situation/situation_6.png") do

    pre Електрика.
      Є. І була.
      Незважаючи на всі приготування до порайонних відключень, на свої очі я ще вимкненого світла не бачив. Ні на роботі (центр Токіо), ні дома — під Токіо, преф. Канаґава.
      Десь вимикалося. По телевізору показували, що десь зовсім близько біля нашої хати стояла поліція на дорогах, бо світлофори не працювали. Поїзди теж ходять так собі — тут є, а там вже нема.
      Сьогодні радіо (InterFM 76.1) передавало: Тепко оголосило, що на суботу вимкнень не заплановано. На завтра (неділя) — ще не відомо.
      19 березень 2011 р. о 19:53


  = pull_left gallery(%w{shibuya.jpg  shibuya2.jpg shibuya3.jpg shibuya4.jpg}, caption: "Шібуя без реклами"), 6 do
    markdown:
      Місцями відсутність електрики, як пригадується, справляла доволі таки депресуючу дію. Особливо відсутнісь реклами в тих місцях, де ця реклама сприймається як трейдмарк, як візитна картка. Пам’ятаю свої перші відчуття, коли побачив абсолютно чорні величезні екрани на центральному перехресті Шібуї, на тому місці, яке завжди вирує скаженим натовпом люду і переблимується вогнями десятків гігантських екранів. В цей день Шібуя зустріла мене темною, мовчазною і малолюдною. Можете повірити це враження — гнітюче. Не дуже я люблю те шібуївське перехрестя в стані постійного сказу від натовпів туристів і галасу реклам, але побачити Шібую в такому вигляді як вона була в березні 2011-го зовсім не хочеться.

  = pull_left photo(%w{macdonalds.jpg}), 6  do
    markdown:
      Ну, і крім того, без електрики, звичайно ж не працювала ціла купа того, що від електрики залежало. Не кажучи вже про вимкнену половину освітлення в магазинах і поїздах (в елекричках, видно, не передбачено часткове вимикання освітлення, тому електрички їздили з викрученими через одну люмінесцентними трубками) — не працювала більшість ескалаторів, деякі магазини та ресторани. І (о!) мені довелося навіть побачити непрацюючий двадцяти-чотирьох годинний Макдональдс — дуже показово біля входу в Мак стоять червоні дорожні фішки, перекриваючи вхід на непрацюючий ескалатор, який веде у відповідно теж непрацюючий універмаг.

  = pull_left gallery(%w{escalator_3_30.png escalator.jpg}, caption: %{Фейсбуківський пост, звичайно ж, не зовсім серйозний, але в кожному жарті є частка … На другому фото, в деяких місцях ескалатори запускали тільки на підйом.}), 6  do
    markdown:
      З фейсбуку того часу: "Хочеться покататися на есклаторі... "

      Проблеми з електрикою продовжувалися значно довше. Особливо такі не дуже критичні штуки, як ескалатори з першого на другий поверх в магазині, чи не дуже високі ескалатори на станціях. Тьм’яніше освітлення теж затрималося довже (вже не пригадується скільки). Але ось іще 30 березня судячи за фейсбуком ще ескалатори не працювали.


  markdown:

    ### Транспорт, особливо електрички

    Наслідки землетрусу привчили на деякий час до здорового стилю життя. На роботу і з роботи треба було долати деякі частини шляху пішки.

  = pull_right photo("oimachi.jpg", filters: [], caption: %{<p>З фейсбуківського посту: Кількість поїздів на лінії Кейхінтохоку сьогодні зменшено вдвічі. Черга, щоб попасти в станцію Оймачі. 14 березня. }), 6 do
    markdown:
      В залежності від того, які саме лінії електрички чи метро працювали на даний час, змінювався маршрут. Часто було так, що я їхав, скажімо до станції Оймачі, бо Оймачі-сен зранку працювала, а потім ішов до роботи залишок шляху пішки. Повертався з роботи іншим шляхом, Оймачі-сен не ходила, доводилося їхати іншими лініями, і потім вже тупцяти до хати від іншої станції. Звірився по Google Maps, і він мені каже, що в ті дні, я ходив пішки по приблизно по 5-7 кілометрів зранку і стільки ж звечора. Звідси і фото післяземлетрусного Токіо.

  = pull_right photo("novyny.jpg", filters: [], caption: %{<p>Пересувні станції супутникового зв'язку для розшуку потерпілих. Станція біля ст. Мізонокучі.}), 6 do
    p В багатьох місцях тоді працювали такі пересувні станції супутникового зв'язку. Кожен бажаючий міг підійти і або передати щось про себе, або запитати про своїх рідних. По телеканалах вживу йшли ці репортажі. Взагалі, щодо телеканалів: вся реклама, крім деякої соціальної була в ті дні відсутня. Дуже довго, мабуть що кілька місяців.

  markdown:
    # Радіація

  = pull_right photo("radiation_yokohama_kyiv.png", layout: :portrait, filters: []) do
    markdown:

      Ну, і зовсім особлива тема — радіація. Жодні негаразди — з продуктами, водою, транспортом — не викликали стільки некомпетентного ажіотажу, як радіація. Жодні публікації ЗМІ з будь-якого іншого приводу не були такими популістсько-панічними, як публікації з приводу радіації, позбавлені будь-якого сенсу, науково-подібності і взагалі глузду.

      Перш за все: весь абсолютно час, поки продовжувалася істерія, були доступні *незалежні* дані. Як виявилося, по всій Японії мається купа абсолютно офіційних і абсолютно неурядових лічильників Гейгера, та інших приспособ для вимірювання радіації, радіоактивного тла та зараження продуктів. Величезна кількість цих приладів пов’язана з агробізнесом, де цей контроль здійснювався на протязі років, якщо не десятиліть. З усім цим доступом до інтернету не було *жодної* проблеми отримати незалежні вимірювання і оцінити наскільки критична ситуація. Перші (можливо один чи два) дні і була пауза, поки налагодилась публікація цих незалежних даних в мережі, але вже починаючи з другого тижня після аварії було просто смішно читати всі ці істерики.

  markdown:
    Найперший і найголовніший вереск ЗМІ, в основному неяпонських (українських, на превеликий жаль, теж), був саме про відсутність незалежних даних і про те, що уряд щось там приховує. Так от: у японського уряду просто не було можливості щось приховувати через саме ту величезну кількість незалежних даних, яка не давала того робити. А порівнявши офіційні урядові дані і дані незалежні елементарно зробити висновок, що ні Тепко (Tepco — Tokyo Eleactirc Power Company — компанія, яка оперує атомною станцією в Фукушімі), ні уряд жодних даних не ховали і не спотворювали.

    В Токіо був сплеск рівня радіації 15 березня, який продовжувався менше дня. Також в один із днів було незначне підвищення рівня радіоактивного ізотопу йоду у воді в одному з районів Токіо, теж на протязі пів-дня чи дня. Для того, щоб оцінити наскільки це було незначне підвищення: рівень радіоактивності йоду визнається шкідливим тільки для немовлят, і то тільки в тому випадку, якщо немовлята піддаються опроміненню йодом на протязі багатьох місяців (вже деталі не пригадуються, бажаючі можуть самі їх відшукати). Повторюю — шкоду приносить тільки багатомісячне опромінення, а в воді Токіо цей рівень був досягнутий і перевищений тільки на протязі одного дня.

    Ну, і щоб завершити цю тему, про тих, які вирішили поїхати самі чи відправити своїх дітей в Україну літаком, щоб втекти від радіації. В результаті перельоту всі вони отримали дозу радіації більшу, ніж вони б отримали, залишаючися в Токіо. Така сувора правда життя.

    Ну, і цей, останній, розділ плавно переводить нас до наступної теми: паніка і істерика. Про це буде далі. Це особлива тема, яка заслуговує на свого окремого розділу. А тут кілька Фейсбуківських постів з цього приводу.

  = gallery %w{situation/situation_1.png situation/situation_2.png situation/situation_3.png situation/situation_4.png situation/situation_5.png situation/situation_6.png situation/situation_7.png}
