---
layout: post

title: |
  Окутама: Мітаке і Хіноде-яма
description: |
  Минулих вихідних, у неділю вибралися в коротенький одноденний похід в гори. По цьому маршруту, чи маршрутами навкого цього ж місця ми вже ходили неодноразо, але ще ні разу не записувалося.


intro:
  image: hinode.jpg
  filters:
    - vignette-90
    - sepia-20
    - text-shadow-2

images:
  basepath: 2016/2016_07_01_mitake_tsurutsuru_onsen

tags:
  - Tokyo
  - Okutama
  - hiking
  - mountains
---

= chapter do
  markdown:
  = pull_right google_map("https://www.google.com/maps/d/embed?mid=1m7ABIhRVe2wRCCmHRNlUThDqNtc"),6 do

    p Отже, коротко, маршрут вийшов таким:  залізнична станція Мітаке (лінія Ооме) - канатна дорога Мітаке або фунікулер  (~3км); підйом фунікулером;  далі через храм Мітаке-джінджя, до вершини Хіноде-сан (висота 902 м., довжина ~2,9 км), спуск до Цуру-цуру-онсен (~3,3км).
    p Після онсену і обіду — автобусом до станції Мусаші-ітцукаічі.

    p По часу: вийшли від ст. Мітака трохи по дев’ятій, в онсені були біля пів-на-третю пообіді (враховуючи невеликий відпочинок і перекус на вершині Хіноде-сан).

  markdown:

    Спочатку похід планувався трохи інший — організація походу велася в групі школи „Джерельце” і тому початково розраховували на доступний і для молодших дітей по складності, але потім по ходу перепланували. Перший план був таким: пішки до фунікулера, далі піднімаємося на Мітаке-сан (929 м.) і спуск вниз. Хоча Мітаке-сан трохи вища за Хіноде, але маршрут коротший і простіший.

    Весь маршрут проходить в горах Національного парку Чічібу-Тама. Весь парк лежить на перетині чотирьох японських префектур: Токіо, Сайтама, Яманаші і Наґано, але хоч він і містить в своїй назву Чічібу, весь маршрут проходить в межах району Окутама в межах „Великого Токіо”. Сама ж Чічібу — це мальовнича місцевість в сусідній з Токіо префектурі Сайтама, трохи на північ від тих місць, де ми ходили. Отже, можна чесно сказати, що весь гірський маршрут проходить в столиці Японії Токіо :)

    Від станції Мітаке ми (вдвох — Наталя і я) вирушили трохи по дев’ятій, коли стало зрозуміло, що на домовлений час більше ніхто не під’їде. Початок маршруту проходить по звичайній асфальтованій дорозі, аж до самого посадочного майданчика фунікулера, але рух по цій дорозі зовсім не щільний, машини (в основному рейсові автобуси) проходять раз на кілька (або й кілька десятків) хвилин.

    Звідси ж від залізничної станції відходить рейсовий автобус до підніжжя канатної дороги. Тут біля посаднки на фунікулер нас автобусом наздогнали інші учасники походу і на фунікулері ми вже піднімалися двома сім’ями — вшістьох.

  = photo %w{ IMG_0732.jpg IMG_0733.jpg IMG_0737.jpg IMG_0738.jpg}, layout: :portrait
  markdown:
    Канатку за бажання можна і обминути. Пару минулих разів ми так і робили. Це — плюс кілька кілометрів піша в гору, або пару-три десятки додаткових хвилин на ногах.

    Піднявшися фунікулером попадаєш прямо в центр містечка Мітаке, за пару сотень метрів звідси — справжня типово-японська туристично-торгівельна вуличка з ресторанчиками гречаної вермішелі „со́би” і лавками з яскравим кольоровим непотрібом. Влітку — традиційні нанизані на дерев’яних шампурах смажені на вугіллі риби „а́ю” — „шіо́-я́кі” (яп.: засмажені в солі), і стандартні для всіх туристичних місць „да́нґо” — кульки з рисового тіста. Незмінні три „данґо”-кульки на кожному шампурі кілька років тому були натхненням для всього поголів’я японської молодшої публіки у віці перших трьох класів школи — як лавина набула популярності пісенька [„Данґо-сан-кьо́одай”](https://www.youtube.com/watch?v=gMJ1B9ThxSQ) — „Три брати Данґо”.

  = gallery %w{IMG_0740.jpg IMG_0736.jpg  IMG_0739.jpg IMG_0761.jpg IMG_0771.jpg}

  markdown:

    Торгівельна вуличка веде до шінто-храму Мітаке-джі́нджя. Храм трохи особливий, але чому ми так і не дізналися. Особливість храму — в його „собачості”. Як правило, японці вкрай негативно відносяться до собак в храмах і на цвинтарях. Кішки почувають себе дуже привільно як там, так і там. Але собакам до шінтоїстських і будиських храмів — зась.

    Але в Мітаке-джінджя все навпаки. Храм Мітаке — справжній рай для гавкучих. Ледь не кожен японець чи тим паче японка тупцяють сходами до храму з болонками та чівавами різних розмірів, кольорів, з бантиками, в кофточках чи без. На руках, в сумочках і інколи на повідках. Цілими сімействами — сімейство японців в супроводі собачого сімейства. При вході в храм, там де традиційно японці миють руки з ковшиків на довгих держаках, трохи нижче на рівні коліна стоїть менше корито з кількома черпачками іншого розміру і надписом що це для „петто” (ペット, яп. „домашня тварина”, від англійського „pet”). Крім того, по узбіччях сходів то тут то там — статуї собак, яких теж немає в інших храмах. Статуї котів, лисиць, єнотів (танукі), мавп — скільки хочеш, а от собак нема.

  = photo %w{IMG_0757.jpg IMG_0764.jpg IMG_0767.jpg}, layout: :portrait

  markdown:
    Далі від храму ми спускаємося до села і його вуличками виходимо далі вже на гірські стежки. Але перед тим проходимо кількома невеличкими місцевими пам’ятками. Назва „Баба-резіденс” — пам’ятка 1866-го року — на туристичній місцевій мапі мені особливо сподобалася. Але на перевірку виявилося, що це жилий будинок, в не дуже приглядному стані — солом’яна стріха дуже мальовничо поросла травою і деревцями, і дуже немальовничо затягнута місцями синьою будівельною клейонкою — і до того ж з табличкою на вході „Не заходити”.

  = photo %w{IMG_0772.jpg IMG_0773.jpg IMG_0778.jpg IMG_0779.jpg}, layout: :portrait
  markdown:

    По дорозі ще натрапляємо на якісь дворики з імпровізованими експозиціями різноманітного антикварного реманенту: від дерев’яних коліс і дерев’яних борон до перших японських суперкомп’ютерів (або по нашому „рахівниць”) і плетених кошиків.

= divider "hinode.jpg" do

  = chapter do

  markdown:


    Гора Хіноде-сан — „Гора сходу сонця” — названа так не дарма. Вершина гори повністю лиса і плоска, і на всі боки відкриваються чудові краєвиди навколишніх гірських масивів і, напевне, звідси ж відкривається краєвид на схід сонця, але щодо цього я можу тільки здогадуватися, оскільки тут ми ще ні разу не ночували. Хоча при бажанні можна знайти місце для намета.

= chapter do

  = gallery %w{IMG_0748.jpg IMG_0790.jpg IMG_0783.jpg IMG_0752.jpg IMG_0756.jpg  IMG_0787.jpg  IMG_0797.jpg Collage_Fotor.jpg hinode.jpg }, layout: :portrait

  markdown:
    Похід наш закінчився в онсені. Онсен зветься Цуру-цуру-онсен (つるつる温泉）. В японській звуки „цуру-цуру” означають щось типу „гладенький”, „чистенький” і походять від звуконаслідування звуку при поглажуванні чи торкання до чогось чистенького, тільки що вимитого. Як поскрипування від поскрипування пальця на щойно вимитій тарілці. Щонайменше, таке значення мені запало після сотень-тисяч продивлених реклам сто-п’ятццот типів миючих засобів.

  = pull_right(photo(%w{IMG_0798.jpg}, caption: "Декого в кінці походу таки зморило", layout: :portrait, filters: [] ))
    markdown:
      Онсен із справжньою онсенною водою з розряду новіших осенних комплексів, тобто без ніякої особливої екзотики, але зате з усіма видами „банних” зручностей включаючи ротембуро (ванна на відкритому просторі, на вулиці), сауною, холодною ванною і гарячою внутрішньою ванною. Ну, і звичайно з ресторанами і куточками для відпочинку. Звідси відходить автобус до станції Мусаші-Ітцукаічі (武蔵五日市駅) — станція на іншій гілці того ж самого Оме напрямку, обидві гілки з’єднуються по дорозі за Тачікаву.


= divider "IMG_0800.jpg" do
  markdown:
    ## Весь маршрут загалом

    Пішки біля 10 км, якщо підніматися на фунікулері, плюс іще пару км, якщо пішки. Не дуже поспішаючи з перекусом — біля 5 з половиною годин.

    ## Проїзд

    Від станції Шінджюку або станції Токіо — лінія Чюо (中央線) до станції Тачікава (立川駅), далі лінією Оме (青梅線) до станції Оме (青梅駅) і там ще одна пересадка до станції Мітаке (御嶽駅). Від станції Оме — одноколійка, з чудовими краєвидами. Навіть просто проїхатися цією лінією задоволення.

    ## Вартості

    Підйом на фунікулері — 590 йєн з дорослого.
    Онсен — 820 йєн за три години.


    ## Деякі англомовні джерела.


    * [Mitakesan (Mount Mitake)](http://www.japan-guide.com/e/e3036.html)
    * [Mount Mitake & Mount Odake Day Hike](http://en.japantravel.com/tokyo/mt-mitake-mt-odake-day-hike/1509)
