---

layout: post
/ series: Балі

title: Дядя Коля
subtitle: "Село Подище."

description: |
  Минулого — вже :( — літа ми на один день машиною проїхалися селами Чернігівщини, звідки походить моя рідня по материній лінії, і де я провів більшу частину свого дошкільного життя.

intro:
  image: IMG_4613.jpg
  filters:
    - vignette-80
    - sepia
    - text-shadow-2

images:
  basepath: 2017/2017-10-17-dyadya_kolya

tags:
  - Ukraine

---

= chapter do
  markdown:

    В цих місцях я вже не був десятки років. Виріс я у селі &mdash; точніше СМТ &mdash; Ладан, #{Q "на стадіоні"} &mdash; як зветься наш куток села, &mdash; у діда з бабою, але мої прадід і прабаба жили у сусідньому (значно меншому) селі Подище. Під час цієї подорожі там же, у Подищах, віднайшли ще рідню, про яку я й гадки не мав — тобто знав, що десь-там-хтось живе, але оце і всі знання.

    А знайомство і зустріч вийшли просто на диво.

    # Дядя Коля та його комахи

    Своїх бджіл дядя Коля любовно зве #{q "комахами"}: #{Q "Ідіть, я вам своїх комах покажу..."}, &mdash; і розповідати про них може годинами.

    &nbsp;

  = youtube "QZiARJtpD8M"

  markdown:

    # Ладан.  #{Q "На стадіоні"}


  = gallery %w{IMG_4540.jpg IMG_4541.jpg  IMG_4509.jpg IMG_4511.jpg IMG_4523.jpg IMG_4516.jpg IMG_4519.jpg IMG_4524.jpg IMG_4527.jpg IMG_4532.jpg IMG_4535.jpg IMG_4506.jpg}
