---

layout: post

title: Балі,  Нуса́ Дуа́


description: |
    Нуса́ Дуа́ — це резервація. Деякі туристичні путівники кажуть, що це — найкращий пляжний курорт Балі, але це неправда, а правда така: це — сама найсправжніша резервація для іноземних туристів. Вздовж берега моря виділена ділянка землі пару кілометрів завширшки і з десяток-два поздовж і на ньому побудований ідеальний пляжний курорт.


# intro:
#   image: oboke/IMG_6550.JPG
#   video: oboke/koinobori
#   filters:
#     - vignette-90
#     - sepia-20
#     - text-shadow

intro:
  image: IMG_0291.jpg
  filters:
    - vignette-90
    - sepia-50
    - text-shadow-2

images:
  basepath: 2016/bali

tags:
  - Bali
  - Nusa-dua
  - Indonesia
---


= divider "IMG_0291.jpg", filters: %w{vignette-60 text-shadow-2} do
  markdown:
    # Нуса Дуа

    Нуса́ Дуа́ — це резервація. Деякі туристичні путівники кажуть, що це — найкращий пляжний курорт Балі, але це неправда, а правда така: це — сама найсправжніша резервація для іноземних туристів.

= chapter do
  markdown:

    Широкі паркові вулиці, бульвари, грандіозні пальми посеред вистрижених газонів. Величезні площі - транспортні розв’язки з статуями-пам’ятниками-колонадами в центрі. Всі в’їзди-виїзди до раю охороняються поліцією з рамками-металошукачами. Весь справжній світ залишився десь там, за металошукачами. Від справжнього світу Балі в Нуса Дуа залишилося тільки нескінчене „Містер, таксі? Мейбі тумороу?”, але і таксистів тут не стільки, як по всьому іншому Балі. Вони теж відфільтровані і дозовані.

  = gallery %w{IMG_0270.jpg IMG_0274.jpg IMG_0452.jpg IMG_0464.jpg  IMG_0275.jpg IMG_0280.jpg IMG_0284.jpg IMG_0287.jpg } do
    p Резервація Нуса Дуа

  markdown:

    Якщо ви плануєте зупинитися на Нуса Дуа, варто звернути увагу на фразу з путівників: „Нуса Дуа — найпопулярніше місце для водних видів спорту на Балі”. Цією фразою багато чого пояснюється.

    Якщо ваша уява про морський відпочинок, це — шезлонг під пальмою, на білому пісочку, з запітнілою склянкою чогось холодного в руці, з долькою лимончика. Тоді, це — Нуса Дуа. Але якщо до цього ідеалу ви ще захочете додати прохолодне (чи тепле, але не дуже гаряче) тропічне море, де можна одягнувши маску, плюхнутися з берега і милуватися мальовничими різнобарвними рибками-крабчиками-коралами, або хоча б без маски пропливтися туди-сюди, то ні. Це — не Нуса Дуа.

    Більшість берега в Нуса Дуа помережана штучними мисами, які утворюють невеликі затоки розміром пару сотень метрів. Купання в затоках приблизно таке: заходиш в воду по кісточки і бредеш по ній вглиб пару десятків або п’ятдесят метрів до глибини (вище кісточки, але все ще не до коліна), де можна в воду хоча б присісти. Трохи охолодивши на цій глибині занурені частини тіла, рачки просуваєшся вглиб. Дно суцільно вкрито водоростями-травою і коли вода вже починає підступати до пупа, натрапляєш на ряд буйків. За буйками — зась. Там вже царство всіх тих вищезгаданих морських видів спорту: моторні човни, параглайдери, бананові надувалки на прив’язі за моторками, водні мотоцикли і все, що завгодно (крім купальщиків). Плавати в тій зоні безмоторному мені якось не дуже світило.


    Ну і щодо тропічних рибок, тут теж не дуже розженешся. Кораловий риф в Нуса Дуа простягається десь за кілометр-півтора від берега: з пляжу видно, як десь там, вдалині розбиваються величезні хвилі прибою, а з цього боку рифу хвиль майже нема і аж до самого рифу продовжується та ж сама мілизна у „метр з кєпкой”. Тропічної живності з цього боку коралового рифу дуже мало, коралів теж катма, хіба що невеличкі шматочки, друзки відмерлих коралів, що перетворюються на пісок. Зате пляжі Нуса Дуа чудові для малечі — мілизна і невеличкі хвильки, великого прибою за час нашого перебування не було зовсім.

  = gallery %w{IMG_0358.jpg IMG_0359.jpg IMG_0360.jpg IMG_0361.jpg IMG_0365.jpg IMG_0369.jpg IMG_0378.jpg IMG_0379.jpg IMG_0382.jpg IMG_0383.jpg IMG_0390.jpg IMG_0391.jpg IMG_0414.jpg IMG_0415.jpg IMG_0416.jpg IMG_0417.jpg IMG_0418.jpg IMG_0419.jpg IMG_0424.jpg IMG_0426.jpg IMG_0432.jpg IMG_0437.jpg IMG_0439.jpg IMG_0440.jpg IMG_0441.jpg IMG_0442.jpg IMG_0444.jpg IMG_0446.jpg IMG_0447.jpg IMG_0449.jpg IMG_0456.jpg} do

    p Для того, щоб побачити справжнє життя, потрібно вибратися поза межі резервації, навіть пішки пройтися навколо.

  = youtube "gEckmX7e7vk"

  p Навколо Нуса-Дуа для підводного спорту місць немає. Тому треба замовляти тур або на якийсь з менших островів (наприклад Нуса Лембонґан), або в інші місця Балі.

= divider "" do
  markdown:
    ## Бізнес чи туризм

    Про таксистів і про „містер-таксі” йшлося трохи вище. А друге (чи може й перше? найсильніше?) враження від Балі, це те „як вони всі задовбали!”. Стосується надзвичайно набридливого бізнесу практично в усіх місцях і усіх ситуаціях, у яких нам довелося побувати. Причому, дуже нав’язливий бізнес спокійно може уживатися з зовсім ненав’язливим сервісом, і багатьох місцевих це, здається, зовсім не турбує.

= chapter do
  markdown:

    Ледь не кожне запитання задане персоналу у готелі, чи таксисту по дорозі виливається у зворотню „бізнес-пропозицію”.

    Наприклад, при тому, що Балі і вся Індонезія ледь не найбільший у світі експортер фруктів і овочів, ресторани в готелях (навіть в супер-пупер Нуса-Дуа) не дуже „нав’язливі” з асортиментами ні того, ні іншого — „ненав’язливий сервіс” — і потім ти так підходиш десь на реєстрації в готелі і: „Слухайте, а де у вас тут недалечко, можна вийти в місто на базар і купити якоїсь екзотики із місцевого”. Гарантована відповідь: „Слухай! Я тобі скажу! Давай завтра зранку приїде мій (брат, сват, кум, дядько). Він точно знає, де знайти фрукти. Таких фруктів, як із ним, ви більше ніде не знайдете. Тільки (50, 150, 200, 300) тисяч за (2,3,5) годин. І ще крім фруктів ви побачите… ААА, БББ, ВВВ. І всього за … тисяч”.

    Або ти питаєш, де краще місця для підводного спорту (дайвінгу), а у відповідь: „Слухай! Я тобі…” (повтор попередньої розмови). Замовляти таксі в готелі — та ж сама ситуація, плюс значно дорожче, ніж вийти за ворота готелі, підморгнути одному з мужиків „містер-таксі” і домовитися. Але все одно, або там, або там доведеться вислухати схожу рекламну паузу про щось подібне.

    Неперервне бажання і демонстрація зідрати бабки з лохів, розкрутити на бабло „багатєньких Буратінок” — серйозно і дуже серйозно напрягає, діє на нерви і дратує вже через день-два.

    Ненав'язливість сервісу проявляється також і в повсюдному смітті. Бруд жахливий і всюдисутній. Сморід і дим від паленого сміття і пластику переслідує вас на протязі всього перебування на Балі — в центрі Убуда, зразу ж поза межами резервації Нуса-Дуа, в храмах і навколо храмів, вздовж доріг і на пляжах. Будівельне сміття, пісок і бита цегла на дорогах і тротуарах, залишки від жертвоприношень перед входами в магазини, ресторани і на пляжах. Жертвоприношення богам &mdash; корзиночки з пальмового листя наповенені квіточками виглядають красиво перші дві-три години. Потім вони в'януть, засихають, але чомусь ніколи не прибираються. І так цілі нужденні покоління колишніх квітів спочивають сердешними жертвами релігій...
