---

layout: post
series: Балі

title: Балі, Убуд
subtitle: "Подорож 2016 року"

description: |
      Знайомство з місцевими звичаями для нас почалося з аеропорту. В нас був замовлений готель в Убу́ді, а до нього треба якось доїхати.
      <p>Транспорту, як такого, в нашому розумінні цього слова, на Балі не існує. В мережі, правда, зустрічалися згадки про автобуси, але я не пригадую жодного автобуса на дорогах Балі за час нашого там перебування. Хоча, може, вони десь і є (просто поховалися).


# intro:
#   image: oboke/IMG_6550.JPG
#   video: oboke/koinobori
#   filters:
#     - vignette-90
#     - sepia-20
#     - text-shadow

intro:
  image: IMG_0501.jpg
  filters:
    - vignette-90
    - sepia-50
    - text-shadow-2

images:
  basepath: 2016/bali

tags:
  - Bali
  - Indonesia

# https://vimeo.com/206540173/fd5157b4c0
# <iframe src="https://player.vimeo.com/video/206540173" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
#<p><a href="https://vimeo.com/206540173">балійський_таксист_BG</a> from <a href="https://vimeo.com/user59521372">Dmytro Kovalov</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
---

= chapter do
  markdown:

    # Транспорт


    Фактично, тут є два способи пересування: на моцику чи на таксі. Невеличкого моторолера — мопеда-моцика — можна взяти напрокат, [як пишуть](https://www.facebook.com/dvokolisni/posts/603134793179241), за приблизно 50 доларів на місяць, але цей вид пересування нам недоступний через те, що на мотоциклах ми не їздимо (може і їздимо, звичайно, але поки-що не пробували). Тож, залишається таксі. Є ще, звичайно, піший і велосипедний спосіб. Але великом тут не дуже наїздишся, місцевість доволі гориста — тільки, хіба-що на невеликі відстані.

    Зі знайомства з таксистами і почалось наше знайомство з Балі.

= divider "IMG_0409.jpg", filters: %w{vignette-60 sepia-50 text-shadow-2} do
  markdown:
    # Гроші і вартості

    Виїджаючи на Балі, варто трохи поцікавитися вартостями на момент візиту, щоб трохи в них орієнтуватися. Особливо це стосується транспорту. Нам повезло, бо друзі, побувавши на Балі незадовго до нас, підказали, де і на скільки можна погоджуватися.

    Принагідно: взяти тур на цілий день — в нашому випадку з десятої ранку до десь одинадцятої вечора — виявилося можливим за ~70 доларів. А від Нуса Дуа до аеропорту можна зторгуватися за ~80 тисяч рупій, але будьте готові до дуже незадоволеного таксиста, втрата тисяч рупій буде намальована на його сердитій мармизі всю дорогу.

= chapter do
  markdown:


    Інша проблема з індонезійськими грошима: неймовірна кількість нулів. Наприклад, на сьогодні (коли я це пишу) курс індонезійських рупій такий: за 1000 рупій дають 0.075 долара (7 центів) або 1,9 гривні. Через нулі постійно виникають  недорозуміння з тисячами, сотнями тисяч чи мільйонами. І від цього фейерверку голова йде колом. Практично будь-що починає оцінюватися з кількох сотень тисяч. Обід в ресторані може коштувати як 40-50 тисяч, так і півтора-два мільйони. З таксистами розмови ведуться або в доларах, або в сотнях тисяч.  Тому, коли в одному магазині, почувши, що за поліетиленовий кульок треба заплатити двісті рупій, ми автоматично переклали це в двісті тисяч і, подумки сказавши „танунафік, мишодурні?”, -- вже повернулися йти, коли нас зупинили такі ж, як ми іноземці криками: „Не двісті тисяч, а двісті!”


= divider "IMG_9936.jpg", filters: %w{vignette-60 text-shadow-2 sepia-30} do
  markdown:
    # Таксисти
    При самому виході з митниць в аеропорту стоїть такий собі, дуже офіційно виглядаючий кіоск, заповнений може півтора десятками клерків у формі, з надрукованими на солідно виглядаючих дошках-постерах вартостями таксі до різних куточків Балі.

    Але ми вже знали, що від аеропорту до Убуда дорога варта 200+ тисяч рупій. „Убуд — 700 тисяч”, — читаємо на стенді і проходимо майже не зупиняючись.

= chapter do
  markdown:


    Після цього місця вас починають обсідати з усіх боків перевізники різних мастей і ступенів нахабства. Чим далі пересуваєшся від „офіційного” таксулькіного-бюра, тим нижче вартості. 600, 500, 400, 300… 300 раз, 300-два... 250, 250-раз… 230! 230, бінґо!!! Якби ми ще прокрокували з нашими валізами метрів з п’ятдесят, можливо ми б і до 150 намарширували.

    Взагалі, золоте правило торгування як на Балі, так і в інших подібних місцях: не знаєш справжньої вартості --  починай торгуватися з третини чи чверті від вартості, запрошеної продавцем. А якщо знаєш справжню вартість — торгуйся від третини чи чверті, від того, що знаєш. Все-одно в результаті переплатиш.

    Вже потім, після від’їзду з Балі, в пам’яті залишається стійке враження: все чоловіче населення Балі складається з таксистів. Скрізь (скрізь!) — на узбіччях, на траві, на бровках — сотні мужиків, половина із них -- з табличками „TAXI” у руках. Але навіть при відсутності таблички, безперервне „Містер (маам), таксі?” не залишає сумніву з ким ти спілкуєшся. Спочатку, перший день-півтора, ти дифілюєш вулицями весь такий із себе доброзичливий і усміхнений (до всіх таксистів світу без винятку): „No thank you”, „No thank you”, „No thank you”, „No thank you”… Поступово-поступово-поступово на другий-третій день доброзичливо-усміхнене „no-thank-you”  перетворюється спочатку на не дуже усміхнену мовчазну проходочку через шеренги „містертаксі”-в, а потім і остаточно перетворється на „морда-кірпічьом“. Це щоб нікого нікуди не посилати після кожного „містер-таксі”.


= divider "IMG_9905.jpg", filters: %w{vignette-60 text-shadow-2 sepia-30} do
  markdown:
    # Убуд
  = pull_right google_map("https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d162589.2507182423!2d115.19853022697869!3d-8.579421621873223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd23d0d964ec3b7%3A0x4030bfbca7d2d30!2zVWJ1ZCwgR2lhbnlhciwg0JHQsNC70ZYsINCG0L3QtNC-0L3QtdC30ZbRjw!5e0!3m2!1suk!2sus!4v1488418952029"), 6

= chapter do
  markdown:
    Убу́д розташований трохи вище в горах і глибше в джунглях. Він являє собою невеличке місто, загальновизнане як місцевими, так і відвідувачами, за культурний та мистецький центр Балі.

  = pull_right( google_map("https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3945.9244481990722!2d115.26043291477978!3d-8.506716888476218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd23d6af37eb24b%3A0x4bcdf69a281c3f32!2sUbud+Palace!5e0!3m2!1suk!2sus!4v1488419012579")) do
    markdown:
      Тут же знаходиться королівський палац, в який заходити стороннім, звичайно ж, зась. Але можна відвідати кілька невеликих зовнішніх двірців з численими храмами і табличками на всіляких постаментах і сходах „Сюди не залазити” або „Тут не фотографуватися”, мовою, яка мала би бути зрозумілою (як здавалося) всім туристам — англійською. І аж ніяк не зрозумілою — судячи з кількох спостережених скандалів — ні росіянам. ні китайцям. Тим чомусь постійно хочеться залізти і сфоткатися саме там, де ніззя. „Восток дєло тонкоє”, — нікуди не дінешся.
  = gallery %w{IMG_9901.jpg IMG_9902.jpg IMG_9903.jpg IMG_9904.jpg} do
    p Королівський палац Убуда

  markdown:
    В Убуді страшенна сила галерей, таксистів і мавп. Галереї і таксисти розсипані щедрою рукою по всьому місту, але до мавп треба зайти в парк, який прозаїчно і буденно зветься „Ліс мавп” (Monkey Forest), і який легко знаходиться на мапі, бо до нього веде вулиця (теж населена таксистами і галереями) з такою ж невибагливою назвою „Вулиця Мавп’ячого лісу” (Monkey Forest st.).

  = gallery %w{IMG_9923.jpg IMG_9924.jpg IMG_9927.jpg IMG_9928.jpg IMG_9929.jpg IMG_9933.jpg IMG_9945.jpg IMG_9949.jpg IMG_9952.jpg} do
    p Художні галереї в центрі Убуда. Більшість галерей знаходяться навколо центрального базару і королівського палацу.

= divider "IMG_9920.jpg", filters: %w{vignette-50 text-shadow-2 sepia-40} do

  p Ще в Убуді є величезний базар. Мабуть самий безтолковий базар у світі.

  p Якісь неймовірні лабіринти вузесеньких проходів поміж стелажами з абсолютним непотрібом; перемішані в одну купу стелажі з шмотками, сувенірами і хтозна чим, на кількох поверхах-рівнях, на рівні вулиці, на кількох поверхах вгору і ніби-то в підвалі-напівпідвалі. Хоче може це і не так, а просто мені так здалося.

  p Серед сувенірів чомусь найпопулярніший — це пивні відкривачки у формі пеніса і брелки для ключів такої ж форми. Неймовірної кількості розмірів — від пари-сантиметрових, до півметрових — і так само у неймовірній кількості екземплярів.

= chapter
  p На базар ми зовсім не збиралися заходити. Але зайшли „глянути”. І виявилося, що нам треба купити якийсь найпростіший пояс до жіночих джинсів. Спитали про ремінь, де його купити. На весь базар такої банальної речі чомусь не виявилося. Зате нас водили туди-сюди, як русскіє цигани водять мішку по ярмарку, і пропонували замість ременя купити те, що в них на той момент було: хустки, майки, джинси, сукні, статуетки, капелюхи або картини.  В результаті, купивши величезного мисливського ножа (не питайте „навіщо” — не знаю), ми з базару втекли.

  = gallery %w{IMG_9908.jpg IMG_9909.jpg IMG_9911.jpg  IMG_9913.jpg IMG_9914.jpg IMG_9915.jpg IMG_9918.jpg IMG_9912.jpg IMG_9921.jpg } do
    p Базар в центрі Убуда

  markdown:

= divider "IMG_9961.JPG", vimeo_bg: "206971997" , filters: %w{chapter-divider-light text-white-outline} do

    p І відправилися до мавп у гості в їхній мавп’ячий парк. Кожен знає, що споглядати мавп — неабияке задоволення. Але перед відвідинами мавп’ячого парку вас попереджають (і пишуть на числених плакатах): все звисаюче, блискуче і загалом привабливе (як, наприклад, окуляри, відео і фото камери на шнурочках, всілякі непотрібні речі типу гаманців чи айфонів) треба або міцно-міцно тримати в руках, або розпихати по кишенях. І не дарма попереджають. Не один раз бачили мавп з окулярами в руках. Мавпи чомусь дуже люблять окуляри (ну, прям „Мартишка і очкі”).

= chapter do

  = gallery %w{IMG_9954.jpg IMG_9956.jpg IMG_9957.jpg IMG_9966.jpg}

  p Убуд відомий своїми дерев’яними статуетками, дерев’яними масками, а також виробами з батіку. Власне, переважна більшість індонезійських магазинів, які ми до цього зустрічали в Токіо, торгують товарами з Убуда. Тому, якщо ви плануєте щось таке привезти, то варто дивитися це саме тут. Весь центр Убуда, розташований на кількох вуличках паралельних до Мавп’ячої дороги і весь центр — одна суцільна неперервна художня галерея.

  = gallery %w{IMG_9922.jpg IMG_9939.jpg IMG_9940.jpg IMG_9942.jpg IMG_9946.jpg IMG_9948.jpg IMG_9950.jpg IMG_9951.jpg IMG_9953.jpg} do
    p По дорозі до парку — галереї, магазини і магазинчики, кафешки і кав’ярні.

= divider "IMG_0162.jpg", filters: %w{chapter-divider-light matte}  do
  markdown:

    # Храми

    Балі — єдиний острів Індонезії з індуїстською релігією, решта території заселена переважно мусульманами. Хінду, з її політеїзмом прекрасно уживається з іншими релігіями, в тому числі з християнством. По дорозі нашої екскурсії нам траплялися кілька „спільних” індуїстсько-буддистських храмів, або таких, де частина територї — індуїська, а інша — буддистська.

= chapter do
  markdown:

    Але оcновне місце все ж займають індуїстські храми. Їх тут — море. При тому, що практично кожне село, навіть найменше, має хоча б один головний сільский храм, ледь не кожен двір також являє собою невеликий храм. Інколи у сільському (чи міському, як у Убуді) дворі стоїть просто якась невеличка капличка чи пагода, але дуже часто весь двір — храм, і в ньому живуть люди.

    В один із таких „храмів” я забрів в Убуді, ще не знаючи, що таке буває.

    Гуляли по Убуду, і проходили повз якісь неширокі кам’яні ворота. До воріт від вулиці ведуть невисокі сходи — на три-чотири сходинки. З воріт східцями якраз спускалася європейського вигляду дівчина, а при східцях стоять кілька пар черевиків і сандалів. За японською звичкою — перед входом у більшість буддистських храмів Японії треба роззутися — мені зразу-ж подумалося, що це храм. „Значить, треба зайти”, — тим паче всередині крізь ворота було видно щось яскраве.

    Розуваюся, піднімаюся сходами і заходжу в ворота. Всередині — дійсно ніби храм. Величезна кількість різьблених кам'яних статуй, пагоди, кущі з квітами, позолота-мішура і вся ця релігійна атрибутика. Хожу, фотографую. А далі помічаю, що десь там в глибині двору, на відкритій веранді висить і працює величезний плоский телевізор. А трохи ближче — за кілька метрів від мене, іще на одній веранді, на помості сидить сім’я і п’ють чай. На мене — абсолютний нуль уваги, хоча я від них за якихось кілька кроків. Ще десь там висить сохне білизна, і ще якісь ознаки того, що це насправді не храм, чи не зовсім храм, а чиясь хата… Довелося так задком-задком, назад до хвіртки, і на вулицю. Але на мене так ніхто і не звернув уваги, мабуть так само, як і на мою попередницю.


  = gallery %w{IMG_0009.jpg IMG_0011.jpg IMG_0012.jpg IMG_0014.jpg IMG_0015.jpg IMG_0017.jpg IMG_0019.jpg IMG_0020.jpg} do
    p Зайшовши до храму виявив, що я, насправді, зайшов до чийогось двору

= divider "IMG_0008.jpg", vimeo_bg: "206540173", filters_plus: %w{text-shadow-2}do
  markdown:

    # Подорожування по Балі

    Для людей, як ми двоє, позбавлених навичок водити моцика, залишається один останній вид транспорту доступний на Балі — таксі.

    Як уже, напевне, зрозумів уважний читач, знайти таксиста на острові не важко. Треба просто вийти на вулицю. Вибирай будь-якого з кількох десятків тисяч мужиків на обочині і починай торгуватися.

    У кожного з таксистів тут же виявиться тека з фотографіями (у всіх таксистів, практично, одні і ті ж фото) цікавих місць Балі із варіантами турів. Треба просто вирішити, що саме ви хочете побачити, скільки на це зможете витратити і зторгуватися.
= chapter do
  markdown:

    В наших планах були закладені пару днів у Убуді, потім переїзд до іншого готелю на березі моря — в Нуса Дуа, тому саме так ми і спланували нашу подорож. З „нашим” таксистом ми зторгувалися на повний день подорожей — він підбирає нас прямо в готелі Убуду після сніданку („з вєщами на вихід“), возить нас по всьому тому, що є у нього в теці з фотографіями і на вечір завозить до готелю в Нуса Дуа. Як, я вже згадував, все це нам обійшлося в сімдесят доларів.

  = gallery %w{IMG_0205.jpg IMG_0211.jpg IMG_0215.jpg IMG_0221.jpg IMG_0223.jpg IMG_0225.jpg IMG_0177.jpg IMG_0172.jpg  IMG_0297.jpg IMG_0304.jpg IMG_0305.jpg IMG_0122.jpg IMG_0124.jpg IMG_0193.jpg IMG_0167.jpg} do

    p Практично з кожним з таксистів ви отримаєте приблизно один і той же джентельменський набір туристичних місць. Все інше тільки залежить від вашого уміння торгуватися.

  markdown:

    Набір у таксистів приблизно однаковий: кілька відомих храмів — Улува́ту з „вогняними танцями”, Тірта Умпул — з священим джерелом, Слоняча печера, який-небудь храм з традиційними танцями Балі, пара базарів, можливо поїздка до вулкану, рисові тераси, ліс мавп (який ми побачили самостійно і з програми виключили), ну і іще вам обов’язково запропонують заїхати на мис Джімбаран в гриль-ресторан. Ну, і звичайно ж, без всякої пропозиції таксист обов’язково вас завезе в ту чи іншу галерею чи майстерню — різьблення по дереву, художня галерея чи батик. Про такі заїзди в майстерні чи галереї завжди варто пам’ятати, що таксисти заїзджають туди неспроста, а розраховують на комісію від купленого вами.

  = gallery %w{IMG_0236.jpg IMG_0243.jpg IMG_0248.jpg IMG_0253.jpg IMG_0254.jpg IMG_0257.jpg IMG_0261.jpg} do
    p Рисові тераси поблизу Убуда.
