---

layout: post
series: В'єтнам

title: Совок на кордоні
subtitle: "Візові пригоди 2017 року"

description: |

  Зразу, на правах реклами, видаю підсумок митних перипетій. Якщо хтось іще досі сумує за ковбасой-по-два-двадцять, за т.зв. „безкоштовною освітою” і „благами соціалістичної дійсності”, дуже раджу: з’їздіть на кілька годин до аеропорту Ханоя. На кілька годин окуніться в грьобану совкову реальність, де вахтьори — це найвища каста. Просто поставте штампик у паспорт, і можете повертатися додому. Щеплення від ковбасно-безплатно-медицинської ностальжі забезпечене щонайменше на кілька наступних років.


intro:
  image: IMG_2122.jpg
  filters:
    - vignette-90
    - sepia-50
    - text-shadow-2

images:
  basepath: 2017/vietnam

tags:
  - Vietnam

# https://vimeo.com/206540173/fd5157b4c0
# <iframe src="https://player.vimeo.com/video/206540173" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
#<p><a href="https://vimeo.com/206540173">балійський_таксист_BG</a> from <a href="https://vimeo.com/user59521372">Dmytro Kovalov</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
---

= chapter do
  markdown:

    Друга наша поїздка до В’єтнаму також почалася із пригод з візою.

    Ні, цього разу ми не покладалися на те, що віза ніби-то не потрібна. На цей раз ми їхали в Да-Нанґ, де віза таки вимагається і тому все зробили заздалегідь, як і потрібно. Процедура з візою приблизно така: на в’єтнамському державному сайті заповнюєш  анкету з паспортними даними, платиш якихось 15 чи 20 доларів і чекаєш три дні поки тобі прийде лист з „візою”. Подібна ж процедура була раніше з Сінгапурською „online” візою і жодних проблем не виникало: ти потім просто показуєш віддрукований PDF на кордоні, і ця роздруківка просто заміняє штамп у паспорті. Але ж то був Сінгапур, загниваючий капіталізм, і всьо-такоє. А тут вам — процвітаючий соціалізм.

    Невеликі несподіванки почалися з отриманням листа від візових богів В’єтнаму. Перш за все: замість однієї сторінки із твоїм власним прізвищем отримуєш відсканованого листа на кількох сторінках з кількома десятками прізвищ. Відшукуєш десь посередині сторінок два своїх прізвища. Все інше — якісь невідомі тобі люди, з їхніми паспортними даними, червоні печатки і абзаци в’єтнамського тексту. Про що ідеться мова в тих абзацах — жодної ідеї. Ну, але то таке. Інша несподіванка, це те, що виявляється за візу треба ще буде доплатити на кордоні — $25 з людини. Чого було б не згадати про цю додаткову плату при заповненні анкети? Але, то теж — таке. Добре, хоч попереджають. Інших попереджень в листі не було.

    Зразу, на правах реклами, видаю підсумок митних перипетій.

    Якщо хтось іще досі сумує за ковбасой-по-два-двадцять, за т.зв. „безкоштовною освітою” і „благами соціалістичної дійсності”, дуже раджу: з’їздіть на кілька годин до аеропорту Ханоя. Можете далі і не їхати, просто на кілька годин окуніться в грьобану совкову реальність, проведіть ці кілька годин, ностальгуючи за безумними чергами, непробиваємими офісними клерками і абсолютно алогічними бюрократичними процедурами, без щонайменшої краплі здорового глузду і поваги до людей, де вахтьори — це найвища каста. Просто поставте штампик у паспорт, і можете повертатися додому. Щеплення від ковбасно-безплатно-медицинської ностальжі забезпечене щонайменше на кілька наступних років.


  = gallery %w{  IMG_5699.jpg  IMG_5513.jpg IMG_5514.jpg IMG_6415.jpg IMG_6418.jpg  IMG_6459.jpg  IMG_6460.jpg  IMG_6462.jpg  IMG_6466.jpg  IMG_6467.jpg  IMG_6468.jpg  IMG_6461.jpg}, caption: "Забули як виглядає червонопрапорний і рабочій-калхозніца пропагандистський треш? Ось трохи для нагадування... Навіть дєдушку-лєніна надибали."

  markdown:
    Отож ми прибули до візового „віконця” в аеропорту Ханоя з паспортами, візовим листом і 100-баксовою купюрою. І, як виявилося пізніше, добре що сто-баксовою, бо п’ятидесяти баксів би нам точно не вистачило (25 помножити на 2 буде 50? Не думаю).

    Візове „віконце” це такий собі офісний бар’єр, довжиною у десяток метрів. Перед бар’єром — величезний неорганізований натовп шукачів візи. За бар’єром з одного боку приймають паспорти, видають і приймають анкети і листи. З іншого — беруть гроші і видають паспорти з візами. Жодної черги ні з одного боку, ні з іншого немає. Та і неможливо її (чергу) сформувати, бо якось порядку у якому паспорти приймаються чи видаються не існує як то кажуть „whatsoever”.  В глибині відкритого офісу — десяток столів з клерками за ними. На столах — купи (реально сотні, багато сотень) паспортів багатьох десятків національностей. Там паспорти обробляються і в них вклеюються візи.

    Виявляється, що, взагалі-то, і лист якого ми привезли, можливо і не потрібен зовсім: тут же видається анкета, яку заповнюють усі — хто з листом і хто без.

    Виявляться також, що на анкеті в куточку — прямокутник, куди має вклеюватися фотографія. Фото в нас не було, бо ж ніякого попередження про фото візовий лист не мав. Пошукали по приміщенню візового контролю якихось фото-будочок автоматів, звичайно ж, нічого не знайшли. Далі я помітив, що візовий клерк когось фотографує малюсінькою цифровою „мильницею” і що деякі з натовпу теж здають анкети без фотографій. З’явилася надія, що якось проканає.

    Продираюся крізь натовп до того краю бар’єру, де анкети, беру анкету у клерка. Заповнюємо. Продираюся до бар’єра ще раз і мені вдається всучити анкету разом з листом і паспортами цьому ж клерку. Кажу, що у нас літак на Да Нанґ і отримую відповідь у дусі: „нічо, встигнеш!”

    Далі паспорти починають жити своїм життям, прослідкувати їх маршрути зі столу на стіл уже неможливо. Сотні паспортів гуляють самі собі по цій кімнаті величезними стосами по кілька десятків в кожному стосі: різних національностей і кольорів. Натовп перед бар’єром величезний, хтось отримує свої візи і відходить, замість них підходять все нові і нові люди. А за спиною ще стоять черги на паспортний контроль. Так, після отримання візи ще треба буде відстояти і в тій черзі. За правилами броунівського руху нам вдається продифузуватися крізь натовп ближче до бар’єру і маємо можливість споглядати роботу візових небожителів трохи ближче.

    Тут стало трохи зрозуміліше, що саме відбувається з фото (чи, точніше, без фото). Перед нами виявилася пара таких же самих, як і ми. Черговий по видачі паспортів відреагував дуже спокійно:
    <br>    <br>
    — У вас нема фото. Не страшно, я сфотографую. З вас — сто.<br>
    — (???) Сто? Чому сто?!<br>
    — Два по двадцять п’ять за візу. І по двадцять п’ять за кожне фото.<br>
    — …<br>

    Тут ми трошки „абалдєлі” і зраділи одночасно. Абалдєлі, бо 25 баксів за фотку — все таки дорогувато (в найм’яшких термінах). А зраділи, бо у нас виявилася сотка, а не п’ятидесятка. Краще бути все-ж таки з візою, ніж без неї, бо і гроші зняти в цьому залі також ніде. Мабуть, не варто згадувати, що жодних квитанцій за такі дорогі фотографії не видається. За $25 візового збору отримуєш офіційну квитанцію, але за зібрані на фото гроші ніхто нічого не видає.  

    Не менш цікава і процедура „реєстрації” фотографій. Той клерк, що фотографує і видає паспорти, сфоткавши віддає фотоапарат іншому. Той дістає „журнал” — такий собі звичайний шкільний загальний зошит. І… загинаючи пальці, починає перелистувати фото в апараті і відраховувати номер тільки що зробленої фотки для запису у „журнал”… Занісши запис у „журналі”, знову ховає загальний зошить кудись під копицею ще не виданих паспортів.

    Мало-помалу перевалює за другу чи третю годину нашого стояння і дифузування туди-сюди у натовпі безпаспортних. Підлітаючи до міста ми були впевнені, що наші п’ять годин перебування в Ханої пройдуть з якимось більшим задоволенням, вишукували по Lonely Planet якісь цікаві та коротенькі туристичні маршрути. Поступово розвіюються наші сподівання на будь-які туристичні принади в’єтнамської столиці. Тут хоч би на літак встигнути.

    Аж тут настає… класична совкова „пєрєсмєнка”…

    Чувак, що приймає гроші і видає паспорти, раптом без жодного слова починає складати манатки. Той, що оформляв паспорти і заносив фотки у журнал — також. Перший чувак: складає кілька сотень чи тисяч квитанцій з двадцять-п’ятками, сортує їх у кілька пачок, кожну пачку не поспішаючи обтягує гумовим кільцем. Далі залазить у шухляду з доларами, так само починає розсортовувати купюри, так само пові-і-і-і-і-і-ільно обв’язує і їх гумовими пасками. Все це пові-і-і-і-і-ільно складає в рюкзачок і … іде собі геть… Мовчки…

    Коли і другий чувак теж завіявся кудись собі, життя завмерло…  На столі лежать ті ж самі стоси необроблених і невиданих паспортів. З цього боку бар’єру — все той же броунівський натовп бомжів безпаспортних… А „на кладбіще всь спокойнєнько”…

    І це все при тому, що ми вже, здається помітили в стосі паспортів, прибулих до цього стола з глибин паспортного раю, два наших тризубастих …

    Далі, через якіхось декілька десятків хвилин візової летаргічної перезміни, звідкілясь з глибин візового світу до столу перекочовує якийсь інший чувак в прикордонній формі, домашніх капцях на босу ногу і жменею почищених мандаринних дольок. Доїдаючи дольки починає обробляти паспорти і передавати їх жіночці, яка теж звідклілясь прийшла на заміну двадцяти-п'яти-баксовому „фотографу”.

    Ми ще пару-третю десятку хвилин споглядаємо як наші тризубасті перекочовують то до вершини, то ближче до дна паспортної копиці, в залежності від того, яким бокому ця копиця перевертається і з якого боку — знизу чи згори — обробляються паспорти. Вже майже втративши сподівання сьогодні кудись полетіти, ми все таки бачимо, що ось вони передані сюди — на видачу.   І тут, тіточка нас здивувала: „У вас же фотки немає (хм… — думаємо, — чи вистачить баксів?). Але нічо. Я вас обох сфоткаю. П’ять баксів за двох.” Виясняти, чому подешевшало, ми не стали.

    Ну, а далі вже все було без пригод.

    Якщо не вважати пригодою процедуру проходження візового контролю. Мою візу перевіряв якийсь асболютно індіферентний меланхолік в тій же прикордонній формі. Процедура зайняла зовсім небагато часу, буквально кілька хвилин. Але не в цьому головний прикол. Головне, це чим був зайнятий меланхолік весь цей час. Кинувши якогось абсолютно незацікавленого погляду у мій паспорт, меланхолійний індіферент хвилин з три чи п'ять примощував на клавіатурі свого айфона, де ішов якийсь фільм в цей час. Примостивши мобілу, штампонув печатку в паспорт і відразу ж забув про мене.
