---

layout: post
series: В'єтнам
title: "Нічний базар на острові Пу Куок"
description: |
  Нічний базар у Пу Куоку — живе і вирує з настанням темряви, коли спека спадає. Але не варто баритися.

intro:
  image: IMG_2585.jpg
  filters:
    - vignette-90
    - sepia-70
    - text-shadow-2

images:
  basepath: 2018/2018-05-18-phu_quoc_night_market

tags:
  - Vietnam
  - Pu Quoc

---

= chapter do
  markdown:

    Нічний базар у Пу Куоку — живе і вирує з настанням темряви, коли спека спадає. Але не варто баритися.

    Коли ми навідалися сюди і шукали ресторан для вечері, всі акваріуми з живністю і розкладки зі свіжими морепродуктами були заповлені вщент і з горою. Могло скластися враження, що ці богатства ніколи не переведуться. Але, коли виходили після вечері, в акваріумах вже не було нічого крім морської води, а розкладки демонстрували тільки гори стікаючої водою криги.

  = gallery %w{ IMG_2577.jpg IMG_2578.jpg IMG_2580.jpg IMG_2585.jpg IMG_2587.jpg IMG_2590.jpg IMG_2595.jpg IMG_2600.jpg IMG_2605.jpg IMG_2608.jpg IMG_2615.jpg IMG_2616.jpg IMG_2624.jpg IMG_2627.jpg IMG_2633.jpg IMG_2643.jpg }

  markdown:

    Не пропустіть: обов'язково скуштуйте різні штуки, що готуються прямо у вас на очах на вулиці:

    — „coconut-candy“ — сендвіч із суміші якихось фруктових „тягнучок“ з джемами, кокосовою стружкою і що чимось, що я не зміг ідентифікувати, між двома печивами;

    — трубочки з морозива — готуються у вас на очах на холодних, морожених металевих плитах, із згущеного молока, різноманітних фруктових сумішей та свіжих фруктів;


  = youtube "MIw_EtsTH4k"

  markdown:
    — щось типу піцци чи налисника з начинкою з покришених сосисок і соусів (дешево і сердито). Налисник так само смажиться прямо тут на замовлення.


  = youtube "jIrJGUewGSs"

  p З приводу дарів моря — це у кого на що вистачить хоробрості. Від не надто екзотичної свіжої риби на грилі, до різноманітних молюсків і черепашок, до смажених жаб, морських гадюк і морських їжаків. З власного досвіду — смажена жаба, — на смак просто молоденькі курчата (дуже смачно, насправді), ну а смажена гадюка — це просто старезна висохла варена жилава курка.

  markdown:

    А от морські їжаки у В’єтнамі їдять зовсім не так, як у Японії. В Японії  — „уні”, — їх поїдають сирими, часто у складі суші, і в залежності від того, кого ви спитаєте, це — або делікатес, або абсолютно неїстівне хтозна-шо. Хтозна-шо чи делікатес, також залежить від свіжості „уні”. А от у В’єтнамі морських їжаків смажать на грилі у їхніх власних панцирях з арахісовими горішками і пахучими травами. Теж дуже смачно.
