---
title: Шлях з авто у вело туристи, або бонсайний вікенд.

description: |
  Однієї суботи вирішили випробувати себе в якості вело-туристів. І нагода трапилася — надибав у метро на оголошеня про з’їзд бонсаїстів в Омії. 2400 річний шінтоїстський храм Хікава джінджя.

images:
  basepath: 2018/2018-05-27-bonsai_omiya_hikawa_jinja

intro:
  image: GOPR1666.jpg
  filters:
    - vignette-90
    - sepia-70
    - text-shadow-2

tags:
  - shinto
  - Saitama
  - Omiya
  - onsen
  - bonsai

---
= chapter do
  markdown:

    В Омії, в префектурі Сайтама є музей бонсай і щороку там проводяться також фестивалі бонсай. Сам музей бонсай знаходиться в парку разом з шінтоїстським храмом Хікава-джінджя (氷川神社 Hikawa-jinja). От туди ми і вирушили: напакували велосипеди спальниками, наметом і одягом, і вирушили зранку в дорогу.

  = pull_right photo "IMG_3961.jpg", filters: [] do
    markdown:
      Сам з’їзд бонсаїстів проводиться в двох місцях — власне у музеї бонсай, та в спорткомплексі Сайтама Супер-арена. Трохи пообіді ми під’їхали до Супер-арени і почали звідси. По дорозі ми за звичкою ще з авто-подорожей виглядаємо місця, де б можна на ніч притулити намета і переночувати: з туалетом, водою, ну і щоб не на центральній площі міста, аби зранку по головах не ходили. До речі, вздовж річки Аракава — повно чудових місць, прекрасні спортивні парки, народ на віндсерферах вирулює — річка в цьому місці досить широка.

  markdown:
    З’їзд бонсаїстів в Супер-арені — це величезний простір спортивного поля заставлений рядами деревець бонсай і всього, що стосується до бонсай хоча б краєчком — ножиці для обрізання гілок, ґрунт, добрива, глечики і вазони. Тут зібрані експозиції з усієї Японії, з різних клубів бонсай різних префектур і районів. Бонсай один від одного відрізняються як розмірами — від великих дерев, по метру-півтора заввишки, до малюпусіньких з кількох листочків чи квітульочок.

  = photo "IMG_4002.jpg", filters: [], caption: 'Одне з не найдешевших дерев на виставці. На бонсай можна було подивитися, а можна було і придбати. Вартість ось цього 100 мільйонів йєн, тобто біля мільйона доларів'

  markdown:

    Відрізняються і формою — від дуже правильної конусовидної форми до покручів. Крім самих бонсай, виставляється повно самого звичайного каміння, чи кам’яних міні-садочків, проводяться майстер-класи по формуванню крон і коріння бонсай.

  = gallery %w{GOPR1649.jpg   IMG_3969.jpg IMG_3976.jpg IMG_3980.jpg IMG_3988.jpg IMG_3991.jpg IMG_3998.jpg IMG_4004.jpg IMG_4007.jpg IMG_4010.jpg IMG_4017.jpg IMG_4023.jpg GOPR1659.jpg GOPR1667.jpg IMG_3967.jpg IMG_3970.jpg IMG_3979.jpg IMG_3984.jpg}

  = gallery %w{IMG_3989.jpg IMG_3997.jpg  IMG_4006.jpg IMG_4009.jpg IMG_4014.jpg IMG_4020.jpg }



  = pull_right( google_map( "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3230.662332981446!2d139.62170331524527!3d35.9307643238536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018c6b0a1e2e009%3A0x17670d33339486f1!2z576O5qW95rip5rOJIFNQQSAtIEhFUkJT!5e0!3m2!1suk!2sjp!4v1527388755357")) do
    markdown:
      Надивившися бонсай і навколо-бонсайних продуктів на весь залишок свого життя, ми відправилися в онсен, який неподалеко надибав для нас Ґуґл-мапс. Великий спа-комплекс неподалеку, близько трьох кілометрів від станції Омія.

= divider "divider.jpg" do
  h1 Хікава джінджя
  h3 2400 річний шінтоїстський храм Хікава

= chapter do
  = pull_right( google_map( "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5905.469274319983!2d139.63143740700306!3d35.91861522565226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018c147ffcd80df%3A0x3e27069d9d126211!2z0KXRgNCw0Lwg0KXRltC60LDQstCw!5e0!3m2!1suk!2sjp!4v1527394437116")) do

    markdown:
      Ранок почався рано, після ночівлі на лавці в парку, відправилися до храму Хікава, в парку Омія. Власне, цей храм і є тим осередком бонсай, навкололо якого крутиться все бонсайне життя.

      Історія храму Хікава налічує вже 2400 років. Він є осередком  &mdash; головним храмом &mdash; колишньої провінції Мусаші і налічує 59 відділень в Токіо та аж 162 підлеглих храми по префектурі Сайтама.

      Храм Хікава-джінджя присвячений і поклоняється японському богу Сусаноо (Сусаноо-но-мікото).
  markdown:


    Сусаноо-но-мікото — бог літа — був ще тим фруктом, його навіть проганяли з небес на землю, але потім, здається, повернули. Багато чого він натворив, — то з сестрою Аматерасу (богинею Сонця) [розсварився](https://goo.gl/HS84Br). Аматерасу від нього навіть в печеру втекла, від чого на землі наступила повна ніч. Через цю пригоду в Японії і з’явилися, власне, ворота до храмів „торіі” і круглі дзеркала, на які моляться імператори. То ще комусь з богів писка натер. Загалом розглядається релігією шінто, як досить негативний персонаж — гуляка, бешкетун. Але, тим часом, спустившися на землю, він надрав боки [восьмиголовому дракону Ямата-но-орочі](https://en.wikipedia.org/wiki/Yamata_no_Orochi), і через те Сусаноо став позитивним персонажем.

  markdown:

    Але зараз мова трохи не про це. Таблички в храмі Хікава — витяжки з японських хронік,—  пояснюють звідкіля взялися в Японії дерева. І заодно пояснюють зв'язок між релігією і біологією, точніше як саме пов'язані бонсай з хмаром Хікава.  А, виявляється, що за дерева японцям теж треба дякувати Сусаноо. Як пишуть, він видрав у себе по кілька волосин з голови, бороди і брів і створив з них кедра, кипариса і камфорне дерево. А потім ще видрав пучок у себе з, вибачте, задниці і створив ще одне дерево з такою назвою, що нормальна людина ні вимовити, ні запам’ятати не зможе. Ну і справді, хіба люди скажуть щось добре про народжене з цього місця?

    В центральному павільйоні храму Хікава, разом з табличкою, де описується ось ця легенда, вздовж чотирьох стін центрального павільйону виставлені чотверо дерев-бонсай, народжених Сусаноо, а навколо — по периметру — ще з пару десятків різноманітних бонсай.

    А з огляду на ранній час, замітаючий листя храмовий служник та тихенькі мовчазні японці відвідувачі храму  створюють особливу атмосферу.

    Подивіться відео.

  = vimeo id: "215962794"
