---
title: "Хоккайдо: пороблено телевізором"

series: Хоккайдо, 2019

description: |
      Цей шматочок історій з Хоккайдо про те, як зробити з… Кхм. Як зробити із звичайного дерева туристичну принаду. Завдяки телевізору і рекламі.

images:
  basepath: 2019/2019-08-28-hokkaido_trees

intro:
  image: "IMG_5122.jpg"
  filters:
    - text-shadow-2
    - vignette-80
    - sepia-50

tags:
  - Japan
  - Hokkaido
  - Furano
  - Biei
  - travel

---
= chapter do
  markdown:


  = pull_right photo "IMG_2195.jpg", filters: [], caption: "Поля навколо Фурано" do

    markdown:

      Місця навколо містечок Фурано і Біей в центральному Хоккайдо
      надзвичайно красиві. Хвилясті плавні пагорби з клаптиками полів
      різних кольорів: зелених лук та розлогих полів цукрових буряків,
      кукурудзи чи соняхів, українсько-жовтих пшеничних під
      українсько-блакитним небом, фіолетово-лавандових та
      різнокольорово-квіткових (спеціально для туристів). Не дивно,
      чому саме тут надзвичайно багато туристичних принад, які
      завдячують своїм існуванням рекламі та ТБ.

  markdown:
    Таких принад в центральному Хоккайдо налічується досить багато і
    кожна з них оточена своєю власною історією, натовпами туристів ---
    довезених як автобусами, так і своїм ходом: автомобілями,
    мотоциклами, велосипедами і пішим ходом.

    Ця розповідь про ті кілька туристичних рекламних місць, які ми відвідали. Але залишилися ще сотні таких же --- але невідвіданих.


= divider "IMG_2371.jpg" , filters_plus: "text-shadow-2" do
  markdown:
    # Дерево  Seven Stars

    ### セブンスターの木

    Найвідоміше дерево Хоккайдо — дерево-зірка, дерево супер-стар, —
    це „Seven Stars Tree”, дерево Seven Stars. Практично кожен із
    туристичних дайжестів „Top 10” або „Top 15” „туристичних принад”,
    „цікавинок” Хоккайдо згадують це дерево. Гугл взагалі на пошук
    „Seven Stars tree” видає ні мало, ні багато: „Приблизна кількість
    результатів: 193 000 000 (0,74 сек.)”, — описи, маршрути,
    фотографії.

= chapter do
  markdown:

  = pull_right google_map "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2887.917281621724!2d142.42902701530323!3d43.629080562008376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0cc4729a21720b%3A0x1176f0aea6f4620c!2sSeven%20Stars%20Tree!5e0!3m2!1suk!2sjp!4v1566869390298!5m2!1suk!2sjp" do
      markdown:

        Самотньо стоячий в полі дуб — навколо дуба на кілометри немає
        нічого крім вкритих зеленими або пожовтілими полями пагорбів, —
        набув популярності в 1976му році. Тоді фото його — одинокого —
        надрукували на рекламі і на упаковці цигарок Seven Stars.

        Сьогодні біля дуба побудована автостоянка, рояться натовпи людей,
        неперервне клацання затворів фотоапаратів. Але він такий же
        самотній, як і сорок з гаком років тому. А краєвиди навколо цього
        дуба таки гарні.

  = gallery %w{IMG_2368.jpg IMG_2369.jpg IMG_2371.jpg IMG_2374.jpg IMG_2377.jpg IMG_5177.jpg IMG_5179.jpg IMG_5181.jpg} do
    p Краєвиди навколо Дерева Seven Stars



= divider "IMG_2366.jpg", filters_plus: "text-shadow-2" do
  markdown:
    # Дерево Кена і Мері

    ### ケンとメリーの木

    Тут же, в районі Біей знаходиться ще одне дитя реклами — так зване
    Дерево Кена і Мері. Одинока тополя посеред тих же мальовничих
    полів. На цей раз популярність дереву надала в 1970-х реклама
    лінії машин Skyline фірми Ніссан. Назву, як пишуть, дерево
    отримало від імен персонажів, які знімалися в рекламних роликах.

= chapter do

  = pull_right google_map "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.872941743825!2d142.46200721530286!3d43.609187063293994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0cc434d9d4214b%3A0x8ee6e6dc736f3ed9!2sTree%20of%20Ken%20and%20Mary!5e0!3m2!1suk!2sjp!4v1566871229627!5m2!1suk!2sjp" do

    markdown:
      Кен і Мері значно програють в популярності Seven Stars. Пошук у гуглі видає „всього-навсього” 39 млн. результатів — просто ніщо в порівнянні з 190 млн. Seven Stars. Але все-одно — дерево зірка. Так само, як і біля Seven Stars, біля Кена і Мері — автостоянка, натовпи туристів і фотоапарати. Ще одна відмінність — біля Кена і Мері не тільки поля: поруч побудований Пансіон Кена і Мері.

  = gallery %w{IMG_2359.jpg IMG_2358.jpg IMG_5172.jpg IMG_2360.jpg IMG_5173.jpg IMG_2365.jpg }


  = pull_right photo "IMG_2308.jpg ", filters: [], caption: "Ось такими табличками тут лякають туристів" do

    markdown:
      Інші супер-дерева ми не відвідували. Але коротке гуглювання видає ще результати про „Дерево батьків і дитини” — два великих і одне менше поруч з ними, пишуть також, що якщо відійти трохи подалі, то можна помітити дерево-тещу, „Пагорби Mild Seven” — теж реклама цигарок, „Філософське дерево” і „Різдвяне дерево” — ага… „йолка”.  Повна інформація про знамениті дерева --- за [посиланням](https://zekkeijapan.com/article/index/1253/).

= divider "EFFECTS.jpg", filters_plus: "text-shadow-2" do
  markdown:
    # Станція щастя

    Колишня станція Кофуку.

    Ця станція існувала і працювала з 1956 до 1987 року. 1973го про неї дізналося японське телебачення.


= chapter do

  = pull_right google_map "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2930.03985868045!2d143.15908011527654!3d42.74520891868408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f738c16d5fe8435%3A0x36be8c8d5a35fb8a!2zS8WNZnVrdSBLxY10c8WrIFBhcms!5e0!3m2!1suk!2sjp!4v1566872371990!5m2!1suk!2sjp" do

    markdown:

      Справа в тому, що назва станції Кофуку може перекладатися як
      Станція Щастя. Була також станція Айкоку, яку можна перекласти, як
      Країна Кохання.

      Телепрограма започаткувала ідею «купи квиток з країни кохання до
      станції щастя» — Аікоку кара Кофуку маде. Ця ідея знайшла відгук у
      серцях багатьох японців. Вони приїздили на станцію тільки для
      того, щоб купити такий квиток і приклеїти його на стіні станції.


  markdown:


    З 2013 року колишня залізнична Станція Щастя перетворена на парк
    із залишками пари сотень метрів залізничної колії, вагонами і
    дерев’ною будівлею станції, де ще досі японці обклеюють стіни
    квитками «від кохання до щастя».

    Насправді назва станції Кофуку (幸福) походить від старої назви
    місцевості Кошін (ко), і емігрантів з провінції Фукуї (фуку), які
    переважно селилися в цих місцях.

    До речі, вартість квитка з кохання у щастя — всього 180 ієн. Варто
    спробувати?

  = gallery %w{IMG_3023.jpg IMG_3031.JPG IMG_3034.jpg IMG_3035.jpg IMG_3038.JPG IMG_3039.jpg IMG_3047.jpg IMG_3048.jpg}
