---

layout: post
series: "Філіппіни. Друга подорож"
title: "Пірнання на остріві Малапаскуа"
description: |
  Весь острів Малапаскуа рясніє назвами зі словом „thrasher”: Thrashser Divers, Thrasher Cove, Thrasher Paradise… Малапаскуа відомий на весь світ тим, що тут майже кожного дня гарантовано можна побачити лисячу акулу або, як вона зветься англійською, — Thrasher Shark. Ця акула з’являється і в інших місцях світу, але в жодному іншому місці не з’являється з такою регулярністю. Тому більшість пірнальників — ледь не 90% — приїзджають саме на Малапаскуа з однією метою: подивитися лисячу акулу.


intro:
  image: GOPR3671_Fotor.jpg
  filters:
    - text-shadow-2
    - vignette-80
    - sepia-30

images:
  basepath: 2019/2019-05-24-philippines-II-malapasqua

tags:
  - Philippines
  - Cebu
  - diving
  - Asia
  - travel

---

= chapter do
  markdown:

= divider "IMG_1023.jpg"   do
  markdown:
    # Пірнання з акулами
= chapter do

  markdown:

    Лисяча акула — немаленька „рибка”. В середньому досягає довжини до п’яти метрів, максимально — до 6,1м. Але, незважаючи на свої серйозні розміри, безпечна для людей. Харчується вона в основному невеличкими рибинами типу сардин. Саме спосіб харчування цієї акули і дав їй аглійську назву „thrasher”, що можна перекласти як „молотар”. Лисяча акула має довжелезного хвостового плавника — який досягає ледь не половини довжини тіла акули, — верхня частина якого схожа на лезо коси чи на шаблю. Під час полювання акула, розігнавшися врізається в косяк сардин і, діючи хвостом ніби ціпом, глушить рибу, а потім її з’їдає.

    Лисячі акули живуть на великих глибинах: 300 до 500 метрів і, звичайно ж, там її побачити своїми очима просто неможливо. Але вони періодично спливають на відносно невелику глибину у 30 метрів і проводять там деякий час, щоб очиститися від паразитів. Тут, на тридцяти метрах, вони накручують повільні кола у воді, поки мілководні рибки поїдають паразитів на шкірі у акули. Саме в цей час їх і можна побачити.

  = gallery %w{GOPR3736_Fotor.jpg GOPR3714.jpg GOPR3716.jpg GOPR3729.jpg GOPR3734.jpg } do
    markdown:
      М'які корали, зірки і морські їжаки. Четверте фото: риба-крилатка і гігантська черепашка-молюск, о-в Ґато. Останнє фото: Скельозуба риба (Puffer fish). Багато які скелезубові --- отруйні. Деякі із скелезубових --- другі у світі по отруйності серед хордових. Японська риба "фугу" --- з них.

  markdown:

    Але, є одне „але”. Оскільки, нормально лисячі акули живуть на великих глибинах — в холоді і темряві, — на мілину вони піднімаються тільки дуже рано, на самому сході сонця. І як тільки сонце починає пригрівати, знову пірнають до глибин. Тож треба вирушати з готелю о 4й ранку і навіть при цьому ви матимете лиш кілька хвилин щоб побачити акул. Кому повезе — побачить аж кілька, кому пощастить менше — тільки помах одного хвоста.

    Ще одне „але” — це тридцятиметрова глибина. До Малапаски ми мали тільки звичайний сертифікат Open Water Diver (OWD), який дає право спускатися тільки до 18 метрів.  Advanced OWD (AOWD) дозволяє спускатися на цю глибину (теоретично до 40 метрів, але в більшості — до 30), але включає аж п’ять окремих курсів, серед яких і Deep Dive. Щоб пройти весь AOWD потрібно 3-4 дні і 5 пірнань. Але AOWD побудований так, що можна проходити окремі курси один по одному, не обов’язково все зразу. Нам вдалося пройти курс глибокого пірнання на  Малапаскуа і побачити „хвостик” акули. Це наше перше глибоке пірнання було одночасно і іспитом. Через проходження кількох тестів ми спустилися на глибину на кілька хвилин пізніше за інших і цих кількох хвилин було достатньо, щоб більшість акул повтікали. Але одну все-таки побачили.

    На глибині оформлений „оглядовий майданчик” у вигляді амфітеатру: біля підніжжя коралової стіни у піску встановлені бетонні стовпи з натягненими мотузками між ними. Всі пірнальники мають приземлитися перед мотузками на колінах, не дозволяється використовувати ліхтарики і фото-спалахи. Все це — для того, щоб не відлякати акул.

= divider "IMG_1029.jpg" do
  markdown:
    # Інші місця пірнань на Малапаскуа

= chapter do
  markdown:

    Зрозуміло, що одними акулами пірнання не обмежуються. Крім них на Малапаскуа та навколишніх маленьких острівцях є ще чого подивитися — як з аквалангом, так і просто з маскою та трубкою. Навколо самого острова знаходяться кілька цікавих місць: Кораловий сад, уламки японського військового корабля часів Другої світової війни, острів Лапус-лапус. Наприклад, за тисячу з чимось песо (~1200-1300) можна замовити персональний тур навколо острова на човні (snorkeling tour). Вам покажуть кілька (у нашому випадку --- п'ять) місць, де можна попірнати з трубкою. Тобто, навіть якщо у вас немає сертифікації PADI чи ISS, все одно можна насолодитися багатоколірністю морського  життя.

  = gallery %w{GOPR3825_Fotor.jpg GOPR3665_Fotor.jpg GOPR3674.jpg GOPR3696_Fotor.jpg} do
    p На фото: Риба-клоун ховається в зарослях анемони. Віяло. Підпливаємо то острова Ґато. Величезні черепашки-молюски.

  markdown:
    Приблизно в 40 хвилинах на човні від Малапаскуа знаходиться острів Ґато (Gato island), від іспанського „кіт”, бо острів своєю формою нагадує сплячого кота. Навколо Ґато — справжній морський рай. Тільки тут, навколо малюсінького острівця знаходиться аж п’ять місць для пірнання. Тут можна побачити смугастих морських змій, морських коників, довгокрилих акул (whitetip shark), скатів, сила-силенна риб-крилаток (Lionfish), рибу-голку, великих скелезубових риб (puffer fish або fugu). Під час одного з наших пірнань нам вдалося побачити сплячу довгокрилу акулу у печері — сірого кольору з білими кінчиками на всіх плавцях. Розміром півтора чи трохи більше метрів вона лежала на піску всередині печери біля підніжжя коралової стіни, дала зняти себе на відео, зовсім зблизька і не звертаючи на нас жодної уваги.

  = youtube "Xv4IUONtsHU"

  markdown:
    Про острів Ґато один із путівників пише: „Звичайно ж ви приїхали на Малапаскуа щоб подивитися лисячих акул, але ви поїдете звідси, запам’ятавши саме Ґато”.




    # Вартості
    - Незалежно від дальності одне пірнання з обладнанням обходиться близько 1800 песо.
    - PADI Deep Dive 2500 песо за курс навчання, плюс 2500 песо за електронний підручник. За правилами PADI кожен студент Advanced OWD повинен придбати копію підручника.
    - Обмінний курс: 100 песо ~ USD1,9
