---

layout: post
series: "Філіппіни. Друга подорож"
title: "Моолбол, острів Себу"
description: |
  Про Моолбол ми вперше почули від Поліни — дівчини з України, з якою разом пірнали під час нашого першої подорожі до Філіппін. А потім ще й виявилося, що наш сусід по Японії родом з Німеччини працює інструктором з пірнання і він теж дуже рекомендував Моолбол і також порекомендував і пірнальний центр. З якого ми були дуже задоволені в результаті.

intro:
  image: "IMG_1064.jpg"
  filters:
    - text-shadow-2
    - vignette-50

images:
  basepath: 2019/2019-06-13-philippines-II-moalboal

tags:
  - Philippines
  - Cebu
  - diving
  - Asia
  - travel

---

= chapter do
  markdown:

  = pull_right google_map "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d40069.5016080606!2d123.37821535902161!3d9.955949115554631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sjp!4v1560392442389!5m2!1suk!2sjp" do
    p     Моолбол (англ.: Moalboal, місцеві вимовляють щось середнє між Моолбоол — подовжене „о”, — та Моалбоал — приглушена „а”, з трохи пом’якшеними „л”) — півострів в центральній західній частині острова Себу.

    p Про Моолбол ми вперше почули від Поліни — дівчини з України, з якою разом пірнали під час нашого першої подорожі до Філіппін. А потім ще й виявилося, що наш сусід по Японії родом з Німеччини працює інструктором з пірнання і він теж дуже рекомендував Моолбол і також порекомендував і пірнальний центр. З якого ми були дуже задоволені в результаті.

= divider "IMG_1091.jpg", filters: [ "text-shadow-2", "vignette-30" ]
  markdown:
    # Дорога

    До Моолбола їхати нам потрібно було з остова Малапаска (див. попередні дописи #{link_to_article("Острів Малапаскуа")} , #{link_to_article("Пірнання на острові Малапаскуа")}). Перед поїздкою ми теж подивилися описи маршрутів, щоб знати чого чекати. Один з описів  (посилання нижче) дуже детально розписує всі точки маршрута з приблизними вартостями та часом на їзду.

    Маршрут приблизно такий:

    - після переправи з Малапаска на Себу в порт Майа (100 песо) взяти автобус до Північного автобусного терміналу в місті Себу (~200 песо, 4-5 годин),
    - добратися до Південного автобусного терміналу (таксі — 200-300 песо або 3-4 пересадки на „джипні”),
    - взяти автобус до Моолбол’а (120 - 150 песо, 3-4 години),
    - від автобусної зупинки дібратися до готелю. Вартість залежить тільки від водія трицикла і може бути від сотні до кількох сотень песо.

= chapter do
  markdown:



    Прямого автобусного маршруту з півночі Себу до Моолбола немає, всі автобусні маршрути  проходять через Себу-сіті, який знаходиться на східному (протилежному від Моолбола) узбережжі острова Себу. Тому і всі ці складнощі. Все разом це мало би зайняти 8-9 годин у дорозі і на двох (не рахуючи човна з Малапаска) від тисячі з чимось до двох тисяч песо.

    Існують і інші варіанти дороги. Перш за все, якщо їхати не на автобусі, а на міні-автобусі (міні-ван) можна зекономити годину чи дві на дорозі до Себу-сіті. Вартість, як нам казали, має бути близько 400-500 песо з людини. Але так само треба їхати через місто, прямої дороги немає.

    При посадці на човна з Малапаска до Майа один з місцевих ділків запропонував нам взяти машину від порту Майа прямо до нашого наступного готелю. Вартість на двох — 4 тисячі і доїхати можна за 5 з чимось годин. Тож, о третій годині ми вже були в нашому наступному місці — [Love’s Beach and Dive Resort.](http://www.loves-beach-resort.com/)

  = gallery %w{IMG_1049.jpg IMG_1055.jpg IMG_1091.jpg IMG_1062.jpg IMG_4362.jpg} do
    p Love's Beach and Dive Resort

= divider "IMG_1088.jpg" do
  markdown:
    # Пірнання на Моолболі

= chapter do
  markdown:

    У Моолболі ми зупинилися на 3 дні. В перший день, після прибуття до готелю, розвідали пірнальний центр, розпитали про вартості і плани пірнань і записалися на наступний день на ранкове пірнання. Вирішили: „Пірнем разок, а там — побачим”.

    В [Cebu Fun Divers](https://www.cebufundivers.com/) пірнають тричі на день: починаючи з восьмої ранку до 14:30. Між першим та другим пірнанням — перерва хвилин 40, друга перерва — години півтори.

  = gallery %w{IMG_1068.jpg IMG_1071.jpg IMG_1080.jpg IMG_1088.jpg} do
    p Пірнальний центр Cebu Fun Divers

  markdown:
    Спочатку нам здалося, що пірнати тричі на день — це забагато. Пірнемо двічі сьогодні, а завтра — побачим. Після першого пірнання — поїхали на друге, а потім — і на третє. „Ну, ладно, завтра пірнем двічі, а там — побачим. А от післязавтра — тільки разок”. Коротше кажучи, сталося так, що всі три дні, які ми були в Моолбол ми пірнали по три рази non-stop. І тепер, після повернення плекаємо думку, коли поїхати на Моолбол ще раз і на довше.  Воно того варте.

  = gallery %w{GOPR4078.jpg GOPR4343.jpg GOPR4104.jpg } do
    markdown:
      Риби з родини скорпіонових. Перші два фото --- риба-крилатка. Всі скорпіонові отруйні, а деякі з них --- риба-камінь або бородавчатка (англ.: Stonefish) на третьому фото --- найотруйніші в світі.

  = pull_left(photo("GOPR3850.jpg", caption: "Клоунова риба, або Frog-fish серед м'яких коралів. Так, оце безформне щось у вигляді листочка, з прилиплими до нього водоростями, це риба.", filters:["vignette-30"]), 6) do

    markdown:
      Всі пірнальні місця на Моолболі знаходяться в межах від 5 до 15 хвилин човном від бази. Прямо поруч на відстані кількох хвилин знаходиться острів Пескадор. Весь о-в Пескадор — морський заповідник з надзвичайно різноманітною морською флорою і фауною. М’які корали найдивовижніших форм і кольорів починаються з глибин у 5-10 метрів, поступово переходять до коралової стіни, яка — вкрита твердими коралами — сягає глибин до 40 метрів. Навколо Пескадора налічується понад 2500 сортів тропічних риб.

  markdown:
    В протилежний бік від центру, теж не далі, ніж кілька хвилин човном, біля пляжу Панаґсама — зовсім неглибоко постійно кружляє величезний косяк сардин. „Сардинове місце”  — не більше, як за 20-30 метрів від берега. Вкрите коралами дно плавно спадає до 3 - 5 метрів, а далі починається коралова стіна. Верхій край косяка — за пару метрів від поверхні води, і простягається до глибини у десяток метрів.

  = gallery %w{GOPR4276.jpg GOPR4281.jpg GOPR4292.jpg} do
    p Сардинове місце

  = pull_right((gallery %w{GOPR4121.jpg GOPR4126.jpg}, caption: "Гігантські черепахи підпускають до себе дуже близько і навіть дають почухати панцир"), 8) do
    p Крім сардин тут же запросто можна зустріти велетенських морських черепах. А під час одного з пірнань застали черепаху на дні біля берега, на глибині всього у півтора метри в оточенні величезної кількості пірнальників в масках із трубками. Вона просто тупцяла поміж купальщиками по дну, врешті-решт підвелася трохи, махнула плавниками і втекла.


  markdown:

    В багатьох місцях зустрічали т.зв. „Диско-молюсків” або „Електро-молюсків” (англ.: fire clam, disco clam, лат.: Ctenoides ales). Молюски живуть в неглибоких печерах, виглядають з неглибоких ямок в коралах. Красиві червоно-оранжеві рухливі ниткоподібні щупальця простягаються з такого ж червоно-оранжевого тіла розміром 5-7см. А вздовж усього тіла з краю до краю пробігають два „електричних розряди” схожі на міні-блискавки. Ілюзія блискавки надзвичайно реальна. Але насправді, ніякої електрики у молюсків немає, не мають вони навіть і біо-люмінісценції. Як показали дослідження — це всього лиш віддзеркалене світло. По краю губ молюска знаходяться ниточки світло-відбиваючої речовини, які швидко змінюють орієнтацію в просторі, змінюючи світло-відбиваючі властивості. Звідся і ілюзія блискавки.

  = gallery %w{GOPR3872.jpg GOPR3873.jpg GOPR4239.jpg} do
    p "Диско-молюск" і велетенський восьминіг у печері

  p Підводне диско у виконанні молюска:

  = youtube "IMeMNUFaodc" do

  markdown:
    Інші місця пірнання на Моолболі: Будинок Дельфіна (Dolphin House), Черепахова Затока, морські заказники Талісай, Табл і Тонґо, затонулий літак, невеличкі коралові острівці цікавих форм, які дали назву цьому місцю „Гриби” або „Парасольки”.

  = gallery %w{G0014156.jpg GOPR3831.jpg GOPR3860.jpg GOPR3865.jpg GOPR3876.jpg GOPR3882.jpg GOPR3883.jpg GOPR3917.jpg GOPR3921.jpg GOPR3942.jpg GOPR3976.jpg GOPR4033.jpg GOPR4059.jpg GOPR4141.jpg GOPR4203.jpg GOPR4326_PhotoScape2.jpg GOPR4330.jpg GOPR4347_PhotoScape.jpg GOPR4359_PhotoScape.jpg GOPR4370.jpg} do
    p Морський дивосвіт Мообола

  markdown:

    ## Інше

    Власне, на „інше” у нас зовсім не залишилося часу через пірнання. Але з інтернету та з рекомендацій інших: багато хто радить відвідати водоспади Кавасан. Як пишуть — це одні з найбільш популярних водоспадів на Філіппінах з кришталево-чистою водою. У водоспадах можна плавати.

    Як і в інших місцях, в Моолболі можна взяти мотоцикл на прокат. Вартості майже вдвічі нижчі, ніж наприклад на Панґлао: 350 песо за добу, або 300 песо за день. На Боголі і Панґлао ми платили по 500-600 за добу в залежності від місця.

    Пляжі: Білий пляж на північ від села та Ламбуг — на південь. Обидва — в межах 15-20 хвилин на автобусі або мотоциклі.

     Більше інформації і фото пляжів та водоспадів на [англомовній сторінці]( https://www.gamintraveler.com/2018/04/19/fun-things-to-do-in-moalboal/)


    ## Вартості та посилання

      Всі вартості і курси --- по стану на травень 2019.

    - Як добратися до Моолбола (англійською) [https://www.gamintraveler.com/2019/01/01/how-to-get-to-moalboal/](https://www.gamintraveler.com/2019/01/01/how-to-get-to-moalboal/)
    - Прокат мотоцикла на 24 години — 350 песо, з 7 ранку до 21 вечора — 300 песо
    - Центр пірнання Cebu Fun Divers [https://www.cebufundivers.com/](https://www.cebufundivers.com/)
    - Готель Love’s Beach and Dive Resort [http://www.loves-beach-resort.com/](http://www.loves-beach-resort.com/)
    - Вартість одного пірнання в Cebu Fun Divers - 1680 песо з обладнанням і човном, пак на 5 і більше пірнань по 1400 песо
    - Обмінний курс: 1000 песо --- ~19 USD або 500 гривень.
