---
title: Дорога на Хоккайдо. Пором.
series: Хоккайдо, 2019

description: |
  Найближчий пором з Токіо до Хоккайдо ходить від Ооарай — 120 км на північ від Токіо. З Ооарай до Томакомай на Хоккайдо ходить два пороми на день — денний та нічний, і так само два пороми з Томакомай до Ооарай. Хоча сама поїздка на поромі займає біля 17-19 годин, але варто розраховувати на практично 24 години в дорозі.

images:
  basepath: 2019/2019-09-25-hokkaido_ferry

intro:
  image: IMG_3152.jpg
  filters:
    - text-shadow-2
    - vignette-80
    - sepia-50

tags:
  - Japan
  - Hokkaido
  - travel

---
= chapter do
  markdown:

    Добиратися до Хоккайдо з Токіо можна по різному: літаком,
    шінкансеном або машиною. Ми мандруємо власною машиною в основному
    без готелів, спимо в машині. Тому літак і шінкансен відпав зразу
    ж. Брати машину на прокат дорого і до того ж відпадає варіант зі
    спанням у машині, бо всі речі треба буде везти на собі. Крім того
    цього разу ми везли з собою наші велосипеди.

    ## Пором

    Потрапити з машиною на Хоккайдо з головного острова Хоншю без
    порома неможливо.  Тунель з Хоншю до Хоккайдо тільки для
    шінкансенів. Прикинули, що в сумі плата за хайвей, бензин і пором
    з Аоморі приблизно та ж, що і за пором з Токіо. Тому наперед
    почали шукати варіант з поромом.

    Це була наша перша поїздка на поромі в Японії на таку довгу
    відстань. В попередніх подорожах ми перепливали на поромах на
    невеликі відстані по 1,5-2 години. Але ж двогодинна подорож у
    порівнянні із дев’ятнацьтма годинами, це як електричка чи
    маршрутка до Ірпеня у порівнянні зі спальним вагоном до Берліна.

    Найближчий до Токіо пором на Хоккайдо ходить з Ооарай — це десь біля 120 км на північ від Токіо в префектурі Ібаракі. На жаль з самого Токіо пороми не ходять. З Ооарай до Томакомай на Хоккайдо ходить два пороми на день — денний та нічний, і так само два пороми з Томакомай до Ооарай. І хоч сама поїздка на поромі займає біля 17-19 годин, але якщо вважати на час завантаження/розвантаження машин і пасажирів (треба прибути у порт за 3 години до відправки), то варто розраховувати на практично 24 години в дорозі.

    До Хоккайдо ми добиралися нічним поромом, назад — денним. На
    нічний в Ооарай треба прибути на посадку до 10ї вечора, а прибуття
    в Томакомай біля 8ї вечора наступного дня. Щоб сісти на денний
    пором треба бути в порту о 3й дня, відповідно прибуття —
    наступного дня біля опівдня чи трохи пізніше.  Обидва пороми
    належать одній і тій же фірмі Sun Flower, але нічний пором менший
    і скромніший за денний і вже трохи „побачив життя”. Але зате вже
    денний пором — це просто такий собі цілком пристойний круїзний
    лайнер.


    Коли я шукав інформацію про пороми, натрапив на кілька англомовних
    сайтів. На одному з сайтів була інформація, ніби-то на нічних
    поромах до Хоккайдо спальні місця в одній великій залі з
    татамі. Кожен бере собі матрац-футон і всі пасажири сплять
    покотом. Тому при посадці ми на дуже багато не розраховували:
    „Футони, так футони! Яка різниця, ми ж мандруємо”.  Але навіть
    перший, нічний (простіший) пором надзвичайно приємно вразив. Тут
    немає ніяких величезних спільних спалень з татамі. Більшість кают
    розраховані на чотири пасажири.  Кожна каюта розділена на
    індивідуальні відсіки з ліжком. Кожен відсік закривається шторкою.
    Ще дві каюти „люкс” на верхньому поверсі.

    Нічний пором розрахований на 150 пасажирів. Практично протягом
    всього маршруту працює сауна з сенто — гарячими ваннами,— є
    автомати з мороженою їжею та напоями, НВЧ плитки, тощо.

  = gallery %w{IMG_1955.jpg IMG_1962.jpg IMG_1964.jpg IMG_1966.jpg IMG_1967.jpg IMG_4880.jpg IMG_1968.jpg} do
    p <b>Нічний пором:</b> чотиримісні каюти, спільний простір і салон

  markdown:

    Денний пором -- відчутно вищого класу -- розрахований на значну
    більшу кількість пасажирів і надає більше послуг. Пасажирські
    поверхи: 5й, 6й, 7й. На п’ятому поверсі: каюти відносно нижчих
    класів і сауна з ваннами, 6й — ресторан і спільний простір для
    відпочинку --- ложа, 7й поверх – чотиримісні каюти вищого класу, з
    персональними балконами з виглядом на море, і т.ін.

    На п’ятому поверсі (нашому) --- каюти кількох класів: татамі,
    спільні спальні та індивідуальні. Наші квитки були в класі
    спільних спалень. Кожна каюта на 20 чоловік у два поверхи, але
    кожен має особисте „гніздо”, як у капсульному готелі: ліжко,
    кілька невеличких поличок для речей, пару розеток і телевізор з
    навушниками. В телевізорі: місцеві канали, плюс канал з
    кіношками. Для одноденної поїздки — просто супер.

    Заглядав по ходу в кімнати з татамі і двомісні каюти. Каюта з
    татамі -- це розділена перегородками на відсіки кімната: трохи
    більше приватності, ніж кімната без перегородок, але все-таки
    спільний простір. Двомісні каюти по вигляду — пристойний
    бізнес-готель з двома ліжками і вікном на море.

  = gallery %w{ IMG_3146.jpg IMG_3126.jpg IMG_3127.jpg IMG_3149.jpg IMG_3128.jpg IMG_3130.jpg IMG_3133.jpg IMG_3134.jpg IMG_3135.jpg IMG_3137.jpg   IMG_3150.jpg IMG_3151.jpg IMG_3124.jpg } do
    p <b>Денний паром</b><ul>
      <li> чотиримісна каюта з індивідуальним "капсулем"
      <li> кімната з татамі (5те фото)
      <li> спільний простір -- п'ятий, шостий поверхи</ul>

  markdown:

    Ресторан на 6му поверсі працює ввечері, після посадки та
    зранку. Цілком пристойна кухня, не гірше, ніж у
    середньостатистичному бізнес-готелі по Японії і при тих же самих
    вартостях.

    Також на п’ятому-шостому поверхах: гарячі ванни із сауною, ложа,
    де для дітлахів влаштовують невеликі вистави, магазин сувенірів,
    автомати з напоями і гральні автомати, тощо. Навіть є відсіки для
    домашніх тварин і невеличкий майданчик для прогулянок з ними.

    Тобто, якщо підсумувати все написане вище: навіть якщо ви
    мандруєте на Хоккайдо без машини, варто розглянути варіант їхати
    туди на поромі. Це буде дешевше і комфортнше, ніж на шінкасені чи
    літаком.
