---
title: Філіппіни, острів Панґлао
series: Філіппіни

description: |
  Панґлао — невеличкий тропічний острівець на південно-західному краї більшого острова Боголь провінції Боголь, Філіппіни. Фактично він є ніби продовженням Боголя, бо з’єднаний із „великою землею“ двома мостами через не дуже широку протоку. Порівняно з Боголєм, Панґлао менш освоєний і розвинений, але й дешевший.

images:
  basepath: 2019/2019-01-07-philippines_panglao

intro:
  image: panglao_title.jpg
  filters:
    - text-shadow-2
    - vignette-60
#    - sepia-10

tags:
  - Philippines

---
= chapter do
  = pull_right google_map "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62944.07344725622!2d123.75965103525017!3d9.594871814212679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33abad34f4143b73%3A0x48214266208ed212!2z0J_QsNC90LPQu9Cw0L4!5e0!3m2!1suk!2sjp!4v1547181430454" do
    markdown:

      Панґлао — невеличкий (найбільша довжина зі сходу на захід біля 17км, завширшки — біля 7км) тропічний острівець на південно-західному краї більшого острова Боголь, входить до провінції Боголь, Філіппіни. Фактично він є ніби продовженням Боголя, бо з’єднаний із „великою землею“ двома мостами через не дуже широку протоку. Порівняно з Боголєм, Панґлао менш освоєний і розвинений, але одночасно й дешевший. Хоча й тут уже достатньо цивілізації. Дороги (всі три) на всьому острові — гарні добротні „бетонки“ цілком придатні для мотоциклів. Насправді доріг більше, ніж три. Є три основні дороги: циркулярна дорога вздовж моря: зі сходу на захід, та в протилежному напрямку (Panglao Island Circumferrential Rd), і ще одна дорога посередині острова (вздовж) — Dauis — Panglao Rd. Крім цього є ще кілька — п’ять чи шість — поперечних доріг, перпендикулярних до центральної.


  = pull_right (photo "IMG_9923.jpg",  filters: []), 6 do
    markdown:

      Для пересування островом доступні кілька видів транспорту. Після найдешевшого автобуса найкращий і найвигідніший із нашого досвіду, це — мотоцикл у прокат. „Моцики“-моторолери можна взяти в оренду або безпосередньо в готелі, або на станціях прокату в популярних місцях (на пляжі Алона бачив кілька таких). Вартість однакова практично скрізь: 500 песо за 24 години, плюс власний бензин. Моторолери здебільшого — автомати, водити їх не набагато складніше за велосипеда. У деяких місцях можуть спитати чи є у вас права й задовольнитися ствердною відповіддю, а в інших можуть попросити показати права й навіть зробити з них копію. Але проблем із моїми японськими правами не було ні там, ні там.

  markdown:

    Для „безлошадних“ доступні машини по виклику, місцеві колоритні автобуси „джипні“ (jeepney) або не менш колоритні трицикли.

    Трицикл — це по суті звичайний мотоцикл із коляскою, у якому бічна коляска замінена на будку, що накриває й саму коляску і водія з мотоциклом. Всередині цієї будки влаштовані лавки для пасажирів: або в один ряд для двох таких як ми, чи трьох і більше — для худеньких, або навіть дві лавки у два ряди. Ззаду будки — відсік для вантажу, але й  у тому відсіку — бачив — може поміститися один-два пасажири. Крім того вантаж можуть перевозити також і на даху будки. Тобто, зі звичайного мотоцикла виходить цілком маршрутка дуже серйозної пасажиропід’ємності. До речі, на сусідньому Боголі переважна конструкція мото-маршруток зовсім інша, але про це далі. Колориту трициклам додає індивідуальний дизайн і „бойова розкраска“ кожної такої будки, з висловлюваннями про Джізуса, про любов і про „keep the distance“.

  = gallery %w{IMG_0132.jpg IMG_0133.jpg IMG_0139.jpg IMG_0177.jpg IMG_0329.jpg IMG_0330.jpg IMG_9893.jpg IMG_9917.jpg} do
    p Такі трицикли характерні для Панґлао

  markdown:

    Стандартна вартість для трицикла аби доїхати з одного місця до іншого — 150 песо. Причому відстань між місцями може варіюватися від кілометра-двох до 5–6 км при одній і тій же вартості в межах острова. Торгуватися треба! Перша відповідь на питання про вартість практично завжди вдвічі вища за реальну. Тож якщо вам треба за день проїхатися більше, ніж у двох напрямках, моцик у прокат явно перемагає трицикл.

= divider "IMG_0147.jpg", filters: %w{vignette-60 sepia-60} do

= chapter do
  markdown:

    „Джипні“ — це така зменшена в перетині, але значно видовжена версія київської маршрутки з повийманими вікнами, з двома поздовжніми лавками вздовж двох бортів і з величезним довжелезним капотом, як у джипа (може від цього й назва?). Єдині пасажирські двері — власне, не двері, а просто отвір — у цю маршрутку знаходяться з задньої частини авто. Їздять на джипні, як сидячи щільно спина-до-спини всередині на лавках, так і висячи по двоє-троє ззаду на сходинці в проході ззаду дверей. Вантажі здебільшого везуться на даху. Бачили джипні, де вантаж був у разів півтора вищий і більший за всю машину. Джипні, безумовно, найдешевший з усіх видів транспорту. Так, якщо дорога від столиці Боголю, Таґбіларану до Алони на трициклі обійдется біля 250 песо, то — як пишуть, — на джипні можна доїхати за ~20. Хоча й дорога займе значно більше часу: джипні можуть зупинятися щоби підібрати чи висадити пасажирів ледь не через кожні пару сотень метрів.

  = gallery %w{ IMG_0161.jpg IMG_0173.jpg IMG_0191.jpg IMG_0193.jpg IMG_0269.jpg IMG_0271.jpg IMG_0310.jpg IMG_0311.jpg IMG_0316.jpg IMG_0387.jpg IMG_0389.jpg IMG_0390.jpg IMG_0391.jpg IMG_0392.jpg IMG_0395.jpg} do
    p Парад джипні на вулицях Панґлао і Таґбіларана

  markdown:


    До речі, аеропорт Таґбіларан нещодавно був перенесений з острова Боголь на Панґлао й тепер так і зветься „Аеропорт Панґлао“, але більшість путівників цього ще не відображають. Мало того, коли ми летіли, у наших квитках було написано „Таґбіларан“, а прилетіли в „Панґлао“. Також більшість путівників пишуть, що вартість на міні-вані від аеропорту до готелів на Панґлао складає 500 песо, але з перенесенням аеропорту дорога стала коротшою й дешевшою — 300 песо.

    Ще є цілком комфортабельні автобуси, які курсують між аеропортом і готелями. Від аеропорту Панґлао до Алони проїзд коштує біля 14 песо, але дорога на автобусі значно довша — навпростець від Алони до нового аеропорту всього навсього менше кілометра, але автобус іде не по прямій і не головною дорогою, а відвідує всі закутки по дорозі.

  = photo %w{IMG_0356-EFFECTS.jpg IMG_0359-EFFECTS.jpg}
