---

layout: post
title: "Після тайфуна"
description: |
  Це очікувався настрашніший тайфун аж з 1958 го року, після якого залишилося понад 1200 загиблих та пропавших безвісти. На щастя, в більшості місць страшного не сталося, але все-одно не обійшлося без втрат. (На фото -- маршрут тайфуна Хаґібіс, №19 за японською класифікацією)

# intro:
#   image: oboke/IMG_6550.JPG
#   video: oboke/koinobori
#   filters:
#     - vignette-90
#     - sepia-20
#     - text-shadow

intro:
  # image: IMG_3482.jpg
  image: typhoon_19.png

images:
  basepath: 2019/2019-10-13-pislya-taifunu

tags:
  - typhoon
  - tokyo
---

= chapter do
  markdown:

    Це очікувався настрашніший тайфун аж з 1958 го року, після якого залишилося понад 1200 загиблих та пропавших безвісти. Але нас на цей раз пронесло, навіть у порівнянні з попереднім тайфуном місяць тому. Наша хата — на горі, і тому тільки сильний вітер може нанести якусь шкоду, дощі на нас не дуже впливають. Зате в низині, ближче до річки Тамаґава відбувалося щось страшне.

  = gallery %w{do/IMG_3448.jpg do/IMG_3449.jpg}, caption: "Ще за день до тайфуну японці почали скуповувати їжу і воду. Ввечері перед приходом тайфуну в магазин можна було б і не ходити. Купити можна було хіба що цінники."

  br

  = pull_left(photo(%w{do/IMG_3452.jpg}, filters: [], caption: "Цей же магазин, за 8-9 годин до приходу тайфуну вже був підтоплений. Щоправда, тут затоплює кожного тайфуну."), 6) do
    = photo %w{do/IMG_3467.jpg}, filters: [], caption: "Багато хто підготувався: скло вікон заклеєно стрічкою."

  hr

  = gallery %w{riven/IMG_3460.jpg riven/IMG_3469.jpg}, filters: [], caption: "На цих двох фото можна оцінити наскільки піднімалася вода в каналі. Перше фото -- за кілька годин до підходу тайфуну. друге -- наступного дня після того, як вода трохи зійшла. (Клацніть на фото, щоб побачити лінійки на стіні)."

  = vimeo id: "366038319"

  markdown:
    Ще ввечері почали надходити повідомлення про підтоплення. А вранці наступного дня ми пройшлися кварталами, ближчими до ріки і були свідками такого. В багатьох місцях перший поверх — повністю затоплений. Видно, що вода доходила навіть до другого поверху.

    Відео нижче: річка Тамаґава після тайфуна (на другий день). Зазвичай, у звичайні дні ширина річки --- не більше 20-30 метрів.

  = vimeo id: "366030760"

  markdown:
    Вздовж ріки -- багато підтоплених будинків. Рівень води, як видно по залишкам мулу на кущах, доходив до другого поверху. Рятувальні служби, пожежні команди з насоcами і просто насосні бригади викачують воду.

  = gallery %w{after/IMG_3474.jpg after/IMG_3476.jpg after/IMG_3478.jpg after/IMG_3479.JPG after/IMG_3480.jpg after/IMG_3482.jpg after/IMG_3485.jpg after/IMG_3488.jpg after/IMG_3491.jpg after/IMG_3493.jpg after/IMG_3501.JPG}
