---
title:     Пляжі Панґлао й Боголя

series: Філіппіни

description: |
      Пляжі різняться за рівнем ухоженості й популярності. Деякі не надто популярні серед туристів виявилися захаращеними водоростями й побутовим сміттям, але інші — туристичні,— доглянуті й поприбирані. Пляжі чередуються з кораловими скелями.


images:
  basepath: 2019/2019-01-12-philippines_plyazhi_panglao

intro:
  image: title.jpg
  filters:
    - text-shadow-2
    - vignette-60
#    - sepia-10

tags:
  - Philippines
  - Panglao
  - diving

---
= chapter do
  markdown:

    Панґлао має кілька гарних пляжів із білим кораловим пісочком. Вони різняться за рівнем ухоженості й популярності. Деякі пляжі, не надто популярні серед туристів виявилися захаращеними водоростями й побутовим сміттям, але інші — туристичні,— доглянуті й поприбирані.

  = pull_left  (photo "GOPR2800.jpg", filters: [], caption: "Морські їжаки на пляжі біля Алони"), 6 do

    markdown:

      Пляжі чередуються з кораловими скелями. У багатьох місцях морський прибій розбивається об скелясті стіни коралових покладів, які утворюють острови, і в таких місцях зручного підходу до моря з берега немає. У багатьох готелях підхід до моря — це бетонні сходи з кручі просто до моря. Інколи біля підніжжя сходів є — а часто й немає, — клаптик у десяток-другий квадратних метрів пісчаного дна. Коралове помережане плямами чистюсінького білюсінького коралового пісочку, але здебільшого дно вкрите коралами (як живими, так і відмерлими) і водорастями-травою. Проблема в тому, що на коралах і камінні та поміж водоростями тут живе сила страшенна — тисячі й тисячі — морських їжаків. Їжаки небезпечні тим, що наступивши на них можна загнати під шкіру їхні крихкі голки, які обламуються й залишаються під шкірою й дуже болючі. Тому тут скрізь рекомендується носити гумове взуття у воді або ж не заходити на вкриті травою ділянки.

  markdown:
    Зате там, де пісок є — пляжі просто прекрасні. Кораловий пісочок на Панґлао мілюсенький-дрібнюсенький ніби придорожній пил і білий-білісінький немов цукор.

  = youtube "dWLrRu4dXls"

= divider "alona.jpg", filters: [] do
= chapter do

  markdown:

    ## Алона

    Найпопулярніший пляж Панґлао — Алона. Зараз біля цього пляжу виросло невеличке містечко, що буяє туристами й бізнесом. Пляж Алони не супер величезний — загалом із кіломентр завдовжки, але не надто широчезний. У деяких місцях від краю води до краю пляжу може бути не більше за 20–30 метрів, і тут же через дорогу стоять готелі й ресторани.

  = gallery %w{IMG_0101.jpg IMG_0103.jpg IMG_0109.jpg} do
    p Захід сонця на пляжі Алона

  markdown:

    Зате берег на Алоні чудовий для купання — доволі мілко для купання з дітьми, але й не треба брести багато сотень метрів у глибину. Але та ж сама проблема: уже за кілька десятків метрів від берега в багатьох місцях починаються трав’янисті зарості а, отже, і їжаки.

    Вдень і ввечері весь пляж Алона буяє. Тут десятки ресторанів просто на березі, також звідси відправляються на Балікасаґ та домашні рифи човни з пірнальниками. Тут і там десятки людей носять туди-сюди заправлені і спорожнені балони кисню для аквалангів, купи приготованого для спусків підводного спорядження. А на березі вас перестрівають десятки „прилипал“ із ламінованими карточками, які пропонують вам записатися на той чи інший підводний спуск чи поїздку. Вечорами звідусіль глушачи сусідські ресторани лунає музика, на вулицях — натовпи гуляючого народу. Коротше — перед резервуванням готелю на Алоні, подумайте чи такий відпочинок це ваш тип задоволень, або чи вам треба щось спокійніше.

  = gallery %w{IMG_0035.jpg IMG_0047.jpg IMG_0182.jpg IMG_0184.jpg IMG_0336-EFFECTS.jpg IMG_9929.jpg IMG_9939.jpg IMG_9944-EFFECTS.jpg IMG_9946.jpg} do
    p Пляж Алона. Пси почувають себе тут дуже вольготно, вони зовсім не звертають уваги на людей і можуть спати зовсім поруч з пляжниками.  Ресторани знаходяться просто поруч з краєм води через дорогу, на останньму фото - ресторан Trudis Place.


  markdown:
    Алона (так само як і Білий та Думалуан далі) — дуже чисті пляжі. Тут "неозброєним оком" видно, що прибирається сміття і водорості. Загалом враження від чистоти пляжів — дуже позитивне.

  = gallery %w{IMG_0328.jpg IMG_0332.jpg IMG_0335.jpg IMG_0336.jpg IMG_0348.jpg IMG_0349.jpg IMG_0351.jpg IMG_0368-HDR.jpg IMG_0371.jpg} do
    p Зустріч Нового року на пляжі Алона. Відлік Нового Року закінчується грандіозним фейерверком, всі зустрічають Новий рік просто на піску.

  markdown:
    ## Білий пляж, Думалуан

    На відстані біля п’яти кілометрів на схід від Алони — ще два пляжі, вони поруч і переходять один в один майже непомітно — Білий пляж (White beach) та пляж Думалуан. Ці два пляжі значно більші за Алону — ширша смуга піску. Пісок такий же білюсінький-дрібнюсінький. Тут значно спокійніше за Алону, але й розваг менше.

  = gallery %w{IMG_0352.jpg IMG_0353.jpg IMG_0358.jpg IMG_0359-EFFECTS.jpg IMG_0363.jpg IMG_0364.jpg}

  p Недолік Білого пляжу — те що місцевий народ облюбував його для цілодобового караоке. Тому тут день (і ніч!) напроліт лунають співи. Часто не супер музичними голосами, і що гірше — з не супер добрим музичним слухом. Зате нестаток голосу і слуху компенсується розміром музичних колонок! Але наш перший готель був у парі сотень метрів від Білого пляжу, співи до нас таки долинали ночами, але все-таки відстань дає своє й навіть коли караоке продовжувалося далеко за північ, вдавалося спати. Зате на ранок нас завжди будили півні. У перемішку з готелями й гостьовими домами — приватні хати. З курами, півнями, козами на прив’язі й навіть свинями. Але не переживайте за запахи — усе пристойно.
