---
title: Онсени Хоккайдо
series: Хоккайдо, 2019

description: |
  Хоккайдо — це один величезний онсен. Сліди вулканічної діяльності тут на кожному кроці. Найбільший в світі кратер непрацюючого вулкану, найбільше в Японії джерело гарячої вулканічної води.
images:
  basepath: "2020/2020-05-18-hokkaido-onsens"

intro:
  image: IMG_2645.jpg
  filters:
    - text-shadow-2
    - vignette-80
    - sepia-50

tags:
  - Japan
  - Hokkaido
  - travel
  - onsen

---
= chapter do
  markdown:

    Взагалі, якщо бути чесним, то Хоккайдо — це один величезний онсен. Сліди вулканічної діяльності тут знаходяться на кожному кроці. Тут — найбільший в світі (*у світі !*) кратер непрацюючого (_слава тобі, Всевишній!, що поламався!_) вулкану. Тут же --- найбільше в Японії джерело гарячої вулканічної води. Не знаю, чи правильно називати „джерелом” гаряче булькаюче озеро більш, ніж кілометр в периметрі. Але, так воно є.   Сліди вулканічної діяльності на Хоккайдо настільки грандіозні, що їх не помічаєш „неозброєним оком”. Ну, тобто, ти, звичайно, бачиш, що стоїш біля величезного озера (з очами все в порядку). Але без додаткової інформації товаріща Гугла ти не будеш знати, що ось саме це озеро — озеро Кушяро — є *найбільшим* [вулканічним кратером](https://japan-magazine.jnto.go.jp/en/1106_hokkaido.html) на земній кулі. І тільки потім, звіришившись з гуглом, ти помічаєш, що це озеро якось підозріло має форму майже ідеального кола.

    Ця частина розповіді буде про найцікавіші онсени Хоккайдо. Як має бути зрозуміло із вступу: описати всі онсени немає можливості. Просто не вистачить людського життя, щоб їх відвідати, а тим паче розповісти про них. Тому тільки про найцікавіше.   А саме:  

    - про онсен з нафти,
    - онсен з болота і
    - просто про накращий онсен Японії.

= divider "nafta.jpg", filters: %w{vignette} do
  markdown:
    # Нафтовий онсен

    Ви коли-небудь купалися у нафті? Ну, не те щоб зовсім у нафті, але, наприклад, у гарячій воді „з добавленими нафтопродуктами”. Ні, мова не про бензоколонку з протипожежним басейном біля неї. Мова про онсен.

= chapter do
  markdown:

  = pull_right google_map "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7462.293661126608!2d141.7723989369488!3d45.10059102738174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0e2a3cf53f943d%3A0xd8665a7da99c0db1!2sToyotomi%20Station!5e0!3m2!1suk!2sjp!4v1569495318230!5m2!1suk!2sjp" do
    markdown:

      До суті справи.  На Хоккайдо є унікальний онсен, онсенне містечко — Тойотомі онсен. Унікальний у тому сенсі, що у світі онсенів з нафтою існує всього два: ось цей, і ще один десь у Азербайджані. Різниця тільки в тому, що азербайджанський онсен викупає вас у чорній нафті. Сподіваюся, що поруч з тим азербайджанським чорно-нафтовим онсеном є або ванна, або хоча-б гарячий душ, щоб відмитися після такого купання. На відміну від Азербайджану, в Тойотомі ви викупаєтеся у більш-менш прозорій воді, інколи з жовтуватою пінкою на поверхні. Нафта у Тойотомі біла, не чорна. Піна на воді часом нагадує дитячі какашки, але головне пам’ятати, що все це корисно…   Судячи з кількості відвідувачів — хоккайдівський нафтовий онсен все ще не дуже „розкручений”. Тут --- всього пара готелів і одна чи дві публічних ванн (можливо, навіть одна --- ми трохи походили навколо, поки знайшли де було відкрито).

      Пишуть, що вода цього типу дуже корисна для людей з алергіями або із захворюваннями шкіри. Але, перш, ніж пірнати в гарячу „нафту”, рекомендується, все-таки, проконсультуватися з лікарем.

      Як сюди добиратися? Цікаве питання. Одну з відповідей дає японський майданчик [Japantravel](https://japantravel.navitime.com/en/area/jp/spot/02301-1503004/). На сторінці, присвяченій цьому онcену, є дві підказки в розділі Access (Доступ): "Найближча станція --- Нема станцій поблизу", "Найближча автостоянка --- Нема автостоянок поблизу". Фактично, єдиний надійний  спосіб добратися до онсену --- це власна машина. І гугл-мапс. Тож, хай щастить!

= divider "obihiro.jpg", filters: %w{vignette-60 text-shadow-2} do
  markdown:
    # Болотяний онсен  

    Ви коли-небудь купалися у гарячому болоті? Нє, ну от серйозно. Хто мав можливіть скупатися у гарячому болоті? Ну… чекаю на підняті руки…  Ну, нє то нє…

    Якщо ще не довелося, то можете використати свій шанс і скупатися у болоті у будь-якому з онсенів Обіхіро.

= chapter do
  markdown:

  = pull_right google_map "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11689.885960157559!2d143.178483!3d42.9050963!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f739962271e01f5%3A0x891d484f12c750e9!2sGreen%20Park%20Park!5e0!3m2!1suk!2sjp!4v1589793317213!5m2!1suk!2sjp" do
    markdown:

      Унікальність онсенів містечка Обіхіро в тому, що вони органічні. На відміну від переважної більшості мінеральних онсенів Японії. Вода в онсенах Обіхіро, перш ніж потрапити в труби водокачок, проходить не через мінеральні нашарування, а через органічні відклади. Через це вода набуває специфічних властивостей і запаху (ще того!).

    = gallery %w{IMG_3011.jpg IMG_3012.jpg IMG_3014.jpg IMG_3015.jpg IMG_3016.jpg IMG_3017.jpg IMG_3018.jpg} do
      p Місцевий краєзнавчий музей містечка Обіхіро. В основному артефакти епохи Мейджі і пізніші. Натцкукашіі...

  markdown:
      Вода до онсенів подається з глибини від 30 до 50 метрів, і, в залежності від глибини, змінюється температура. Чим глибше, тим гарячіше. Але, при цьому, все одно, запах води — болотний. Пояснювальні таблички пишуть, що якість цієї „органічної” води також залежить від кількості „черв’ячків” чи водоростей у ній. Якщо ви помітите, щось таке плаваюче у воді — не лякайтеся. Так треба. Це — корисно.

  = gallery %w{IMG_3007.jpg IMG_3008.jpg IMG_3009.jpg} do
    p Пояснювальні таблички в онсені з інформацією про болотяні онсени та річку Сатцунай.

  markdown:

    Ще одна цікавинка онсенів в Обіхіро — це холодні ванни на виході із сауни. На перший погляд — нічого особливого, ванна як ванна. Але, в кожній ванні біля крану висить кружка. А біля кружки — табличка. На табличці надпис, що холодна вода подається сюди прямо з річки Сатцунай, і є питною. Мало того, що питною, але вода в річці Сатцунай визнана найкращою і найчистішою водою серед усіх річок Японії. Крім того, що чиста, вона ще й холоднюча! На той час, коли ми були, при температурі назовні біля ~30 цельсія, вода з річки біля 16, а то й менше.   

  = pull_right photo "IMG_3019.jpg", filters: [], caption: "Вуличка ресторанів-ізакая в Обіхіро. " do
    markdown:
      Під час „гарячого сезону” (туристично-гарячого), як наприклад в час „обону”, Обіхіро перетворюється на туристичну мекку. Нам, загалом, пощастило, — ми двічі потрапили до „справжніх” онсенів. Але якщо ваше щастя вам зрадить, пам’ятайте — не вдасться потрапити в онсен, завжди залишаються в запасі сенто (публічні ванни). В Обіхіро, як нам розказав місцевий експерт, — серед 20+ з чимось сенто --- тільки одна ванна, не має натуральної води. Всі інші — хоч і звуться „сенто”, все одно є онсенами. Яка одна з тих „несправжня”, — не знаю, у мене не питайте, спитайте у місцевих. Хай ваше щастя покаже вам.

  = gallery %w{ IMG_3010.jpg IMG_5502.jpg IMG_5506.jpg} do

    p Тої ночі ми просто заночували у центральному парку Обіхіро (див. на мапі вище). Величезний парк, як для міста такого розміру. З кількома автостоянками. На стоянках ночували десятки таких же, як і ми. Стоянки з водою і з туалетами. Прокинувшися, ми ще проїхалися велосипедами по парку і навколо. Тут же  в парку є кілька музеїв і навіть зоопарк. Зранку по всіх доріжках парку бігають білки. Жаль тільки горішків із собою не було.

= divider "IMG_5543.jpg", filters: %w{vignette-60 text-shadow-2} do
  markdown:
    # Ноборібецу онсен

    Найкращий онсен Японії. Так нам сказав сам пан Гугл. Не відвідати його ми, звичайно ж, просто не могли.

= chapter do
  markdown:

    Онсенне містечко Ноборібецу — досить традиційне. Не варто шукати чогось особливого. Просто --- курорт з однією вуличкою ресторанів, раменних, готелів. Зате тут є щось таке особливе, чого нема в інших онсенах: величезне джерело гарячої води. Настільки величезне, що подібного немає по всій Японії. Це джерело і живить все онсенне містечко — водою (окропом) і туристами.

  = pull_left  (gallery %w{IMG_3085.jpg IMG_2647.jpg IMG_2653.jpg IMG_3066.jpg IMG_5525.jpg IMG_5537.jpg IMG_5570.jpg}), 8 do

    markdown:
      Десь за кілометр від міста знаходиться гаряче озеро, з якого 24/7 тече гаряча вода до міста. Озеро --- найбільше джерело вулканічної гарячої води в Японії. Гаряче озеро має понад кілометр по периметру, температурою 50+ градусів цельсія і 22 метри в глибину (не знаю, хто його міряв, я б не захотів тут пірнати).

      Від міста до озера і до кількох менших озерець/гейзерів ведуть доріжки. Ці — побудовані над вулканічними полями, дерев’яні стежки, — проходять понад поїденим сірчаними викидами камінням і пихкаючими парою щілинами.  

  markdown:

    Вздовж стежки від міста до озера, виставлені щити з запитаннями-відповідями (наприклад: "Який периметр гарячого озера?", 100м, 1км, 5км). Поки гуляєш, читаєш запитання, думаєш, через 100 метрів дивишся відповідь на наступному стенді, разом з наступним запитанням. Але наш _quiz_ був трохи spoiled. Наша проблема була в тому, що ми йшли з протилежного напрямку: від озера до міста, від відповідей до запитаннь. Ідеш собі… читаєш відповідь, думаєш, „а що вони хотіли спитати?”, доходиш до наступного стенду: „А! ось воно!!”. Зате коли ми поверталися від міста до озера, то мали свої 100%. Passed!


  = gallery %w{IMG_3081.jpg IMG_3083.jpg IMG_3084.jpg IMG_5550.jpg IMG_5552.jpg IMG_5553.jpg} do

    p Від гарячого озера до міста тече гаряча ріка. Там, де вода вже більш-менш терпима, з берега вже можна засунути ноги у чорний гарячий вулканічний пісок і трохи погрітися. Японською це зветься "аші-онсен" - онсен для ніг.

  br
  p

  = gallery %w{IMG_3112.jpg IMG_3102.jpg IMG_3111.jpg IMG_3092.jpg IMG_3104.jpg IMG_3107.jpg IMG_3109.jpg} do
    p Вулички містечка Ноборібецу прикрашені то тут то там фігурами червоних чортів, охоронців пекла

  br
  p

  = gallery %w{IMG_3103.jpg IMG_3099.jpg IMG_3098.jpg IMG_3096.jpg  IMG_3097.jpg} do
    p Рамен в Ноборібецу
