---
layout: post

series: "Філіппіни. Друга подорож"
title: "Острів Кабілао"

description: |
    В протоці Себу між одноіменним островом Себу і островом Боголь  знаходиться невеличкий острівець Кабілао (Cabilao) розміром всього біля 3,5км зі сходу на захід і приблизно стільки ж з півночі на південь. Відгуки про пірнання на Кабілао ми почули від туристів під час першої подорожі на Філіппіни і мали його відвідати.

intro:
  image: "IMG_1223.jpg"
  filters:
    - text-shadow-2
    - vignette-80
    - sepia-40

images:
  basepath: 2020/2020-06-17-philippines2_cabilao

tags:
  - Philippines
  - Cebu
  - diving
  - Asia
  - travel
  - cabilao
  - Bohol

---

= chapter do
  markdown:

    На східному краю острова Боголь, в протоці між великим островом Себу і меншим Боголєм (протока Себу) знаходиться невеличкий острівець Кабілао (Cabilao) розміром всього біля 3,5 км зі сходу на захід і приблизно стільки ж з півночі на південь. Населення острова складає трохи більше чотирьох з половиною тисяч, і однією із знаменитостей острова, відповідно до Вікіпедії, є озеро. Це озеро — єдине острівне озеро в провінції Боголь.


    Багато схвальних відгуків про пірнання на Кабілао ми почули ще під час нашої першої подорожі на Філіппіни від таких же, як ми туристів і вирішили, що у другу поїздку ми маємо його відвідати. Перш, ніж їхати на Кабілао треба подбати про резервування місця ночівлі. Справа в тому, що на острові є всього три діючих пірнальних центри-готелі, і є великий шанс залишитися під відкритим небом, якщо місць на цей час не буде. Ще гугл-мапс показує якийсь bed-n-breakfast в центрі острова, але я не знаю, що воно таке і судячи з фото на гуглі — не надто обнадіююче.

  = pull_right google_map "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d140068.64462907423!2d123.81228766681687!3d9.828860562761221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33abccc2ebebbb09%3A0xf38353d6a9862d0c!2sCabilao%20Island!5e0!3m2!1sen!2sjp!4v1592368180125!5m2!1sen!2sjp" do
    markdown:
      Ми зупинялися в [Polaris Beach and Dive Resort](https://www.polaris-dive.com/) і залишилися *дуже* задоволеними. В кількох хвилинах пішки від Поларіс також знаходиться Cabilao Sanctuary Beach & Dive, а ще один готель знаходиться на протилежному — східному — кінці острова.


      Всі бунґало Поларіс побудовані частково на палях, а частково на пальмах. Вся територія вкрита пальмами і от просто на цих пальмах на висоті другого – два з половиною поверха “підвішені” будиночки з пальмового дерева і пальмового листя. Причому ці будиночки мають всі умови для комфорту: душ з туалетом, балкон з кріслами і гамаком, вентилятори і двоспальні ліжка. Вся територія дуже компактна, але за рахунок ось такого “піднятого” планування ви маєте цілком приватну атмосферу у своєму будиночку. В центрі території знаходиться вся адміністративна частина і одночасно ресторан. Ресторан використовується в основному під час сніданку, а на вечерю та — за бажанням — на час обіду на берег моря на пісочок виносять столи, крісла або ж у кількох пальмових альтанках накривають вечерю при світлі свічок прямо в білюсінькому пісочку під морським бризом.

  = gallery %w{IMG_1215.jpg IMG_1217.jpg IMG_1221.jpg IMG_1223.jpg IMG_1225.jpg IMG_1245.jpg IMG_1276.jpg IMG_1281.jpg IMG_4500.jpg IMG_4494.jpg IMG_4518.jpg IMG_4503.jpg} do
    p Територія та інтрер'єри нашого готелю Polaris.


  markdown:
    Добиратися до Кабілао потрібно машиною (або трициклом — дивлячись звідки) і човном. Від о-ва Боголь дорога проходить через такий же невеличкий острівець Сандінґан, з’єднаний з Боголєм мостом, а от уже від Сандінґана до Кабілао треба шукати човен. Човен знайти немає жодної проблеми, оскільки вони відправляється протягом всього дня і перевозять як місцевих жителів, так і туристів. Знаючи, в якому готелі ви замовили собі місця, ви просто скажете про це перевізнику і він доставить вас прямо у сам готель. Вже підзабулося, але, здається, ми заплатили за перевіз біля 200-250 песо з людини.

  = gallery %w{IMG_1249.jpg IMG_1256.jpg IMG_1257.jpg IMG_1259.jpg IMG_1260.jpg IMG_1261.jpg IMG_1264.jpg IMG_1263.jpg} do
    markdown:
      В один із днів ми вибралися в невеличку пішу прогулянку островом навколо нашого готелю і навколишніми селами.  Подивилися також і знамените озеро посеред острова, але озеро не вражає, якщо чесно.
