---
layout: post
series: "Філіппіни. Друга подорож"
title: "Острів Сікіхор (Siquijor), травень 2019"
description: |
  У більшості путівників та веб-майданчиків Сікіхор описується як „острів чорної магії” або „містичний острів”. З давніх-давен тут жили шамани цілителі і маги. Одним із рекламованих туристичних точок острова є величезне баньянове дерево - „балете”. Наслідуючи славу острова величезний баньян-„балете” також має славу зачарованого дерева.

intro:
  image: "IMG_1181.jpg"
  filters:
    - text-shadow-2
    - vignette-80
    - sepia-60

images:
  basepath: 2020/2020-05-16-philipines-II-siquijor

tags:
  - Philippines
  - Cebu
  - diving
  - Asia
  - travel

---
= chapter do
  = pull_right google_map "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126032.54304131944!2d123.50715942755652!3d9.197968504551751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33ab17cb6e359825%3A0x4408a8be27aeca0c!2sSiquijor!5e0!3m2!1suk!2sjp!4v1589685973742!5m2!1suk!2sjp" do
    p Після Малапаскуа #{link_to_article("Острів Малапаскуа")} і Моолбол #{link_to_article("Моолбол, острів Себу")} острів Сікіхор був третім у нашій другій подорожі до Філіппін.

  = gallery %w{IMG_1102.jpg IMG_1113.jpg IMG_1120.jpg IMG_1128.jpg  IMG_1111.jpg IMG_4436-EFFECTS.jpg IMG_4437.jpg IMG_1181.jpg} do

    p Наш готель бунгало на острові схований в джунглях на скелі прямо понад морем, трохи подалік від цивілізації, якщо можна так назвати кілька десятків будинків вздовж дороги, що по колу оминає весь острів.

= divider "IMG_4421.jpg", filters: [ "text-shadow-2", "vignette-80", "sepia-60" ]
  markdown:

    # Дорога до острова

    З тим, щоб добратися до Сікіхора із Моолбоол знову виникли невеликі проблеми, і вже в другий раз за нашу подорож нам довелося "зрадити" своєму принципу „мандрувати як справжні туристи”.

= chapter do
  markdown:
    Проблема виявилася в тому, що паром на Сікіхор з „великої землі” Себу відходить всього раз на день, о десятій ранку і щоб не втратити день ми маємо бути там заздалегідь. Тому цього разу ми вирішили не покладатися на ентропію розкладів автобусів чи джипні до порту на Сікіхор, і знов замовили собі машину. Це обходиться у 2800 песо і ви вкладаєтеся в передбачувані півтори години.

    ## Пором

    При посадці на паром з’являються перші „цікавинки”: перед входом на термінал парома треба купити квиточок, щоб потім за цим квиточкно вже  можна було купити квиток на сам паром. Але то таке… Проїзд від Себу до Сікіхора коштує 200 песо і займає 3 з половиною години. Швидших паромів наразі не існувало. Нам порадили бути в порту мінімум за годину до відправки. Так ми й були, не знаю чи це справді було необхідним, бо ми просто сиділи і чекали, але наскільки це правда — вирішувати вам.

  = gallery %w{IMG_1203.jpg IMG_1205.jpg IMG_4479.jpg} do
    p Пором від Сікіхора до порту Таґбіларан, о-в Боголь. Між різними островами ходять різні типи поромів, які також відрізнаються і швидкістю.

= divider "IMG_1188.jpg", filters: [ "text-shadow-2", "vignette-50", "sepia-60" ]
  markdown:
    # „Містичний” острів чорної магії

= chapter do
  markdown:

    У більшості путівників та веб-майданчиків Сікіхор описується як „острів чорної магії” або „містичний острів”, тощо. З давніх-давен тут жили ві все ще живуть  шамани, цілителі, маги. У нашому випадку вся „містичність” вилилася в тому, що при спробі зустрітися з місцевим шаманом ми нікого не знайшли: після кількох годин їзди на мотоциклі до якогось забутого Богом села в горах, прочекали кілька годин і поїхали ні з чим. Бо виявилося, що сьогодні десь там внизу в місті біля пляжу була „фієста”, і всі шамани зібралися туди щоб похавать нашару. Приблизно так нам пояснила донька шамана суть святкувань: „В місті фієста, і куди б знахар не заходив, його скрізь запрошують поїсти”. Поки шаман їв, ми встигли з’їздити до найвищої точки острова — на вершину гори, залишилися не враженими краєвидами (відсутністю їх) і ні з чим повернулися до дому шамана.

  = gallery %w{IMG_4456.jpg IMG_1189.jpg IMG_4438.jpg} do
    p Село біля хати мага, де ми його чекали. В джуглях, трохи подалі від моря і хоча, не так вже й високо в горах, але все одно відчувається прохолода порівняно з берегом моря. Місцеві як діти, так і дорослі біля ручної помпи купаються, миють посуд і тут же перуть білизну.

  = gallery %w{ IMG_1184.jpg IMG_1183.jpg IMG_1182.jpg } do
    p "Бензозаправка" для мотоциклів і "супермаркет" по дорозі до хати шамана. Марка бензину визначається просто: "Вам який червоний чи зелений?". Кажу: "А хто його знає", бабця заглянула в бак і каже: "Зелений" (чи може був червоний, вже не пам'ятаю).


= divider "IMG_1178.jpg", filters: [ "text-shadow-2", "vignette-30" ]
  markdown:

    Але загалом варто присвятити день або хоча б пів дня чи кілька годин, що об’їхати навколо острова і переглянути цікаві місця.

    # Що подивитися на острові

= chapter do
  markdown:

    Сікіхор — більший за Малапаскуа чи Панґлао. Щоб його об’їхати мотоциклом треба від кількох годин до майже повного дня. Тут є що подивитися крім пляжів (шаманів я вже згадував).

    ### Величезний баньян, дерево „балете”
  br

  = photo "IMG_4409.jpg", filters: %w{vignette-50}
  markdown:
    Один з найбільш розрекламованих туристичних принад острова є величезне баньянове дерево — з місцевої мови зветься дерево „балете” (_англ.: balete tree_) — на краю невеличкого ставка з проточною водою. Дерево вкрито обвислими до землі гілками — повітряними коренями, — які достигнувши землі вкорінюються в землю і перетворюються на нові стовбури. Дереву багато сотень років. З вікіпедії: дерево „балете” належить до родини фікусових. Фікуси „балете” — паразити, що селяться на інших деревах, потім пускають власне коріння, поширюючись навколо і врешті-решт задушують дерево, на якому оселилися, у своїх обіймах, таким чином перетворюючись у дерево.

    Цьому найбільшому баньяну на Сікіхорі вже понад 400 років. Тут вам продадуть квиточки, щоб підійти до нього і встромити ноги у басейн з рибками. Насправді дерев балете на острові багато, але далеко не всі вони ідуть в комплекті з басейном. Ажіотаж саме біля цього дерева саме через його вік і басейн з рибками біля нього.

  = gallery %w{IMG_4401.jpg IMG_4405.jpg IMG_4406.jpg IMG_1130.jpg IMG_4402.jpg IMG_4404.jpg} do

    p  В басейні рибки, які починають обгризати мозолі на п’ятках і пальцях ніг, як тільки ви встромите в басейн ноги.

  markdown:

    Тут в басейні водяться як малюпусінькі рибки — у кілька сантиметрів завдовжки, — так і доволі величенькі рибенції 15-20 см з ротякою більшою за великого пальця ноги. Коли ці останні починають шкрябати зубами по п’ятках, переслідує думка: „хоча б мізинця не відкусили”. Але що цікаво — всі пальці на місці.

    Крім того, наслідуючи „містичну” славу острова величезний баньян-„балете” також має славу зачарованого дерева. Але в чому саме проявляється „зачарованість” виявити не вдалося.

    ## Підземна ріка

    В районі Ларена цікаво злазити в карстову печеру де протікає справжня підземна ріка. Дістатися до цієї печери можна тільки мотоциклом, оскільки цивілізації навколо ціїє печери немає на кілька кілометрів в усі боки. Тому ми трохи пошукали, поки все таки цю печеру і річку знайшли. Назва печери і річки _Sambulawan Underground River_, за назвою гугл знаходить печеру, тому з мобільним телефоном знайти печеру можна.

    У печері тече справжня підземна річка. Вода в річці доволі тепла і можна плавати без підводних костюмів, але вміння плавати вам, таки, знадобиться. Місцями досить вузька розщелина печери сходиться над головою так, що ні ногами ні руками впертися чи зачепитися немає за що, а ноги до дна не дістають.

    Щоправда, біля входу в печеру вас зустрінуть місцеві і запропонують рятувальні жилети і ліхтарики на лоба. Вартість відвідування печери --- 250 песо з людини. В печері вас також буде супроводжувати гід із місцевих.

    Від входу печера розходиться у два протилежні напрямки: в один бік іде просто звичайна печера без води, в деяких місцях треба лізти на пузі і навіть здавалося, що є такі місця де б на проліз. А в інший бік іде саме ця підземна ріка --- печера заповнена водою, місцями можна йти по пояс чи по груди у воді, а місцями потрібно просто пливти. Вода в річці чиста і прозора. Для на це був перший досвід такого типу, хоча раніше ми були в карстових печерах, але так щоб пливти підземною річкою кілька сотень метрів, ще не доводилося.

  = gallery %w{GOPR4414.jpg GOPR4415.jpg GOPR4420.jpg GOPR4429.jpg GOPR4431.jpg GOPR4435.jpg GOPR4436.jpg GOPR4440.jpg GOPR4446.jpg GOPR4449.jpg GOPR4451.jpg GOPR4453.jpg GOPR4456.jpg GOPR4457.jpg} do
    p Яка ж жінка відмовиться від чудової грязевої маски на обличчя?

  markdown:
    ## Водоспади і гірські річки

    Недалеко від підземної ріки протікають і наземні річки теж. І, стікаючи, з гір утворюють кілька водоспадів із невелими озерцями для прісноводного купання. Коли вам наскучать морські пейзажі та пляжі, для різноманіття цілком можна відправитися поплавати в горах. Вода в цих озерах теж доволі тепла.

  = gallery %w{GOPR4398.jpg GOPR4399.jpg GOPR4400.jpg GOPR4403.jpg IMG_4412.jpg IMG_4411.jpg} do
    p Купання у водоспадах.

= divider "IMG_4464.jpg", filters: [ "text-shadow-2", "vignette-30" ]
  markdown:

    # Пляжі і підводна фауна

= chapter do
  markdown:

    Описувати всі пляжі справа невдячна. Простіше взяти мотоцикла на день і прокататися вздовж берега, завертаючи то там, то там. Пляжів багато і різних. Десь більш викохані, десь менш. В деяких місцях прямого підходу до берега немає, треба пройтися, чи проїхатися між парканами готелів, але практично скрізь до берега дістатися можливо.

    На Сікіхорі ми не так активно пірнали, як перед цим у Моолбоолі, і під водою провели тільки один спуск. Більшість часу пішла на дослідження острова. В готелі, де ми зупинялися, підводного центру не було, тому ми відшукали його десь з кілометр вздовж тієї ж окружної дороги в одному з сусідніх готелів. Пірнали цього разу не з човна, а з берега, тому довелося досить довго іти по мілководдю з балонами і свинцем на поясі, аж доки не добрели до місця, де вже можна було плисти. Але, все одно, враження від пірнання чудові. Фауна тут знову відмінна від попередні місць, хоча і знаходиться це все зовсім недалеко. Напраклад, чорних крилаток і блакитних пісчаних вугрів ми бачили тільки тут.

  = gallery %w{ GOPR4382.jpg GOPR4388.jpg GOPR4462.jpg GOPR4468.jpg GOPR4482_PhotoScape.jpg GOPR4487.jpg GOPR4511.jpg GOPR4518.jpg GOPR4519.jpg IMG_1115.jpg IMG_1154.jpg IMG_1156.jpg IMG_4457.jpg} do
    p Підводне і надводне морське життя

  markdown:
    _Токіо, травень 2020_
