---
title: Витрішки
summary: Я - Дмитро Ковальов. Це мій блог про те, що мені цікаво поза моєю роботою. Тобто, тут може йтися про що завгодно, але немає жодної згадки про комп'ютери.
layout: simple
intro:
  image: backgrounds/about.jpg
  filters:
    - vignette-90
    - sepia-40
    - text-shadow
---

- @title = capture
  = image_tag "dmytro.jpg", width: "150px", height: "150px", class: "img img-circle shadow-z-5", style: "margin: -10px; margin-right: 2em;"
  | Витрішки

- @subtitle = capture
  = data.page.summary
  center#year-nav
    h3
      - blog.articles.map {|a| a.date.year }.uniq.sort.each do |year|
        = link_to year.to_s, "/#{year}.html"

/ -------------------------------------------- row
.row.row-34-page
  .col-md-5
    .row.text-center
      h1
        i.fa.fa-2x.fa-user
    .row.text-center
      p.text-justify
        | Блог "Витрішки" &mdash; це блог про все, що завгодно, крім того, чим я займаюся на роботі.  В основному тут розповіді про наші подорожі. Здебільшого авто подорожі Японією.

  .col-md-5.col-md-offset-1
    .row.text-center
      h1
        i.fa.fa-2x.fa-comments
    .row
    p.text-justify
      | Але не тільки про це. Взагалі, все що мені цікаво, потрапило на очі чи надибалося деінде. Подорожі Азією, побачене на вулицях Токіо, чи навколо мене.


.row.row-34-page
  .col-md-5
    .row.text-center
      h1
        i.fa.fa-2x.fa-github
    .row.text-center
      p.text-justify
        | Всі мої технічні записи і документація до програмних проектів (переважно англійською), а також ресурси (трохи застарілі) присвячені українізації Лінакса, та вживанню української мови на операційних системах типу Юніксу та Лінаксу розташовані на <a href="http://dmytro.github.io">моєму Ґітхаб сайті</a>
  .col-md-5.col-md-offset-1
    .row.text-center
      h1
        i.fa.fa-2x.fa-user-secret
    .row
      p.text-justify
        | Зі мною при бажанні можна зв'язатися, скористувавшися соціальними ланками внизу сторінки, або через  коментарі до статей.

.row
  h3 Кілька останніх дописів-витрішок
  ul
    - blog.articles[0..9].each do |article|
      = partial :article_link, locals: { article: article }
      / = link_to article, class: "article-link article-link-well" do
      /   i.fa.fa-sm.fa-pencil.fa-small>
      /   span= article.title
